<div id="temp-checkout">
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 box-default" ng-if="Payment.shiping">
                    <div class="container">
                        <h6><i class="fa fa-address-card"></i> Dirección de envío</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>Estado:</strong> {{Payment.addresship.stateName}}</td>
                                <td><strong>Ciudad:</strong> {{Payment.addresship.cityName}}</td>
                                <td><strong>Dirección:</strong> {{Payment.addresship.address}},
                                    {{Payment.addresship.neighborhood }}
                                </td>
                                <td><strong>Código Postal:</strong> {{Payment.addresship.zip}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--/-->
                <div class="col-md-6">
                    <ng-include src="'/templates/shop/partials/cart-details.html'"></ng-include>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-money"></i> Seleccione el método de pago</h4>
                    <hr>
                    <md-radio-group layout="row" ng-model="Payment.orderPaymentType">
                        <md-radio-button value="8" class="md-primary" ng-click="Payment.creditCard=!Payment.creditCard">
                            Tarjeta
                        </md-radio-button>
                        <md-radio-button value="3" ng-click="Payment.paypal=!Payment.paypal" class="md-primary"> 
                            Pago con paypal
                        </md-radio-button>
                        <md-radio-button value="6" ng-click="Payment.depositBank=!Payment.depositBank" class="md-primary">
                            Depósito bancario
                        </md-radio-button>
                    </md-radio-group>

                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '8'">
                        <div class="container">
                            <div class="row">
                                <form style="width: 100%;" role="form" name="Form" id="payment-form"
                                      ng-submit="Payment.processPaymentCard()" novalidate>
                                    <div class="col-xs-12">
                                        <md-input-container md-no-float class="md-block" ng-class="{ 'has-error': Form.name.$touched && Form.name.$invalid }">
                                            <input type="text" ng-model="Payment.params.name"  placeholder="Nombre del titular" id="cardholderName" 
                                                data-checkout="cardholderName" required
                                            >
                                        </md-input-container>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container md-no-float class="md-block" ng-class="{ 'has-error': Form.cardNumber.$touched && Form.cardNumber.$invalid }">
                                                <input type="text" ng-model="Payment.params.cardNumber" id="cardNumber"
                                                       maxlength="20" placeholder="Número de tarjeta"
                                                       data-checkout="cardNumber" required>
                                                <div class="help-block" ng-messages="Form.cardNumber.$error" ng-if="Form.cardNumber.$touched">
                                                    <span ng-if="Payment.payment.card.number == undefined" class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                    <span ng-if="Payment.payment.card.number.substr(0,1)=='4'" class="input-group-addon"><i class="fa fa-cc-visa"></i></span>
                                                    <span ng-if="Payment.payment.card.number.substr(0,1)=='5'" class="input-group-addon"><i class="fa fa-cc-mastercard"></i></span>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <md-input-container md-no-float class="md-block" ng-class="{ 'has-error': Form.cardExpiryM.$touched && Form.cardExpiryM.$invalid }">
                                                            <input type="text" ng-model="Payment.params.month" maxlength="2"
                                                                   id="cardExpirationMonth" placeholder="MM"
                                                                   data-checkout="cardExpirationMonth" required>
                                                            <div class="help-block" ng-messages="Form.cardExpiryM.$error" ng-if="Form.cardExpiryM.$touched">
                                                                <span> Mes expiración</span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <md-input-container md-no-float class="md-block" ng-class="{ 'has-error': Form.cardExpiryY.$touched && Form.cardExpiryY.$invalid }">
                                                            <input type="text" ng-model="Payment.params.year"
                                                                maxlength="4" id="cardExpirationYear" placeholder="AAAA"
                                                                required data-checkout="cardExpirationYear">
                                                            <div class="help-block" ng-messages="Form.cardExpiryY.$error" ng-if="Form.cardExpiryY.$touched">
                                                                <span> Año expiración</span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <md-input-container md-no-float class="md-block" ng-class="{ 'has-error': Form.cardCVC.$touched && Form.cardCVC.$invalid }">
                                                <input type="text" ng-model="Payment.params.cvc"
                                                    id="securityCode" placeholder="CVC" maxlength="5"
                                                    required data-checkout="securityCode">
                                            </md-input-container>
                                        </div>
                                        <input type="hidden" id="paymentMethodId" data-checkout="paymentMethodId" ng-model="Payment.params.paymentMethodId" />
                                        <div class="col-xs-12 col-md-6 text-right">
                                            <div style="margin-top: 30px;">
                                                <img class="img-fluid"
                                                     src="../../img/accepted_c22e0.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row justify-content-md-end">
                                            <div class="">
                                                <button ui-sref="shipping-address" class="btn btn-outline-default">Volver a dirección de envío</button>
                                                <button ng-disabled="Form.$invalid" class="btn btn-danger" type="submit">Procesar Pago</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '3'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-12">
                                    <!--<p>Luego de hacer clic en "Finalizar el pedido", serás
                                        redirigido a PayPal para completar tu compra de forma segura.</p>-->
                                    <img src="../../img/paypall.png" alt="" width="200">
                                    <p>Realice su pago, con la facilidad de Paypal.</p>
                                </div>
                                <button ng-if="Payment.paypal" class="btn btn-danger"
                                        ng-click="Payment.createOrder()">{{Payment.paypalBtn}}<span
                                        ng-show="Payment.busyPaypal"><i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                    <div class="md-ripple-container">Procesar pago</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '6'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-12">
                                    <p>Haz click en el boton "Finalizar compra", para obtener el número de
                                        cuenta.
                                        Después de realizar el depósito, por favor ponte en contacto
                                        con <strong>{{ initConfig.branchOffice }}</strong> para finalizar su compra y
                                        realizar el envío.</p>
                                </div>
                                <button ng-if="Payment.depositBank" class="btn btn-danger"
                                        ng-click="Payment.createOrder()">Finalizar compra
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 20px">
                        <div class="text-left">

                        </div>
                    </div>
                </div>
            </div><!--row-->
        </div>
    </div>
</div>