<div id="content-area">
    <div class="container">
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Seleccione el método de pago</h4>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-white">
                            <h4 class="panel-title">
                                <input type="radio" value="8" name="paymentType"
                                       ng-change="Payment.creditCard=!Payment.creditCard"
                                       ng-model="Payment.orderPaymentType">
                                <a data-toggle="collapse" href=""
                                   ng-click="Payment.creditCard=!Payment.creditCard"><span
                                        class="fa fa-credit-card-alt">
                            </span> Tarjeta de crédito</a>
                            </h4>
                        </div>
                        <div id="collapseOne" ng-if="Payment.creditCard" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="panel-default credit-card-box">
                                            <div class="panel-heading display-table">
                                                <div class="row display-tr">
                                                    <div class="display-td">
                                                        <img class="img-responsive pull-right"
                                                             src="http://i76.imgup.net/accepted_c22e0.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <form role="form" id="payment-form" ng-submit="Payment.processPayment()">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">TITULAR</label>
                                                                <input type="text" class="form-control"
                                                                       ng-model="Payment.payment.card.name"
                                                                       name="name"
                                                                       placeholder="Nombre del titular"
                                                                       id="name" data-conekta="card[name]"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="cardNumber">NÚMERO DE TARJETA</label>
                                                                <div class="input-group" ng-init="Payment.card=1">
                                                                    <input type="text" class="form-control"
                                                                           ng-model="Payment.payment.card.number"
                                                                           name="cardNumber"
                                                                           id="cardNumber"
                                                                           placeholder="Número de tarjeta"
                                                                           required data-conekta="card[number]"/>
                                                                    <span  class="input-group-addon"><i
                                                                            class="fa fa-credit-card"></i></span>
                                                                    <span ng-if="Payment.payment.card.number.substr(0,1)=='4'" class="input-group-addon"><i
                                                                            class="fa fa-cc-visa"></i></span>
                                                                    <span ng-if="Payment.payment.card.number.substr(0,1)=='5'" class="input-group-addon"><i
                                                                            class="fa fa-cc-mastercard"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-7 col-md-7">
                                                            <div class="form-group">
                                                                <label><span class="hidden-xs">FECHA DE EXPIRACIÓN</span>
                                                                    <span class="visible-xs-inline">EXP</span></label>
                                                                <div class="col-xs-6">
                                                                    <input type="tel" class="form-control"
                                                                           ng-model="Payment.payment.card.exp_month"
                                                                           name="cardExpiry"
                                                                           id="monthExpiry" placeholder="MM"
                                                                           required data-conekta="card[number]">
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <input type="tel" class="form-control"
                                                                           ng-model="Payment.payment.card.exp_year"
                                                                           name="cardExpiry"
                                                                           id="yearExpiry" placeholder="AAAA"
                                                                           required data-conekta="card[exp_year]">
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-md-5 pull-right">
                                                            <div class="form-group">
                                                                <label for="cardCVC">CÓDIGO CV</label>
                                                                <input type="tel" class="form-control" name="cardCVC"
                                                                       ng-model="Payment.payment.card.cvc"
                                                                       id="cardCVC" placeholder="CVC"
                                                                       required data-conekta="card[cvc]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="subscribe btn btn-cart btn-lg btn-block"
                                                                    type="submit">Procesar Pago
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-white">
                            <h4 class="panel-title">
                                <input type="radio" value="3" name="paymentType" ng-model="Payment.orderPaymentType">
                                <a data-toggle="collapse" href="" ng-click="Payment.paypal=!Payment.paypal"><span
                                        class="fa fa-paypal">
                                                    </span> Pago con Paypal</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" ng-if="Payment.paypal" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <img src="../../img/paypal.png" alt="">
                                        <p>Luego de hacer clic en "Finalizar el pedido", serás
                                            redirigido a PayPal para completar tu compra de forma segura.</p>
                                    </div>
                                    <button ng-if="Payment.paypal" class="btn btn-cart" ui-sref="checkout">Finalizar el pedido</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-white">
                            <h4 class="panel-title">
                                <input type="radio" ng-change="Payment.depositBank=!Payment.bankDeposit" value="6" name="paymentType" ng-model="Payment.orderPaymentType">
                                <a data-toggle="collapse" href=""
                                   ng-click="Payment.depositBank=!Payment.depositBank"><span
                                        class="fa fa-university">
                            </span> Depósito Bancario</a>
                            </h4>
                        </div>
                        <div id="collapseThree" ng-if="Payment.depositBank" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <p>Haz click en el boton "Finalizar compra", para obtener el número de cuenta.
                                            Después de realizar el depósito, por favor ponte en contacto
                                            con Corriente Alterna para finalizar su compra y realizar el envío.</p>
                                    </div>
                                    <button ng-if="Payment.depositBank" class="btn btn-cart" ng-click="Payment.createOrder()">Finalizar compra</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 20px">
                <div class="col-md-6"><a href="">Volver a dirección de envío</a></div>
                <div class="col-md-6">
                    <!--<button ng-if="Payment.depositBank" class="btn btn-cart" ui-sref="checkout">Finalizar compra</button>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ng-include src="'/templates/shop/partials/cart-details.html'"></ng-include>
        </div>
    </div>
</div>