<div id="temp-checkout">
    <div class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 box-default" ng-if="Payment.shipping === '0'">
                    <div class="container">
                        <h6><i class="fa fa-address-card"></i> Dirección de envío</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><strong>Estado:</strong> {{Payment.addresship.stateName}}</td>
                                <td><strong>Ciudad:</strong> {{Payment.addresship.cityName}}</td>
                                <td><strong>Dirección:</strong> {{Payment.addresship.address}},
                                    {{Payment.addresship.neighborhood }}
                                </td>
                                <td><strong>Código Postal:</strong> {{Payment.addresship.zip}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--/-->
                <div class="col-md-6">

                    <label>¿Vas a requerir factura para esta compra?</label>
                    <md-radio-group layout="row" ng-model="Payment.isInvoiced" ng-change="Payment.addTax()">
                        <md-radio-button value="0" class="md-primary">No</md-radio-button>
                        <md-radio-button value="1">Si</md-radio-button>
                    </md-radio-group>
                    <form name="form">
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <input type="text" ng-model="Payment.customer.businessName"
                                       id="businessName" name="businessName"
                                       placeholder="Razon Social" required>
                                <div class="help-block" ng-messages="form.businessName.$error"
                                     ng-if="form.businessName.$touched">
                                    <div class="text-danger" ng-message="required">El campo nombre es
                                        requerido
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <input type="text" ng-model="Payment.customer.rfc"
                                       id="rfc" name="rfc"
                                       placeholder="RFC" required>
                                <div class="help-block" ng-messages="form.rfc.$error"
                                     ng-if="form.rfc.$touched">
                                    <div class="text-danger" ng-message="required">El campo nombre es
                                        requerido
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <label>Correo electrónico para envio de facturas</label>
                                <input type="email" ng-model="Payment.customer.email"
                                       id="email" name="email"
                                       required>
                                <div class="help-block" ng-messages="form.email.$error"
                                     ng-if="registerForm.email.$touched">
                                    <div class="text-danger" ng-message="required">Este campo es requerido.
                                    </div>
                                    <div class="text-danger" ng-message="email">Correo electrónico no válido.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <label>Estado</label>
                                <md-select ng-model="Payment.state" md-on-open="Payment.getStates()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           md-on-close="searchState='';Payment.clearCities()" name="state"
                                           required>
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchState" type="search"
                                               placeholder="Busca un estado..."
                                               class="demo-header-searchbox md-text"
                                               ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <div layout="row" layout-align="center center"
                                         ng-if="Payment.busyState">
                                        <md-progress-circular md-mode="indeterminate"
                                                              class="md-warn md-default-theme"
                                                              style="transform: scale(1);"></md-progress-circular>
                                    </div>
                                    <md-option ng-repeat="state in Payment.states | filter:searchState"
                                               ng-value="state">
                                        {{state.name}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="form.state.$error">
                                    <div ng-message="required">Requerido</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <label>Ciudad</label>
                                <md-select ng-model="Payment.city" md-on-open="Payment.getCitiesByState()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           md-on-close="searchCity=''"
                                           ng-disabled="Payment.disableCity" name="city" required>
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchCity" type="search"
                                               placeholder="Busca una ciudad de {{Profile.state.name}}"
                                               class="demo-header-searchbox md-text"
                                               ng-keydown="$event.stopPropagation()">
                                    </md-select-header>
                                    <div layout="row" layout-align="center center" ng-if="Payment.busyCity">
                                        <md-progress-circular md-mode="indeterminate"
                                                              class="md-warn md-default-theme"
                                                              style="transform: scale(1);"></md-progress-circular>
                                    </div>
                                    <md-option ng-repeat="city in Payment.cities | filter:searchCity"
                                               ng-value="city">
                                        {{city.name}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="Payment.form.city.$error">
                                    <div ng-message="required">Requerido</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12" ng-if="Payment.isInvoiced==='1'">
                            <md-input-container>
                                <input type="text" ng-model="Payment.customer.metadata.location"
                                       id="location" name="location"
                                       placeholder="Localidad" required>
                                <div class="help-block" ng-messages="form.location.$error"
                                     ng-if="form.location.$touched">
                                    <div class="text-danger" ng-message="required">El campo nombre es
                                        requerido
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right" style="padding-top: 10px;">
                                <button type="button" class="btn btn-danger"
                                        ng-disabled="Payment.busy || form.$invalid" ng-click="Payment.updateCustomer()">
                                    Guardar cambios <span ng-if="Payment.busy"><i
                                        class="fa fa-spinner fa-spin"></i></span>
                                </button>
                            </div>

                        </div>

                    </form>


                    <ng-include src="'/templates/shop/partials/cart-details.html'"></ng-include>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-money"></i> Seleccione el método de pago</h4>
                    <hr>
                    <md-radio-group layout="row" ng-model="Payment.orderPaymentType">
                        <md-radio-button value="8" ng-click="Payment.paypal=!Payment.paypal"
                            class="md-primary">
                            Tarjeta
                        </md-radio-button>
                        <md-radio-button value="3" ng-click="Payment.paypal=!Payment.paypal"
                                         class="md-primary" ng-if="Payment.paypalMethod">
                            Paypal
                        </md-radio-button>
                        <md-radio-button value="6" ng-click="Payment.depositBank=!Payment.depositBank"
                                         class="md-primary" ng-if="Payment.depositMethod || Payment.depositMethods">
                            Depósito bancario
                        </md-radio-button>
                    </md-radio-group>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '10'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-12">
                                    <!--<p>Luego de hacer clic en "Finalizar el pedido", serás
                                        redirigido a PayPal para completar tu compra de forma segura.</p>-->
                                    <img src="../../img/mercado-pago.png" alt="" width="200">
                                    <p>Realice su pago, con la facilidad de Mercado Pago.</p>
                                </div>
                                <button ng-if="!Payment.busyPaypal" class="btn btn-danger"
                                        ng-click="Payment.createOrder()">Realizar el pago<span
                                        ng-show="Payment.busyPaypal"><i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '8'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <button ng-if="!Payment.busyPaypal" class="btn btn-danger"
                                ng-click="Payment.createOrderStripe()">Realizar el pago<span
                                ng-show="Payment.busyPaypal"><i class="fa fa-spinner fa-spin"></i>
                            </span>
                        </button>
                                <div class="col-md-12" ng-click="Payment.createOrderStripe()">
                                    <img src="https://mmcb.b-cdn.net/media/attachments/f/7/7/3/daea730bf8265165ee3fc5cf1a474ff1e5c952b6e1d72120707cc1825559/metodos-de-pago.png" alt="" width="320">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '3'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-12">
                                    <!--<p>Luego de hacer clic en "Finalizar el pedido", serás
                                        redirigido a PayPal para completar tu compra de forma segura.</p>-->
                                    <img src="../../img/paypall.png" alt="" width="200">
                                    <p>Realice su pago, con la facilidad de Paypal.</p>
                                </div>
                                <button ng-if="!Payment.busyPaypal" class="btn btn-danger"
                                        ng-click="Payment.createOrder()">{{Payment.paypalBtn}}<span
                                        ng-show="Payment.busyPaypal"><i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="items-dashboard" ng-if="Payment.orderPaymentType === '6'">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-md-12">
                                    <p>Haz click en el boton "Finalizar compra", para obtener el número de
                                        cuenta.
                                        Después de realizar el depósito, por favor ponte en contacto
                                        con <strong>{{ initConfig.branchOffice }}</strong> para finalizar su compra y
                                        realizar el envío.</p>
                                </div>
                                <button class="btn btn-danger"
                                        ng-click="Payment.createOrder()">Finalizar compra
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 20px">
                        <div class="text-left">

                        </div>
                    </div>
                </div>
            </div><!--row-->
        </div>
    </div>
</div>