<div id="content-area">
    <div class="row">
        <div class="paymentCont">
            <div class="paymentWrap">
                <h3 class="info2 text-center"><i class="ion-cash"></i> Selecciona el método de pago</h3>
                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                    <label class="btn paymentMethod active">
                        <div class="method paypal"></div>
                        <input type="radio" name="options" checked>
                    </label>
                    <label class="btn paymentMethod">
                        <div class="method bank-deposit"></div>
                        <input type="radio" name="options">
                    </label>
                    <label class="btn paymentMethod">
                        <div class="method credit-card"></div>
                        <input type="radio" name="options">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table">
                    <!--<div class="row display-tr">
                        <h3 class="panel-title display-td">Payment Details</h3>
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>-->
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">NÚMERO DE TARJETA</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control" name="cardNumber" id="cardNumber"
                                               placeholder="Número de tarjeta" autocomplete="cc-number" required
                                               autofocus/>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">FECHA DE EXPIRACIÓN</span>
                                        <span class="visible-xs-inline">EXP</span></label>
                                    <input type="tel" class="form-control" name="cardExpiry" id="cardExpiry" placeholder="MM / AA"
                                           autocomplete="cc-exp" required
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CÓDIGO CV</label>
                                    <input type="tel" class="form-control" name="cardCVC" id="cardCVC" placeholder="CVC"
                                           autocomplete="cc-csc" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" id="couponCode"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-cart btn-lg btn-block" ui-sref="shipping" type="button">Procesar Pago
                                </button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>