<div class="cart-form">
    <form name="paymentForm" novalidate>
        <div class="row">
            <div class="col-sm-12 col-md-12 detail-payment-shop">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <md-input-container md-no-float >
                        <label for="address1">Selecciona una direccion de envio</label>
                        <md-select ng-model="Payment.address" id="address1" name="address1" title="Direccion" required>
                            <md-option ng-repeat="address in Payment.addresses"  ng-value="address">
                                {{ address.address }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</div>