<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 address-form" ng-if="!Payment.purchaseGuest">

                <div class="col-md-12">
                    <h4><i class="fa fa-truck"></i> Selecciona la forma de envio</h4>
                    <hr>
                    <md-radio-group ng-model="Payment.sendOptions" ng-change="Payment.changeShippingOptions()">
                        <md-radio-button value="0" class="md-primary">
                            <span class="fa fa-truck">
                                    Envío a domicilio
                                </span>
                        </md-radio-button>

                        <md-radio-button value="1" ng-if="Payment.defaultbranchOffice.metadata.codeGetShop"> <span class="fa fa-building">
                                    Recoger en tienda
                                </span></md-radio-button>
                    </md-radio-group>
                    <br>
                </div>
                <div class="col-md-12">
                    <h4><i class="fa fa-map-marker"></i>{{Payment.sendOptions === "0" ? ' Seleccionar dirección existente' :
                        ' Dinos cual es tu direccion y te mostraremos las tiendas más cercanas a ti'}}</h4>
                    <hr>
                    <ng-include src="'/templates/shop/shipping-address.html'"></ng-include>
                    
                    <div ng-if="Payment.minimum.value && Payment.sendOptions === '0'">
                        <h6>Detalles del envío</h6>
                        <p>Envío {{ Payment.minimum.value.servicelevel}} por <strong>{{Payment.minimum.value.provider}}</strong> de {{Payment.minimum.value.duration_terms}}</p>
                    </div>
                    <div ng-if="!Payment.lowerPrividerShip">
                        <div ng-if="Payment.cart.metadata.shipments && Payment.sendOptions === '0'">
                            <h6 ng-if="Payment.cart.metadata.freeShipping !== true">Selecciona el servicio de paqueteria</h6>
                            <h6 ng-if="Payment.cart.metadata.freeShipping === true" class="text-success"><strong>Felicidades, tienes envío gratis</strong></h6>
                            <uib-tabset class="tab-simple" justified="true" active="Payment.activeTab" ng-show="Payment.cart.metadata.freeShipping !== true">
                                <uib-tab index="0" heading="Servicios Estandar" select="Payment.changeTabServicelevel()">
                                    <md-radio-group ng-model="Payment.providerRate" ng-change="Payment.setProvider(Payment.providerRate)">
                                        <div ng-repeat="provider in Payment.cart.metadata.shipments | filter : { servicelevel : 'estandar' }">
                                            <md-radio-button class="md-primary" ng-value="provider" ng-disabled=" Payment.cart.metadata.freeShipping === true "> 
                                                <span class="fa fa-truck">
                                                    {{ provider.provider }} {{provider.servicelevel}} - {{ provider.duration_terms }} - <strong>{{provider.amount | currency}}</strong>
                                                </span>
                                            </md-radio-button>
                                        </div>
                                    </md-radio-group>
                                </uib-tab>
                                <uib-tab index="1" heading="Servicios Express" select="Payment.changeTabServicelevel()" disable=" Payment.cart.metadata.freeShipping === true ">
                                    <md-radio-group ng-model="Payment.providerRateE" ng-change="Payment.setProvider(Payment.providerRateE)">
                                        <div ng-repeat="provider in Payment.cart.metadata.shipments | filter : { servicelevel : 'express' }" >
                                            <md-radio-button class="md-primary"  ng-value="provider" ng-disabled=" Payment.cart.metadata.freeShipping === true "> 
                                                <span class="fa fa-truck">
                                                    {{ provider.provider }} {{provider.servicelevel}} - {{ provider.duration_terms }} - <strong>{{provider.amount | currency}}</strong>
                                                </span>
                                            </md-radio-button>
                                        </div>
                                    </md-radio-group>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                    <br>
                    <button ng-if="Payment.address && Payment.sendOptions === '0' && Payment.providerRate.object_id" class="btn btn-danger" type="submit"
                            ng-disabled="!Payment.address"
                            ng-click="Payment.saveShippingAddress()">Continuar
                    </button>
                    <button ng-if="Payment.address && Payment.sendOptions === '0' && Payment.minimum.value.object_id" class="btn btn-danger" type="submit"
                        ng-disabled="!Payment.address"
                        ng-click="Payment.saveShippingAddress()">Continuar
                    </button>
                    <br>

                    <p ng-if="Payment.validRetriveInStore && Payment.sendOptions === '1'">
                        Puedes recorger tu pedido en estas tiendas
                    </p>
                    <p ng-if="!Payment.validRetriveInStore && Payment.sendOptions === '1' && Payment.address">
                        Lo sentimos pero por tu ubucación no es posible recoger en tienda, por favor selecciona otra forma de envio
                    </p>

                    <div class="col-xs-12 col-sm-12 col-md-12"
                         ng-if="Payment.validRetriveInStore">
                        <md-input-container>
                            <label for="shop">Selecciona la tienda para recoger tu pedido</label>
                            <md-select ng-model="Payment.shop" id="shop" name="shop" title="Direccion" required>
                                <md-option ng-repeat="shop in Payment.defaultbranchOffice.metadata.addressGetShop.array"
                                           ng-value="shop">
                                    {{ shop }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <br>
                </div>
                <form name="Form">
                    <div>
                        <div class="col-md-12">
                            <h4 title="Presiona">
                                <i class="fa" ng-class="Payment.addAddress ? 'fa-minus-circle': 'fa-plus-circle'" ng-click="Payment.showAddress()"></i> Agregar direccíon de envío
                            </h4>
                            <hr>
                            <div class="form-horizontal" ng-if="Payment.addAddress">
                                <div class="row">
                                    <div class="col-md-6">
                                        <md-input-container class="md-block">
                                            <label>Estado</label>
                                            <md-select ng-model="Payment.state" md-on-open="Payment.getStates()"
                                                       data-md-container-class="selectdemoSelectHeader"
                                                       md-on-close="searchState='';Payment.clearCities()" name="state"
                                                       required>
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchState" type="search"
                                                           placeholder="Busca un estado..."
                                                           class="demo-header-searchbox md-text"
                                                           ng-keydown="$event.stopPropagation()">
                                                </md-select-header>
                                                <div layout="row" layout-align="center center"
                                                     ng-if="Payment.busyState">
                                                    <md-progress-circular md-mode="indeterminate"
                                                                          class="md-warn md-default-theme"
                                                                          style="transform: scale(1);"></md-progress-circular>
                                                </div>
                                                <md-option ng-repeat="state in Payment.states | filter:searchState"
                                                           ng-value="state">
                                                    {{state.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="Payment.form.state.$error">
                                                <div ng-message="required">Requerido</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6">

                                        <md-input-container class="md-block">
                                            <label>Ciudad</label>
                                            <md-select ng-model="Payment.city" md-on-open="Payment.getCitiesByState()"
                                                       data-md-container-class="selectdemoSelectHeader"
                                                       md-on-close="searchCity=''"
                                                       ng-disabled="Payment.disableCity" name="city" required>
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchCity" type="search"
                                                           placeholder="Busca una ciudad de {{Payment.state.name}}"
                                                           class="demo-header-searchbox md-text"
                                                           ng-keydown="$event.stopPropagation()">
                                                </md-select-header>
                                                <div layout="row" layout-align="center center" ng-if="Payment.busyCity">
                                                    <md-progress-circular md-mode="indeterminate"
                                                                          class="md-warn md-default-theme"
                                                                          style="transform: scale(1);"></md-progress-circular>
                                                </div>
                                                <md-option ng-repeat="city in Payment.cities | filter:searchCity"
                                                           ng-value="city">
                                                    {{city.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="Payment.form.city.$error">
                                                <div ng-message="required">Requerido</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="container" ng-if="Payment.addAddress" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <md-input-container md-no-float
                                                            ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                            <input ng-model="Payment.formData.address" type="text" id="address"
                                                   name="address"
                                                   placeholder="Calle y número"
                                                   required>
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Entre las calles*</p>
                                    </div>
                                    <div class="col-md-6">
                                        <md-input-container md-no-float
                                                            ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                            <input ng-model="Payment.formData.metadata.addressBetween1" type="text" id="addressBetween1"
                                                   name="addressBetween1"
                                                   placeholder="Calle 1"
                                                   required>
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-6">
                                        <md-input-container md-no-float
                                                            ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                            <input ng-model="Payment.formData.metadata.addressBetween2" type="text" id="addressBetween2"
                                                   name="addressBetween2"
                                                   placeholder="Calle 2"
                                                   required>
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container>
                                            <input ng-model="Payment.formData.neighborhood" type="text"
                                                   id="neighborhood"
                                                   name="neighborhood"
                                                   placeholder="Colonia"
                                                   required>
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container>
                                            <input ng-model="Payment.formData.zip" ng-pattern="/^[0-9]{5}$/"
                                                   maxlength="5" id="zip" name="zip"
                                                   placeholder="Código Postal"
                                                   required>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container>
                                            <input ng-model="Payment.formData.phone" type="text" maxlength="20"
                                                   id="phone"
                                                   name="phone"
                                                   placeholder="Teléfono" required>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <md-input-container>
                                            <input ng-model="Payment.formData.mobile" type="text" ng-maxlength="20"
                                                   id="mobile"
                                                   name="mobile"
                                                   placeholder="Celular" required>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right" style="margin-top: 30px;"
                                     ng-if="Payment.sendOptions === '0'">
                                    <a href="" class="btn btn-outline-dark" ui-sref="shopcart"><i
                                            class="fa fa-angle-left"></i>
                                        Regresar al carrito
                                    </a>

                                    <button ng-if="!Form.$invalid" class="btn btn-danger"
                                            type="submit"
                                            ng-disabled="Form.$invalid" ng-click="Payment.newShippingAddress()">
                                        Guardar dirección y enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 30px;"
                         ng-if="Payment.sendOptions === '1' && Payment.addAddress">
                        <button class="btn btn-danger" type="button"
                                ng-disabled="Form.$invalid" ng-click="Payment.saveShippingAddressValidate()">Guardar
                            direccion y validar
                        </button>
                    </div>

                    <div class="col-md-12" style="margin-top: 30px;"
                         ng-if="Payment.sendOptions === '1' && Payment.addresses.length > 0 && Payment.defaultbranchOffice.metadata.codeGetShop">
                        <button class="btn btn-danger" type="button"
                                ng-disabled="Form.$invalid || !Payment.validRetriveInStore || !Payment.shop" ng-click="Payment.retriveInStore()">Continuar y recoger en
                            tienda
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 address-form" ng-if="Payment.purchaseGuest" ng-controller="AccessCtrl as Access">
                <form name="Form" ng-submit="Access.purchaseGuestLogin()">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Ingresa tus datos de contacto</h4>
                            </div>
                            <div class="col-md-2">
                                <a class="fa fa-plus-circle fa-2x" title="Mostrar"
                                   ng-click="hideFirst=!hideFirst">
                                </a>
                            </div>
                        </div>
                        <div ng-if="!hideFirst">
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container md-no-float>
                                        <input ng-model="Access.guest.contactPersonName" type="text"
                                               id="contactPersonName"
                                               name="contactPersonName"
                                               placeholder="Nombre completo"
                                               required>
                                        <div class="help-block" ng-messages="Form.contactPersonName.$error"
                                             ng-if="Form.contactPersonName.$touched">
                                            <div class="text-danger" ng-message="required">Este campo es requerido.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.contactPersonEmail.$touched && Form.address.$invalid }">
                                        <input ng-model="Access.guest.contactPersonEmail" type="email"
                                               id="contactPersonEmail"
                                               name="contactPersonEmail"
                                               placeholder="Correo electronico"
                                               required>
                                        <div class="help-block" ng-messages="Form.contactPersonEmail.$error"
                                             ng-if="Form.contactPersonEmail.$touched">
                                            <div class="text-danger" ng-message="required">Este campo es requerido.
                                            </div>
                                            <div class="text-danger" ng-message="email">Correo electrónico no válido.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container md-no-float>
                                        <input ng-model="Access.guest.contactPersonPhone" type="text"
                                               id="contactPersonPhone"
                                               name="contactPersonPhone"
                                               placeholder="Teléfono"
                                               required>
                                        <div class="help-block" ng-messages="Form.contactPersonPhone.$error"
                                             ng-if="Form.contactPersonPhone.$touched">
                                            <div class="text-danger" ng-message="required">Este campo es requerido.
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <h4>Ingresa tus datos de entrega</h4>
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                        <label>Estado</label>
                                        <md-select ng-model="Access.state" md-on-open="Access.getStates()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   md-on-close="searchState='';Payment.clearCities()" name="state"
                                                   required>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchState" type="search"
                                                       placeholder="Busca un estado..."
                                                       class="demo-header-searchbox md-text"
                                                       ng-keydown="$event.stopPropagation()">
                                            </md-select-header>
                                            <div layout="row" layout-align="center center"
                                                 ng-if="Access.busyState">
                                                <md-progress-circular md-mode="indeterminate"
                                                                      class="md-warn md-default-theme"
                                                                      style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="state in Access.states | filter:searchState"
                                                       ng-value="state">
                                                {{state.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="Form.state.$error">
                                            <div ng-message="required">Requerido</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                        <label>Ciudad</label>
                                        <md-select ng-model="Access.city" md-on-open="Access.getCitiesByState()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   md-on-close="searchCity=''"
                                                   ng-disabled="Payment.disableCity" name="city" required>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchCity" type="search"
                                                       placeholder="Busca una ciudad de {{Payment.state.name}}"
                                                       class="demo-header-searchbox md-text"
                                                       ng-keydown="$event.stopPropagation()">
                                            </md-select-header>
                                            <div layout="row" layout-align="center center" ng-if="Access.busyCity">
                                                <md-progress-circular md-mode="indeterminate"
                                                                      class="md-warn md-default-theme"
                                                                      style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="city in Access.cities | filter:searchCity"
                                                       ng-value="city">
                                                {{city.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="Form.city.$error">
                                            <div ng-message="required">Requerido</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container md-no-float>
                                    <input ng-model="Access.guest.dataAddress.address" type="text" id="address"
                                           name="address"
                                           placeholder="Calle y número"
                                           required>
                                    <div class="help-block" ng-messages="Form.address.$error"
                                         ng-if="Form.address.$touched">
                                        <div class="text-danger" ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <md-input-container>
                                    <input ng-model="Access.guest.dataAddress.neighborhood" type="text"
                                           id="neighborhood"
                                           name="neighborhood"
                                           placeholder="Colonia"
                                           required>
                                    <div class="help-block" ng-messages="Form.address.$error"
                                         ng-if="Form.address.$touched">
                                        <div class="text-danger" ng-message="required">Este campo es requerido.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container>
                                    <input ng-model="Access.guest.dataAddress.zip" ng-pattern="/^[0-9]{5}$/"
                                           maxlength="5" id="zip" name="zip"
                                           placeholder="Código Postal"
                                           required>
                                    <div class="help-block" ng-messages="registerForm.zip.$error"
                                         ng-if="registerForm.zip.$touched">
                                        <div class="text-danger" ng-message="required">Este campo es requerido.
                                        </div>
                                        <div class="text-danger" ng-message="pattern">Formato no válido</div>
                                    </div>
                                </md-input-container>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right" style="margin-top: 30px;">
                                <button class="btn btn-danger"
                                        type="submit"
                                        ng-disabled="Form.$invalid">
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <ng-include src="'/templates/shop/partials/cart-details.html'"></ng-include>
            </div>
        </div>
    </div>
</div>