<div class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 address-form">
                <div class="col-md-12">
                    <h4><i class="fa fa-truck"></i> Selecciona la forma de envio</h4>{{ Payment.showAddress }}
                    <hr>
                    <md-radio-group ng-model="Payment.sendOptions" ng-change="Payment.changeShippingOptions()">
                        <md-radio-button value="0" class="md-primary">
                            <span class="fa fa-truck">
                                    Envío a domicilio
                                </span>
                        </md-radio-button>

                        <md-radio-button value="1"> <span class="fa fa-building">
                                    Recoger en tienda
                                </span></md-radio-button>
                    </md-radio-group>
                    <br>
                </div>
                <div class="col-md-12" ng-if="Payment.sendOptions === '0'">
                    <h4><i class="fa fa-map-marker"></i> Seleccionar dirección existente</h4>
                    <hr>
                    <ng-include src="'/templates/shop/shipping-address.html'"></ng-include>
                    <button ng-if="Payment.address" class="btn btn-danger" type="submit"
                            ng-disabled="!Payment.address"
                            ng-click="Payment.saveShippingAddress()">Continuar
                    </button>
                    <br>
                </div>
                <div>
                    <div class="col-md-12" ng-if="Payment.sendOptions === '0'">
                        <h4><i class="fa fa-plus-circle"></i> Nueva direccíon de envío</h4>
                        <hr>
                        <form class="form-horizontal" name="Form" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <md-input-container class="md-block">
                                        <label>Estado</label>
                                        <md-select ng-model="Payment.state" md-on-open="Payment.getStates()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   md-on-close="searchState='';Payment.clearCities()" name="state"
                                                   required>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchState" type="search"
                                                       placeholder="Busca un estado..."
                                                       class="demo-header-searchbox md-text"
                                                       ng-keydown="$event.stopPropagation()">
                                            </md-select-header>
                                            <div layout="row" layout-align="center center" ng-if="Payment.busyState">
                                                <md-progress-circular md-mode="indeterminate"
                                                                      class="md-warn md-default-theme"
                                                                      style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="state in Payment.states | filter:searchState"
                                                       ng-value="state">
                                                {{state.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="Payment.form.state.$error">
                                            <div ng-message="required">Requerido</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-md-6">

                                    <md-input-container class="md-block">
                                        <label>Ciudad</label>
                                        <md-select ng-model="Payment.city" md-on-open="Payment.getCitiesByState()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   md-on-close="searchCity=''"
                                                   ng-disabled="Payment.disableCity" name="city" required>
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchCity" type="search"
                                                       placeholder="Busca una ciudad de {{Payment.state.name}}"
                                                       class="demo-header-searchbox md-text"
                                                       ng-keydown="$event.stopPropagation()">
                                            </md-select-header>
                                            <div layout="row" layout-align="center center" ng-if="Payment.busyCity">
                                                <md-progress-circular md-mode="indeterminate"
                                                                      class="md-warn md-default-theme"
                                                                      style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="city in Payment.cities | filter:searchCity"
                                                       ng-value="city">
                                                {{city.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="Payment.form.city.$error">
                                            <div ng-message="required">Requerido</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                        <input ng-model="Payment.formData.address" type="text" id="address"
                                               name="address"
                                               placeholder="Calle y número"
                                               required>
                                        <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.neighborhood.$touched && Form.neighborhood.$invalid }">
                                        <input ng-model="Payment.formData.neighborhood" type="text" id="neighborhood"
                                               name="neighborhood"
                                               placeholder="Colonia"
                                               required>
                                        <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                        <a ng-message="required" data-toggle="tooltip" title="Holiis"></a></span>
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.zip.$touched && Form.zip.$invalid }">
                                        <input ng-model="Payment.formData.zip" ng-pattern="/^[0-9]{5}$/"
                                               maxlength="5" id="zip" name="zip"
                                               placeholder="Código Postal"
                                               required>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.phone.$touched && Form.phone.$invalid }">
                                        <input ng-model="Payment.formData.phone" type="text" maxlength="20"
                                               id="phone"
                                               name="phone"
                                               placeholder="Teléfono" required>
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <md-input-container md-no-float
                                                        ng-class="{ 'has-error': Form.mobile.$touched && Form.mobile.$invalid }">
                                        <input ng-model="Payment.formData.mobile" type="text" ng-maxlength="20"
                                               id="mobile"
                                               name="mobile"
                                               placeholder="Celular" required>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="col-md-12 text-right" style="margin-top: 30px;"
                                 ng-if="Payment.sendOptions === '0'">
                                <a href="" class="btn btn-outline-dark" ui-sref="shopcart"><i
                                        class="fa fa-angle-left"></i>
                                    Regresar al carrito
                                </a>

                                <button ng-if="!Form.$invalid && !Payment.address" class="btn btn-danger" type="submit"
                                        ng-disabled="Form.$invalid" ng-click="Payment.newShippingAddress()">Continuar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 30px;" ng-if="Payment.sendOptions === '1'">
                    <button class="btn btn-danger" type="submit"
                            ng-disabled="Form.$invalid" ng-click="Payment.retriveInStore()">Continuar
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <ng-include src="'/templates/shop/partials/cart-details.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

