<div class="cart-form">
    <form name="paymentForm" novalidate>
        <div class="row">
            <div class="col-sm-9 col-md-12 detail-payment-shop" style="background: #eee;">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="form-item">
                        <label for="address1">Selecciona una direccion de envio</label>
                        <ui-select on-select="Shipping.selectedAddress($model)"
                                   ng-model="Shipping.formDataShip.address" id="address1" name="address1"
                                   title="Direccion" required>
                            <ui-select-match placeholder="Selecciona una dirección de envio *..."
                                             allow-clear="true">
                                {{$select.selected.address}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="address.id as address in Shipping.addresses | filter: {address: $select.search}">
                                <div ng-bind-html="address.address | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>