<div class="temp-shopcart">
    <section class="content-area">
        <div class="container">
            <div class="row text-center" ng-if="ShopCart.items.length==0">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="alert alert-warning" role="alert">
                        <h4><i class="fa fa-warning"></i> No se han agregado productos al carrito</h4>
                        <br>
                        <a class="btn btn-outline-danger" ui-sref="home">Ver productos</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between" ng-if="ShopCart.items.length>0">
                <div class="col-6 co-md-5 ">
                    <h4><i class="fa fa-shopping-cart"></i> Carrito de compras</h4>
                </div>
                <div class="col-6 col-md-3 text-right" ng-if="ShopCart.items.length>0">
                    <button class="btn btn-outline-dark" ng-click="ShopCart.clearCart()">Vaciar Carrito</button>
                </div>
            </div>
            <hr>
            <div class="container-fluid no-padding xs-hidde" ng-if="ShopCart.items.length>0">
                <div class="row">
                    <div class="col-md-9 text-center">
                        <div class="col-sm-6 col-md-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-2">
                                    <small>Articulo</small>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <small>Descripción</small>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <small>Cantidad</small>
                                </div>
                                <div class="col-md-1 visible-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid" ng-if="ShopCart.items.length>0">
                <form name="itemsForm">
                    <div class="row">
                    <div class="col-md-9 text-center">
                        <div class="col-sm-6 col-md-12 list-item-shoppingcart" ng-repeat="product in ShopCart.items">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="shopcart-img"
                                         style="background-image: url('{{product.image ? product.image : initConfig.img_default}}')"></div>
                                </div>
                                <div class="col-sm-5 col-md-5">
                                    <div class="shopcart-description">
                                        <h6>{{ product.name }}</h6>
                                        <h3>{{ product.price | currency }}</h3>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">

                                    <div class="shopcart-qty">
                                        <md-input-container md-no-float>
                                            <input type="text" id="qty" ng-model="product.qty"
                                                   ng-change="ShopCart.setItem({id: product.id, name: product.name,
                                                price: product.price, qty: product.qty},
                                               product.qty)"
                                                   class="form-control cart-qty" compare-greater="product.stock"
                                                   name="product_{{$index}}"
                                                   ng-pattern="/^-?[0-9][^\.]*$/">
                                            <div class="errors" ng-messages="itemsForm['product_' + $index].$error">
                                                <div ng-message="required">Requiredo</div>
                                                <div ng-message="pattern">Cantidad no válida</div>
                                                <div ng-message="compareGreater">Cantidad de producto no
                                                    disponible
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 visible-lg">
                                    <div class="shopcart-delete-lg">
                                        <a class="ion-ios-close-outline" ng-click="ShopCart.removeItem(product)"
                                           title="Eliminar producto"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 excerpt-shopping">
                        <div class="details-prod">
                            <h4 class="text-center">Resumen de pedido</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Subtotal({{ items.length }})</td>
                                        <td>{{ ShopCart.subTotal | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Impuestos</td>
                                        <td>{{ ShopCart.taxTotal | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Envío</td>
                                        <td class="text-warning">Pendiente</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>{{ ShopCart.total | currency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-black btn-block" ng-click="ShopCart.processPurchase()"
                                    ng-if="ShopCart.total >= ShopCart.minimumPurchase"><i
                                    class="fa fa-credit-card"></i> Procesar compra
                            </button>
                            <p ng-if="ShopCart.total <= ShopCart.minimumPurchase"> El monto mínimo para completar la
                                compra y poder continuar es de {{ShopCart.minimumPurchase | currency}}</p>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>