<section class="content-profile">
    <div class="container">
        <div class="row">
            <section id="content-contact">
                <div class="">
                    <div class="form-section">
                        <div class="container">
                            <div class="col-md-8 col-md-offset-2 contact-section">
                                <div class="col-md-12 title-post">
                                    <h3 class="info2"><i class="ion-clipboard"></i> Agregar dirección</h3>
                                    <hr/>
                                </div>
                                <div class="col-md-12">
                                    <form class="padding form-horizontal">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="name">Ciudad</label>
                                                <select class="form-control-select">
                                                    <option>Seleccionar ciudad</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="name">Estado</label>
                                                <select class="form-control-select">
                                                    <option>Seleccionar estado</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="name">Dirección</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                       placeholder="Dirección"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="secondname">Colonia</label>

                                                <input type="text" class="form-control" id="secondname"
                                                       name="secondname"
                                                       placeholder="Colonia"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="user">Código Postal</label>

                                                <input type="text" class="form-control" id="user" name="user"
                                                       placeholder="Código Postal"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="password">Teléfono</label>
                                                <input type="password" class="form-control" id="password"
                                                       name="password"
                                                       placeholder="Teléfono" required>
                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-item">
                                                <label for="password">Celular</label>
                                                <input type="password" class="form-control" id="password"
                                                       name="password"
                                                       placeholder="Celular" required>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-center" style="padding-top: 30px;">
                                            <button type="submit" class="btn btn-outline-red"
                                                    ng-disabled="Contact.busy">
                                                <i class="ion-android-done"></i> Agregar <span ng-if="Contact.busy"><i
                                                    class="fa fa-spinner fa-spin"></i></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
