<div class="temp-dashboard">
    <section class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ng-include src="'/templates/auth/partials/my-account-items.html'"></ng-include>
                </div>
                <div class="col-md-9">
                    <div class="items-dashboard">
                        <div class="col-md-12">
                            <h4 ng-if="Address.create"><i class="ion-clipboard"></i> Agregar dirección</h4>
                            <h4 ng-if="!Address.create"><i class="ion-compose"></i> Actualizar dirección</h4>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <form class="padding form-horizontal" name="Form" ng-submit="Address.submitForm()">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6" ng-if="Address.create">
                                        <md-input-container class="md-block">
                                            <label for="state">Estado</label>
                                            <md-select ng-model="Address.state" md-on-open="Address.getStates()"
                                                data-md-container-class="selectdemoSelectHeader" md-on-close="searchState='';Address.clearCities()"
                                                name="state" required id="state">
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchState" type="search" placeholder="Busca un estado..."
                                                        class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" />
                                                </md-select-header>
                                                <div layout="row" layout-align="center center" ng-if="Address.busyState">
                                                    <md-progress-circular md-mode="indeterminate" class="md-warn md-default-theme"
                                                        style="transform: scale(1);"></md-progress-circular>
                                                </div>
                                                <md-option ng-repeat="state in Address.states | filter:searchState"
                                                    ng-value="state">
                                                    {{state.name}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="Form.state.$error" md-auto-hide="false">
                                                <div ng-message="required">Requerido</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" ng-if="Address.create">
                                        <md-input-container class="md-block">
                                            <label for="city">Ciudad</label>
                                            <md-select ng-model="Address.city" md-on-open="Address.getCitiesByState()"
                                                data-md-container-class="selectdemoSelectHeader" md-on-close="searchCity=''"
                                                ng-disabled="Address.disableCity" name="city" id="city" required>
                                                <md-select-header class="demo-select-header">
                                                    <input ng-model="searchCity" type="search" placeholder="Busca una ciudad de {{Address.state.name}}"
                                                        class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" />
                                                </md-select-header>
                                                <div layout="row" layout-align="center center" ng-if="Address.busyCity">
                                                    <md-progress-circular md-mode="indeterminate" class="md-warn md-default-theme"
                                                        style="transform: scale(1);"></md-progress-circular>
                                                </div>
                                                <md-option ng-repeat="city in Address.cities | filter:searchCity"
                                                    ng-value="city">
                                                    {{city.name}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="Form.city.$error" md-auto-hide="false">
                                                <div ng-message="required">Requerido</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" ng-if="!Address.create">
                                        <label>Ciudad</label>
                                        <p>{{Address.formData.cityName}} <i class="ion-compose" title="Cambiar ciudad"
                                                ng-click="Address.editCity()"></i>
                                        </p>

                                    </div>
                                    <div class="col-xs-12 col-md-12" ng-if="Address.editCityForm">
                                        <label ng-if="Address.editCityForm">Ciudad</label>
                                        <p ng-if="Address.editCityForm">Cancelar acción<i class="ion-close" title="Cancelar acción"
                                                ng-click="Address.editCity()"></i></p>
                                    </div>
                                    <div class="col-xs-12 col-md-6" ng-if="Address.editCityForm">
                                        <md-input-container class="md-block">
                                            <label for="stateEdit">Estado</label>
                                            <md-select ng-model="Address.state" md-on-open="Address.getStates()"
                                                data-md-container-class="selectdemoSelectHeader" md-on-close="searchState='';Address.clearCities()"
                                                name="state" required id="stateEdit" />
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchState" type="search" placeholder="Busca un estado..."
                                                    class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()" />
                                            </md-select-header>
                                            <div layout="row" layout-align="center center" ng-if="Address.busyState">
                                                <md-progress-circular md-mode="indeterminate" class="md-warn md-default-theme"
                                                    style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="state in Address.states | filter:searchState"
                                                ng-value="state">
                                                {{state.name}}
                                            </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6" ng-if="Address.editCityForm">
                                        <md-input-container class="md-block">
                                            <label for="cityEdit">Ciudad</label>
                                            <md-select ng-model="Address.city" md-on-open="Address.getCitiesByState()"
                                                data-md-container-class="selectdemoSelectHeader" md-on-close="searchCity=''"
                                                ng-disabled="Address.disableCity" name="city" id="cityEdit" required />
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchCity" type="search" placeholder="Busca una ciudad de {{Address.state.name}}"
                                                    class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                            </md-select-header>
                                            <div layout="row" layout-align="center center" ng-if="Address.busyCity">
                                                <md-progress-circular md-mode="indeterminate" class="md-warn md-default-theme"
                                                    style="transform: scale(1);"></md-progress-circular>
                                            </div>
                                            <md-option ng-repeat="city in Address.cities | filter:searchCity" ng-value="city">
                                                {{city.name}}
                                            </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 clearfix">
                                        <div class="form-item" ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                            <label for="address">Calle y número</label>
                                            <input ng-model="Address.formData.address" type="text" class="form-control"
                                                id="address" name="address" placeholder="Dirección" required />
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                                <a ng-message="required" data-toggle="tooltip" title="Holiis"></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-item" ng-class="{ 'has-error': Form.neighborhood.$touched && Form.neighborhood.$invalid }">
                                            <label for="neighborhood">Colonia</label>
                                            <input ng-model="Address.formData.neighborhood" type="text" class="form-control"
                                                id="neighborhood" name="neighborhood" placeholder="Colonia" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br>
                                        <p>Entre calles</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 clearfix">
                                        <div class="form-item" ng-class="{ 'has-error': Form.address.$touched && Form.address.$invalid }">
                                            <input ng-model="Address.formData.addressBetween1" type="text" class="form-control"
                                                id="addressBetween1" name="addressBetween1" placeholder="Calle 1"
                                                 />
                                            <span ng-messages="Form.address.$error" ng-if="Form.address.$touched">
                                                <a ng-message="required" data-toggle="tooltip" title="Holiis"></a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-item" ng-class="{ 'has-error': Form.neighborhood.$touched && Form.neighborhood.$invalid }">
                                            <input ng-model="Address.formData.addressBetween2" type="text" class="form-control"
                                                id="addressBetween2" name="addressBetween2" placeholder="Calle 2"
                                                 />
                                        </div>
                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-item" ng-class="{ 'has-error': Form.zip.$touched && Form.zip.$invalid }">
                                            <label for="zip">Código Postal</label>
                                            <input ng-model="Address.formData.zip" type="text" ng-pattern="/^[0-9]{5}$/"
                                                maxlength="5" class="form-control" id="zip" name="zip" placeholder="Código Postal"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-item" ng-class="{ 'has-error': Form.phone.$touched && Form.phone.$invalid }">
                                            <label for="phone">Teléfono</label>
                                            <input ng-model="Address.formData.phone" type="text" maxlength="20" class="form-control"
                                                id="phone" name="phone" placeholder="Teléfono" required />
                                        </div>

                                    </div>
                                </div>
                                <div class="row space-between">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-item" ng-class="{ 'has-error': Form.mobile.$touched && Form.mobile.$invalid }">
                                            <label for="mobile">Celular</label>
                                            <input ng-model="Address.formData.mobile" type="text" ng-maxlength="20"
                                                class="form-control" id="mobile" name="mobile" placeholder="Celular" />
                                        </div>

                                    </div>
                                    <div class="col-sm-6 text-right" style="padding-top: 30px;">
                                        <button class="btn btn-outline-default" ui-sref="address">Cancelar</button>
                                        <button type="submit" class="btn btn-danger" ng-disabled="Address.busy">
                                            <i class="ion-android-done"></i> Guardar <span ng-if="Address.busy"><i
                                                    class="fa fa-spinner fa-spin"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>