<div class="content-dashboard">
    <div class="container">
        <div class="col-md-12">
            <h3 class="info2"><i class="ion-bag"></i> Historial de compras</h3>
            <hr>
            <div class="table-responsive">
                <table id="mytable" class="table table-striped">
                    <thead>
                    <th>Estado</th>
                    <th>Ciudad</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Edit <i class="fa fa-cog"></i></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>MohsinMohsinMohsin</td>
                        <td>Irshad Mohsin Mohsin</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td>isometric.mohsin@gmail.com</td>
                        <td>+923335586757</td>
                        <td>
                            <button class="btn btn-primary btn-xs"><i class="ion-eye"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>