<div class="temp-dashboard">
    <section class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ng-include src="'/templates/auth/partials/my-account-items.html'"></ng-include>
                </div>
                <div class="col-md-9">
                    <div class="">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6><i class="ion-ios-list-outline"></i> Detalle de la compra</h6>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <h6>Balance: {{ Purchase.purchase.balance | currency }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row label-status">
                                <div class="col-md-3">
                                    <h6>
                                        <span class="item-number" ng-if="Purchase.purchase.code"><strong>Folio: </strong>#{{Purchase.purchase.code}}</span>
                                        <span class="item-number" ng-if="!Purchase.purchase.code"><strong>Folio: </strong>#{{Purchase.purchase.id}}</span>
                                    </h6>
                                </div>
                                <div class="col-md-3">
                                    <h6>
                                        <span class="item-number"><strong>Fecha: </strong> {{ Purchase.purchase.createdAt | date:'short'}}</span>
                                    </h6>
                                </div>
                                <div class="col-2 col-md-3">
                                    <h6>
                                        Tipo de pago:
                                        <span ng-if="Purchase.purchase.paymentType == 0" class="badge badge-primary">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 1" class="badge badge-info">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 2" class="badge badge-warning">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 3" class="badge badge-success">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 4" class="badge badge-primary">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 5" class="badge badge-info">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 6" class="badge badge-success">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 7" class="badge badge-warning">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.paymentType == 8" class="badge badge-info">
                                            {{ Purchase.purchase.paymentTypeName }}
                                        </span>
                                    </h6>

                                </div>
                                <div class="col-2 col-md-3">
                                    <h6>
                                        Estatus:
                                        <span ng-if="Purchase.purchase.isPaid == 0" class="badge badge-success">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 1" class="badge badge-warning">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 2" class="badge badge-danger">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 3" class="badge badge-success">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 4" class="badge badge-primary">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 5" class="badge badge-info">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 6" class="badge badge-success">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 7" class="badge badge-warning">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                        <span ng-if="Purchase.purchase.isPaid == 8" class="badge badge-info">
                                            {{ Purchase.purchase.isPaidName }}
                                        </span>
                                    </h6>
                                </div>
                                <div ng-Hide="!Purchase.isPaypal" class="col-4 col-md-6 text-right">
                                    <h6>
                                        <span>Pagar con Paypal
                                            <a title="Pagar con paypal" href="{{Purchase.PaypalUrl}}" target="_" class="btn btn-sm btn-transparent">
                                                <img src="../../img/paypall.png" alt="" width="100">
                                            </a>
                                        </span>

                                    </h6>

                                </div>
                            </div>
                            <hr>
                            <div class="row" ng-if="Purchase.purchase.paymentType === 6">
                                <div class="col-md-6">
                                    <a ng-if="Purchase.voucher.url" href="{{Purchase.voucher.url}}" target="_blank">Ver
                                        comprobante
                                        de pago cargado</a>
                                    <input type="file" ngf-select="Purchase.uploadFile()" ng-model="Purchase.voucher"
                                        name="file" ngf-pattern="'.pdf,image/*'" ngf-accept="'image/*,.pdf'"
                                        ngf-max-size="20MB" style="margin-bottom: 15px; margin-top: 15px;" />
                                    <i class="text-danger" ng-show="Entry.postForm.file.$error.maxSize">Tamaño maximo
                                        de archivo
                                        20MB</i>

                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 10px">
                                <div class="payment-sidebar">
                                    <div class="row">
                                        <div style="width: 100%">
                                            <div class="table-responsive" ng-if="!Purchase.DoPayment">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="5%">Cantidad</th>
                                                            <th width="50%">Descripción</th>
                                                            <th>Precio unitario</th>
                                                            <th>Importe</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in Purchase.purchase.items">
                                                            <th scope="row">{{item.qty}}</th>
                                                            <td>{{item.itemId}} - {{item.name}}</td>
                                                            <td>{{item.price | currency}}</td>
                                                            <td ng-if="item.subtotalDiscount">{{item.subtotalDiscount |
                                                                currency}}
                                                                <span class="glyphicon  glyphicon-exclamation-sign">
                                                                    <md-tooltip md-direction="right">Este producto tuvo
                                                                        {{item.promotion | currency}} de descuento.</md-tooltip>
                                                                </span></p>
                                                            </td>
                                                            <td ng-if="!item.subtotalDiscount">{{item.subtotal |
                                                                currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th style="text-align: right;" colspan="3">Subtotal</th>
                                                            <td>{{Purchase.purchase.subTotal | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3" style="text-align: right;">Impuestos</th>
                                                            <td>{{Purchase.purchase.taxTotal | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3" style="text-align: right;">Envio</th>
                                                            <td>{{Purchase.purchase.shipmentTotal | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th style="text-align: right;" colspan="3">Descuento</th>
                                                            <td>{{Purchase.purchase.promoTotal | currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3" style="text-align: right;">Total</th>
                                                            <td>{{Purchase.purchase.total | currency}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-12 no-padding" ng-if="Purchase.DoPayment">
                                                <div class="purchase-payment-card">
                                                    <div class="">
                                                        <form id="pay" name="pay" novalidate>
                                                            <div class="form form-sharepay">
                                                                
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <h6>Llena los siguientes campos para continuar con el proceso de pago</h6>
                                                                        <hr>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <md-input-container>
                                                                            <label>Especifique el monto que desea abonar</label>
                                                                            <input name="amount" type="number" min="1" max="{{Purchase.purchase.balance}}" id="cardholderName"  ng-model="Purchase.purchase.amount" required>
                                                                            <div ng-messages="pay.amount.$error" aria-live="assertive">
                                                                                <!-- ngMessage: required -->
                                                                                <div ng-message="required">Este campo es requerido.</div>
                                                                                <div ng-message="min">El monto debe ser mayor a 0.</div>
                                                                                <div ng-message="max">El monto no puede ser mayor al balance.</div>
                                                                                <!-- ngMessage: md-maxlength -->
                                                                            </div>
                                                                        </md-input-container>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                            <md-input-container>
                                                                                <label>Nombre completo</label>
                                                                                <input name="name" type="text" id="cardholderName" data-checkout="cardholderName" ng-model="Purchase.purchase.name" required>
                                                                                <div ng-messages="pay.name.$error" aria-live="assertive">
                                                                                    <!-- ngMessage: required -->
                                                                                    <div ng-message="required">Este campo es requerido.</div>
                                                                                    <!-- ngMessage: md-maxlength -->
                                                                                </div>
                                                                            </md-input-container>
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 no-pd-l">
                                                                        <md-input-container>
                                                                            <label id="email">Email</label>
                                                                            <input  type="email" name="email" ng-model="Purchase.purchase.email" required>
                                                                            <div ng-messages="pay.email.$error" aria-live="assertive">
                                                                                <!-- ngMessage: required -->
                                                                                <div ng-message="email">Se requiere de un email válido.</div>
                                                                                <div ng-message="required">Este campo es requerido.</div>
                                                                                <!-- ngMessage: md-maxlength -->
                                                                            </div>
                                                                        </md-input-container>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <md-input-container>
                                                                            <label>Teléfono</label>
                                                                            <input type="text" name="phone" ng-pattern="/^[0-9]*$/"
                                                                                   md-maxlength="10" ng-model="Purchase.purchase.phone" required>
                                                                            <div ng-messages="pay.phone.$error" aria-live="assertive">
                                                                                <!-- ngMessage: required -->
                                                                                <div ng-message="required">Este campo es requerido.</div>
                                                                                <div ng-message="md-maxlength">Deben ser solo 10 dígitos.</div>
                                                                                <div ng-message="pattern">Formato no válido.</div>
                                                                                <!-- ngMessage: md-maxlength -->
                                                                            </div>
                                                                        </md-input-container>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="row">
                                                                            <div class="col-sm-8">
                                                                                <md-input-container>
                                                                                    <label>Número de tarjeta</label>
                                                                                    <input type="text" ng-pattern="/^[0-9]*$/" name="cardNumber"
                                                                                            md-maxlength="16" id="cardNumber" data-checkout="cardNumber" ng-model="Purchase.purchase.cardNumber" required>
                                                                                    <div ng-messages="pay.cardNumber.$error" aria-live="assertive">
                                                                                        <!-- ngMessage: required -->
                                                                                        <div ng-message="required">Este campo es requerido.</div>
                                                                                        <div ng-message="md-maxlength">Deben ser solo 16 dígitos.</div>
                                                                                        <div ng-message="pattern">Formato no válido.</div>
                                                                                        <!-- ngMessage: md-maxlength -->
                                                                                    </div>
                                                                                </md-input-container>
                                                                            </div>
                                                                            <div class="col-md-4 no-pd-l">
                                                                                <md-input-container md-no-float>
                                                                                    <label>Tarjeta</label>
                                                                                    <input type="text" ng-if="Purchase.payment.cardNumber.substr(0,1)=='4'" placeholder="VISA" readonly>
                                                                                    <input type="text" ng-if="Purchase.payment.cardNumber.substr(0,1)=='5'" placeholder="MasterCard" readonly>
                                                                                </md-input-container>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <md-input-container>
                                                                                    <label>Mes</label>
                                                                                    <input type="text" md-maxlength="2" ng-pattern="/^[0-9]*$/" name="cardExpirationMonth"
                                                                                            ng-model="Purchase.purchase.month" id="cardExpirationMonth" data-checkout="cardExpirationMonth" required>
                                                                                    <div ng-messages="pay.cardExpirationMonth.$error" aria-live="assertive">
                                                                                        <!-- ngMessage: required -->
                                                                                        <div ng-message="required">Este campo es requerido.</div>
                                                                                        <div ng-message="md-maxlength">Deben ser sólo dos dígitos.</div>
                                                                                        <!-- ngMessage: md-maxlength -->
                                                                                    </div>
                                                                                </md-input-container>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <md-input-container>
                                                                                    <label>Año</label>
                                                                                    <input type="text" md-maxlength="4" ng-pattern="/^[0-9]*$/" name="cardExpirationYear"
                                                                                            ng-model="Purchase.purchase.payment.year" id="cardExpirationYear" data-checkout="cardExpirationYear" required>
                                                                                    <div ng-messages="pay.cardExpirationYear.$error" aria-live="assertive">
                                                                                        <!-- ngMessage: required -->
                                                                                        <div ng-message="required">Este campo es requerido.</div>
                                                                                        <div ng-message="md-maxlength">Deben ser sólo 4 dígitos.</div>
                                                                                        <!-- ngMessage: md-maxlength -->
                                                                                    </div>
                                                                                </md-input-container>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <md-input-container>
                                                                                    <label>CVC</label>
                                                                                    <input type="text" md-maxlength="4" ng-pattern="/^[0-9]*$/" name="securityCode"
                                                                                            ng-minlength="3" id="securityCode" data-checkout="securityCode" ng-model="SharePay.payment.cvc" required>
                                                                                    <div ng-messages="pay.securityCode.$error" aria-live="assertive">
                                                                                        <!-- ngMessage: required -->
                                                                                        <div ng-message="required">Este campo es requerido.</div>
                                                                                        <div ng-message="md-maxlength">Deben ser sólo 3 o 4 dígitos.</div>
                                                                                        <!-- ngMessage: md-maxlength -->
                                                                                    </div>
                                                                                </md-input-container>
                                                                            </div>
                                                                            <input type="hidden" id="paymentMethodId" data-checkout="paymentMethodId" ng-model="SharePay.payment.paymentMethodId" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div class="payment-mount">
                                                            <div class="row align-items-center">
                                                                <div class="col-sm-6  text-left">  
                                                                    <span>Aceptamos pagos con:</span> <br>
                                                                    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                                                                    <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                                                                    <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>     
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="btn-inv text-right">
                                                                        <button title="Regresar a mis compras" class="btn btn-md btn-default"
                                                                            ui-sref="sales">
                                                                            <i class="fa fa-angle-left"></i> Regresar
                                                                        </button>
                                                                        <button title="Regresar a mis compras" class="btn btn-md btn-primary"
                                                                            ng-click="Purchase.processPaymentCard()">
                                                                            <i class="fa fa-cash"></i> Abonar
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-footer">
                                        <div class="row">
                                            <div class="col-md-8" ng-if="Purchase.purchase.comments">
                                                <h4><strong>Nota:</strong> {{ Purchase.purchase.comments}}</h4>
                                            </div>
                                            <div class="col-md-8" ng-if="Purchase.purchase.metadata.getShop">
                                                <h4><strong>Tu compra la debes de recoger en:</strong></h4>
                                                <p>{{ Purchase.purchase.storeInfo.businessName }} - {{
                                                    Purchase.purchase.storeInfo.address}}, Tel.
                                                    {{Purchase.purchase.storeInfo.phone}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-mount text-right" ng-if="!Purchase.DoPayment">
                                        <div class="btn-inv">
                                            <button title="Regresar a mis compras" class="btn btn-md btn-default"
                                                ui-sref="sales">
                                                <i class="fa fa-angle-left"></i> Regresar
                                            </button>
                                            <button title="Regresar a mis compras" class="btn btn-md btn-primary"
                                                ng-click="Purchase.DoPayment = true" ng-if="Purchase.purchase.statusInfo.code !== 6">
                                                <i class="fa fa-cash"></i> Abonar a la cuenta
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container hide-print" ng-if="!Purchase.DoPayment">
                        <div class="row">
                            <div class="items-dashboard" style="background-color:#f5f5f5; width: 100%">
                                <div class="container">
                                    <h4><i class="fa fa-comment"></i> Mensajes</h4>
                                </div>
                                <hr>
                                <div class="container">
                                    <div class="message-branch" ng-repeat=" message in Purchase.comments" ng-if="message.isActive === true">
                                        <p>
                                            {{message.comments}}
                                        </p>
                                        <small>Fecha: {{message.createdAt | date : 'short' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>