<section id="content-area">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Recuperar contraseña">
                    <form class="padding" name="recoveryForm" novalidate ng-submit="Recovery.recoveryPassword()">
                        <div class="form-group" ng-class="{ 'has-error': recoveryForm.email.$touched && recoveryForm.email.$invalid }">
                            <input type="email" ng-model="Recovery.formData.email" class="form-control" id="email" name="email"
                                    placeholder="Correo electrónico" required>
                            <div class="help-block" ng-messages="recoveryForm.email.$error" ng-if="recoveryForm.email.$touched">
                                <div ng-message="required">Ingrese su correo electrónico</div>
                            </div>
                        </div>

                        <p class="text-center forgot-pass">Le enviaremos un correo electrónico con las instrucciones,
                            para recuperar su contraseña.</p>

                        <div class="text-center" style="padding-top: 40px;">
                            <button type="submit" class="btn btn-yellow1" ng-disabled="recoveryForm.$invalid">
                                    Recuperar contraseña <span ng-if="Recovery.busy"><i
                                    class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>