/*------------------------
-------- NAVS -------
-- THEME BY TINGSYSTEMS --
-------------------------*/

.header
  position initial

/* Shopping cart */
.shopping-cart
  position relative
  margin-top -5px
  margin-left 30px
  i
    font-size 40px
    color shoppingCart
  .qty-cart
    position absolute
    color white
    text-align center
    border-radius 30px
    background-color optional
    font-size 13px
    top -20px
    left 15px
    width 20px
    height 20px

.navbar-side-slider
  .nav-item
    &:nth-child(5) a
      color optional
.navbar-side-slider li a
  color black
  font-size 18px
  &:nth-child(5)
    color optional

/* header three rows style */
.one-rows-nav
  .first-row
    background-color white
    md-input-container.md-default-theme .md-input, md-input-container .md-input,
    md-input-container.md-default-theme>md-icon, md-input-container>md-icon
      border-color black
    .btn-link
      color black
  md-input-container
    margin 6px 0 15px
  md-input-container .md-errors-spacer
    min-height 0
  .nav-theme
    background-color mainColor
    .navbar-nav .nav-link
      color white
      font-size 18px
  .nav
    margin-top 10px
    > li > .shopping-cart
      padding-right 0
  .navbar-brand .logo
    width 250px

/* header three rows style */
.three-rows-nav
  .first-row
    padding 15px 0
    background-color transparent
    border-bottom 1px solid #ddd
    .dropdown-menu
      margin-top -10px
    .list-icons-add
      li
        i
          margin-top 5px
        &:nth-last-child(1)
          display none
    .input-group
      margin-bottom 0
      .input-group-text
        background-color white
        border-left-color white
  .second-row
    padding 15px 0 0
    .btn-outline-danger
      margin-top 10px
    .dropdown
      margin-top 10px
    .md-input-container.md-icon-right
      width 100%
      margin 10px 0 0
      padding-right 0 !important
    .logo
      height 75px
    .nav
      margin-top 10px
      > li > .shopping-cart
        padding-right 45px
  .nav-theme
    background-color mainColor
    .navbar-nav .nav-link
      color white
      font-size 16px