/*------------------------
-------- NAVS -------
-- THEME BY TINGSYSTEMS --
-------------------------*/

.header
  position initial

/* Shopping cart */
.shopping-cart
  position relative
  top 0
  margin-left 30px
  i
    font-size 28px
    color shoppingCart
  .qty-cart
    position absolute
    color fontClr
    text-align center
    border-radius 30px
    background-color white
    font-size 13px
    top -15px
    left 5px
    width 15px
    height 15px

.navbar-side-slider
  .nav-item
    &:nth-child(5) a
      color optional
.navbar-side-slider li a
  color black
  font-size 18px
  &:nth-child(5)
    color optional

/* header three rows style */
.mobile-nav 
  .nav-link
    padding 0 !important
  .navbar-collapse
    .navbar-nav
      flex-direction column !important  

.one-rows-nav
  .first-row
    background-color #222
    .btn-link
      color white
      text-decoration none
      margin 5px 0
    .text-danger
      padding 3px 10px !important
      margin 10px 0
      background-color red
      color white !important
    md-input-container.md-icon-right > md-icon:last-of-type
      color white
    md-input-container.md-default-theme .md-input::-webkit-input-placeholder, 
    md-input-container .md-input::-webkit-input-placeholder
      color white  
    md-input-container.md-default-theme .md-input,
    md-input-container.md-default-theme>md-icon
      border-color #ccc
      color white
    md-input-container .md-input
      border 1px solid #ccc 
      padding 5px  
      color white
    .nav-link
      font-size 12px
      color white
      padding 15px 8px
  md-input-container
    margin 8px 0 8px
  md-input-container .md-errors-spacer
    min-height 0
  .nav-theme
    background-color mainColor
    border-top 1px solid #ddd
    box-shadow 0 10px 10px rgba(0,0,0,0.1)
    z-index 999
    padding 0
    .navbar-brand
      padding-right 30px
    .navbar-nav .nav-link
      color fontClr
      font-size 16px
      text-transform uppercase
  .nav
    margin-top 10px
    > li > .shopping-cart
      padding-right 0
  .navbar-brand .logo
    width 120px

/* header three rows style */
.three-rows-nav
  .first-row
    padding 15px 0
    background-color black
    border-bottom 1px solid #ddd
    .dropdown-menu
      margin-top -10px
    .list-icons-add
      li
        i
          margin-top 5px
        &:nth-last-child(1)
          display none
    .input-group
      margin-bottom 0
      .input-group-text
        background-color white
        border-left-color white
  .second-row
    padding 15px 0 0
    .btn-outline-danger
      margin-top 10px
    .dropdown
      margin-top 10px
    .md-input-container.md-icon-right
      width 100%
      margin 10px 0 0
      padding-right 0 !important
    .logo
      height 75px
    .nav
      margin-top 10px
      > li > .shopping-cart
        padding-right 45px
  .nav-theme
    background-color mainColor
    .navbar-nav .nav-link
      color white
      font-size 16px