@media print
  header, footer, #footer-top, .thanks, button, .btn, .btn-blue, .wh-widget-send-button-wrapper
    display none
    margin 0
  #wh-widget-send-button iframe, .btn-inv
    display none
  .content
    margin 0
