/************** deafault css******************/

.no-padding
  padding 0 !important

.floatleft
  float left

.floatright
  float right

.alignleft
  float left
  margin-right 15px

.alignright
  float right
  margin-left 15px

.aligncenter
  display block
  margin 0 auto 15px

.padding
  padding 20px 0

a:focus
  outline 0 solid

a:hover
  text-decoration none

img
  max-width 100%
  height auto

.fix
  overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
  margin 0 0 15px
  font-weight 700
  font-family 'Poppins', sans-serif

.section_padding
  padding: 80px 0

p
  font-family 'Poppins', sans-serif
  font-weight 400
  font-size 14px

body
  font-family 'Poppins', sans-serif

.white
  color white !important

/************** Grid css******************/

.content-post
  margin 80px 0

.a-card
  margin 10px
.deckgrid[deckgrid]::before
  content '3 .column.size-1-3'
  font-size 0
  visibility hidden

.deckgrid
  margin 0 auto
  .column
    float left
    &.size-1-5
      width 20%
    &.size-1-4
      width 25% /* 325px */
    &.size-1-3
      width 33.33333%
    &.size-1-2
      width 50%
    &.size-1-1
      width 100%

@media screen and (max-width: 840px)
  .deckgrid[deckgrid]::before
    content '3 .column.size-1-3'

@media screen and (min-width: 481px) and (max-width: 768px)
  .deckgrid[deckgrid]::before
    content '2 .column.size-1-2'

@media only screen and (max-device-width : 320px),  only screen and (max-width : 480px)
  .deckgrid[deckgrid]::before
    content '1 .column.size-1-1'

/************** main css ******************/
header
  .navbar-default
    background white
    height 100px
    border none
    border-radius 0
    -webkit-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    -moz-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    margin-bottom 0
    z-index 9999
    .navbar-brand
      padding 5px 15px
    .navbar-nav > li > a
      color #5d5d5d
      padding 40px 18px
      font-size 18px
      font-family 'Poppins', sans-serif
      font-weight 500
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus
      background-color transparent
      color #389c80
    .navbar-nav
      .dropdown:hover .dropdown-toggle
        background-color transparent
        color #389c80
      .dropdown
        .dropdown-menu
          width 100%
          background-color white
          border none
          border-top 2px solid #389c80 !important
          -webkit-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          -moz-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
        .dropdown-menu >  li > a
          color #5d5d5d
          font-weight 300
          font-size 16px
          padding 10px 15px
        .dropdown-menu >  li > a:hover
          background rgba(56,156,128,0.4)
          color white

  .logo
    width auto
    margin-top 10px

/********************************/

.carousel-caption
  top 20%
  width 80%
  left 10%
  .text
    margin-top 40px
  .box-mail
    background rgba(255,255,255, 0.8)
    border-radius 3px
    padding 15px
    h4
      color #5d5d5d
      text-shadow none

#slider-area
  background url(../img/bg.jpg)
  padding-top 35px
  padding-bottom: 285px
  background-position: center center

  .scrollme
    color #555555
    font-size 28px
.header-margin
  margin-top 150px

.logo
  margin-top 0

.slider-area-text
  text-align center
  p
    color #555
    margin 30px 0

  h2
    font-size 45px
    color #555


/************** content area default ****************/
#content-area
  margin 160px 0px 60px
  .title-post
    background #9c161d
    clear both
    .title
      color white
      line-height 40px
      margin-bottom 0
      font-size 24px
  .title-p
    color #737373
    font-size 18px
  .divider
    border: 1px solid #f5f5f5;
  .content-pages
    padding 20px 0
.gallery
  padding 20px 0
  clear both

/************** Home area css ******************/

#contact-section
  background-image url("../img/banner-bottom.jpg")
  background-repeat no-repeat
  background-position cover
  text-align center
  h3
    text-align left
    font-weight 300
  span
    color white
    letter-spacing 1px
    font-size 18px
  .contact
    a
      color white
      font-size 28px
      line-height 75px

#recommendation
  .title
    padding-bottom 40px
    color #5d5d5d
.box-blog
  padding-bottom 20px
  border-bottom 1px solid #f5f5f5
  a
    color #5d5d5d
    &:hover, &:focus
      color white
   color
.box-default
  padding 20px
  transition background-color 0.5s ease
  h2
    color #5d5d5d
    padding 10px 0
    font-size 24px
  .comment-area
    padding-bottom 10px
    .comment, .date
      color #5d5d5d
  .box-header
    img
      width 100%
  .box-container
    text-align center
    h1
      color #5d5d5d
      font-weight 300
      font-size 22px
      margin 10px 0
  &:hover, &:focus
    background #f5f5f5
    h1,h2
      color #9c161d
    p
      color #555
    .comment-area
      .date, .comment
        color #555
.widgets
  margin-top -35px
.box-sidebar
  padding-top 20px
  .box-header
    background transparent
    padding 10px
    font-size 20px
    text-align left
    padding 10px 0
    color #878787
  .box-body
    .list-group
      boder-radius 0
      a
        color #777
      .list-group-item:first-child
        border-top-left-radius 0px
        border-top-right-radius 0px

.parallax
  perspective 1px
  height 400px
  overflow-x hidden
  overflow-y auto
  background #172031

.parallax__layer
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.parallax__layer--base
  transform translateZ(0)
  img
    width 100% !important

.parallax__layer--back
  transform translateZ(-1px)
  z-index 99999
  .title
    h1
      font-size 65px
      color #e6b52a
      text-shadow 0 0 2px rgba(0,0,0, 0.5)
    h3
      font-size 56px
      color #e6b52a
      text-shadow 0 0 2px rgba(0,0,0, 0.5)
  .contact
    a
      color white
      font-size 45px
  .social
    text-align center
    padding 60px 0
    clear both
    a
      font-size 70px
      color white
      padding 0 25px
  .content-contact
    text-align center
    padding 60px 0

/* Projects detail */
.recommendations-detail
  padding-top 60px

.description-post
  padding 20px 0
  p
    color #555
    font-size 16px

.box-detail
  .description
    border-top 1px solid #bababa
    border-bottom 1px solid #bababa
    padding 20px 0
    margin 25px 0
    position relative
    &:before
      content 'Descripción'
      position absolute
      top -15px
      font-size 18px
      background #fff
      padding-right 10px
      font-weight bold
      color #999

.breadcrumb
  padding 8px 15px
  margin-bottom 20px
  list-style none
  background-color transparent
  border-radius 0
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  margin-bottom 60px

  li>a
    color #cccccc
.img-size
  a>img
    width 100%

/************** footer area css ******************/

#footer_area
  background #252323
  padding 30px 0
  color #fff

  .social-media
    padding 5px

  .footer-links
    color #fff
    &:hover, &:focus
      color #9c161d

  .divider_footer
    border-top 1px solid rgba(255,255,255,0.1)

  .company_logo
    margin 50px

  .company_address
    padding 10px 30px

  .company_address
    h2
      font-size 18px
      text-transform uppercase

    p
      font-size 14px
      font-weight 300

    h3
      font-size 14px
      font-weight 300

/**************** Buttons ***************/

/* buttons sizes */
.btn-sm
  padding: 5px 10px !important
.btn-search
  padding 10px 10px
  background white
  border-right 1px solid #eee
  border-top 1px solid #eee
  border-bottom 1px solid #eee

.btn-red
  background #9c161d
  display inline-block
  padding 10px 15px
  color #fff
  font-weight 700
  border-radius 5px
  border none
  border-radius 0
  &:hover, &:focus
    background #6b0f14
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 0px

.btn-yellow
  background #cbae00
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px
  border none
  border-radius 0
  &:hover, &:focus
    background #AE9400
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 0px
.btn-orange
  background #E08F17
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px
  border none
  border-radius 0
  &:hover, &:focus
    background #945c21
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 0px

.btn-green
  background #4ECB8C;
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px

  &:hover, &:focus
    background #43926A
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 5px

.btn-white-clear
  background transparent
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border 3px solid #fff
  border-radius 5px

  &:hover, &:focus
    background #fff
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #FF801A
    font-weight 700
    border-radius 5px
    border 3px solid #fff
/*********** Page contact *************/
.facebook
  color #666666
  i
    color #3B5998
.twitter
  color #666666
  i
    color #28A9E0
.linkedin
  color #666666
  i
    color #0177B5

.social-media
  color #666666
  padding 30px 0
  .social
    a
      color #666666
      font-size 18px
      line-height 40px

.phone
  color #666666
  i
    color #FF801A
.marker
  color #666666
  i
    color #E85A5A
.mail
  color #666666
  i
    color #FFA500
/******** Form section *************/

.form-section
  background transparent
  padding 0
  .title, .text-form
    color #565656

.form-control
  display block
  width 100%
  height 44px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color: #555
  background-color #fff
  background-image none
  border 1px solid #eaeaea
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  -webkit-transition border-color ease-in-out .15s
  -webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s

  &:focus
    border-color #389c80
    outline 0
    -webkit-box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
    box-shadow 0 0 0 9px rgba(0, 0, 0, 0)


.owl-nav
  display none