/************** deafault css******************/

.no-padding
  padding 0 !important

.floatleft
  float left

.floatright
  float right

.alignleft
  float left
  margin-right 15px

.alignright
  float right
  margin-left 15px

.aligncenter
  display block
  margin 0 auto 15px

.padding
  padding 20px 0

.alert-warning
  text-shadow 0 0 0 transparent

a:focus
  outline 0 solid

a:hover
  text-decoration none

img
  max-width 100%
  height auto

.fix
  overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
  margin 0 0 15px
  font-weight 500
  font-family 'Roboto', sans-serif

.section_padding
  padding: 80px 0
  .title-section
    color white
    border-bottom 1px solid rgba(255, 255, 255, 0.5)
    width 50%
    margin 0 auto
    margin-bottom 50px
    text-align center

p
  font-family 'Roboto', sans-serif
  font-weight 300
  font-size 16px

body
  font-family 'Roboto', sans-serif

.white
  color white !important

/************** Grid css******************/
.content
  margin-top 0px
.content-post
  margin 80px 0
  article
    h3
      color #bf9e4f
  p
    color #555
.a-card
  margin 10px
.deckgrid[deckgrid]::before
  content '3 .column.size-1-3'
  font-size 0
  visibility hidden

.deckgrid
  margin 0 auto
  .column
    float left
    &.size-1-5
      width 20%
    &.size-1-4
      width 25% /* 325px */
    &.size-1-3
      width 33.33333%
    &.size-1-2
      width 50%
    &.size-1-1
      width 100%

@media screen and (max-width: 840px)
  .deckgrid[deckgrid]::before
    content '3 .column.size-1-3'

@media screen and (min-width: 481px) and (max-width: 768px)
  .deckgrid[deckgrid]::before
    content '2 .column.size-1-2'

@media only screen and (max-device-width : 320px),  only screen and (max-width : 480px)
  .deckgrid[deckgrid]::before
    content '1 .column.size-1-1'

/************** main css ******************/
.log-section-mobile
  display none
header
  margin-top 0px
  .nav-top
    padding-top 10px
    background-color white
    p, p > a
      color #555
    i
      font-size 22px
      padding-left 10px
  .navbar-default
    position absolute
    left 0
    right 0
    top 35px
    background transparent
    height 110px
    border none
    border-radius 0
    margin-bottom 0
    z-index 9999
    .navbar-brand
      padding 5px 15px
    .navbar-nav > li > a
      color #f5f5f5
      padding 50px 10px 15px
      font-size 22px
      font-family 'Roboto', sans-serif
      font-weight 500
      text-shadow 0 2px 5px rgba(0,0,0, 1)
      -webkit-transition all ease-in-out .35s
      -o-transition all ease-in-out .35s
      transition all ease-in-out .35s
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus
      background-color transparent
      color #f5f5f5
      border-bottom 1px solid #f5f5f5
    .nav-main
      margin-top 5px
    .nav-log
      margin-top 30px
      border-left 1px solid #fff
      text-indent 20px
      li > a
        padding 15px 15px
        border none
        &:hover
          border none
    .navbar-nav
      .dropdown:hover .dropdown-toggle
        background-color transparent
        color #f2dec7
      .dropdown
        .dropdown-menu
          width 100%
          background-color white
          border none
          border-top 2px solid #389c80 !important
          -webkit-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          -moz-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
        .dropdown-menu >  li > a
          color #5d5d5d
          font-weight 300
          font-size 16px
          padding 10px 15px
        .dropdown-menu >  li > a:hover
          background rgba(56,156,128,0.4)
          color white

  .logo
    width auto
    margin-top 30px

.navbar-header
  color #d2b770 !important
  text-align left
/* home */
#our-services
  background-color #c00
  background-image url('../img/bg-space.jpg')
  background-position center center
  background-size cover
  background-repeat no-repeat

.btn-white
  background white

#search_submit
  margin-top 20px
  color #555

.main-bg-pages
  background #bdc3c7 /* fallback for old browsers */
  background -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50) /* Chrome 10-25, Safari 5.1-6 */
  background linear-gradient(to left, #bdc3c7 , #2c3e50)
  height 110px
.slider-img
  background-position center center
  background-size cover
  height 720px
  background-repeat no-repeat
.bg-inner
  width 100%
  position absolute
  background rgba(0, 0, 0, 0.5)
  height 100%
.carousel-caption
  top 35%
  text-align center
  opacity 1
  width 100%
  left 0
  h2
    border-bottom 1px solid rgba(255, 255, 255, 0.4)
    padding-bottom 20px
  .download-app
    padding 20px 0
    a
      padding-right 15px
  .log-process
    padding 25px 10px
    h4
      font-size 24px
      font-weight 100
  .btn
    margin-right 15px
    font-size 18px
    box-shadow 0 0 5px #000
    text-shadow 0 0 0px #000
  a
    color white
  h3
    text-shadow 0 0 10px #000
  .text
    margin-top 40px
  p
    font-size 42px
    text-shadow 0 0 10px #000

#slider-area
  background url(../img/bg.jpg)
  padding-top 35px
  padding-bottom: 285px
  background-position: center center

  .scrollme
    color #555555
    font-size 28px

.header-margin
  margin-top 150px

.slider-area-text
  text-align center
  p
    color #555
    margin 30px 0

  h2
    font-size 45px
    color #555

/************** content area default ****************/

#content-area
  margin 60px 0px 60px
  .title-post
    text-align center
    color #555
    clear both
    .title
      color #555
  .title-single
    color #787777
    line-height 40px
    margin-bottom 0
    font-size 26px
  h4
    color #555
    .divider
      border-color #ccc
      margin-top 15px
  .title-p
    color #737373
    font-size 18px
  .divider
    border-color #ccc
  .content-pages
    padding 20px 0
.gallery
  padding 20px 0
  clear both
.no-content
  background oldlace
  opacity 0.3
  padding 20px 0
  color orange
/************** Home area css ******************/
#contact
  background #e9e8e7
  text-align center
  padding 100px 0
  .list-contact
    a
      color #5d5d5d
      &:hover
        color #cb6c18
  h2
    color #5d5d5d
  p
    color #5d5d5d
    padding-bottom 40px
  a
    color #5d5d5d
    font-size 18px
  .contact-us
    padding 15px 0
    h4 > a, h4
      color #f2dec7
      line-height 35px
      font-weight 300

#contract
  background-image url('../img/parallax.jpg')
  background-position center center
  background-size cover
  padding 130px 0
  .description
    text-align center
    h2,h3
      color white
      text-shadow 0 0 10px rgba(0,0,0,0.5)
    p
      color white
      font-size 20px
      text-align center
      text-shadow 0 0 10px rgba(0,0,0,0.5)


#product-detail
  margin 100px 0
  .title-detail
    padding 0
    clear both
    height 230px
    background-size cover
    background-position center center
    .content-title
      .title
        margin-top 100px
        text-align left
        padding-left 60px
  .product-description
    margin 40px 0

  .title-detail>.content-title
    position absolute
    width 100%
    height 100%
    top 0
    text-align center
    font-size 24px
    padding 80px 20px 10px
    color #fff
    background rgba(224, 143, 23, 0.6)
    text-shadow 0 0 10px #000
#content-contact
  background #bdc3c7 /* fallback for old browsers */
  background -webkit-linear-gradient(to left, #bdc3c7, #2c3e50) /* Chrome 10-25, Safari 5.1-6 */;
  background linear-gradient(to left, #bdc3c7, #2c3e50)
  border-top 1px solid rgba(255,255,255, 0.2)
#news
  .title
    color #555555
    padding-bottom 15px

.work-description
  margin-top 100px
  h3
    color #555
.recent-work-wrap > .titles h3
  margin-top 170px
.recent-work-wrap > .titles
  border 1px solid rgba(255,255,255,0.2)
  position absolute
  width 100%
  height 100%
  top 0
  text-align center
  font-size 24px
  color #f2dec7
  background rgba(41, 29, 20, 0.75)
  text-shadow 0 0 10px #000
#recent-works
  padding 60px 0
  .title
    padding-bottom 40px
    h1
      color #555

.recent-work-wrap
  position relative
  height 350px
  background-size cover
  background-position center center

.recent-work-wrap img
  width 100%
  height 250px
.recent-work-wrap .recent-work-inner
  top 0
  background transparent
  opacity .8
  width 100%
  border-radius 0
  margin-bottom 0

.recent-work-wrap .recent-work-inner h3
  margin 50px 0 0
  text-shadow 0px 3px  4px rgba(0,0,0,0.5)

.recent-work-wrap .recent-work-inner a
  margin 15px 0

.recent-work-wrap .overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  opacity 0
  background #E08F17
  color #fff
  vertical-align middle
  -webkit-transition opacity 500ms
  -moz-transition opacity 500ms
  -o-transition opacity 500ms
  transition opacity 500ms
  padding 30px
  text-align center

.recent-work-wrap .overlay .preview
  bottom 0
  display inline-block
  height 35px
  line-height 35px
  border-radius 0
  background transparent
  text-align center
  color #fff

.recent-work-wrap:hover .overlay
  opacity 1

#contact-section
  background-image url("../img/banner-bottom.jpg")
  background-repeat no-repeat
  background-size cover
  text-align center
  h3
    text-align left
    font-weight 300
  span
    color white
    letter-spacing 1px
    font-size 18px
  .contact
    a
      color white
      font-size 28px
      line-height 75px

#recommendation
  .title
    padding-bottom 40px
    color #5d5d5d
.box-blog
  padding-bottom 20px
  border-bottom 1px solid #f5f5f5
  a
    color #5d5d5d
    &:hover, &:focus
      color white
   color
.tab-pane
  margin-bottom 50px

.nav > li > a:hover, .nav > li > a:focus
  background-color transparent

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover
  color #79afa0
  background-color transparent
  font-size 22px
  border-bottom 4px solid #79afa0 !important
  border 0 solid transparent


.nav-tabs > li > a
  border-radius 0
  font-size 22px
  color #888

.nav-tabs
  border-bottom 1px solid #ccc

.box-widget
  padding 5px 0px
  border 1px solid #f5f5f5
  .box-widget-header
    padding 10px
    border-bottom 1px solid #ccc
    font-size 20px
    background-color #999
    color white
  .box-widget-container
    padding 20px
    h3>a, h2>a
      font-size 14px
      color #777777
      font-weight 300
      &:hover
        color #bf9e4f
    h2
      font-size 18px
      color #555
.box-doc
  margin 5px 60px !important
  padding 0
  .box-container
    text-align center !important
    padding 20px 0px
    h3
      padding-bottom 20px
      margin 0
  &:hover
    boder none
    box-shadow 0 0 0 transparent !important
    h3
      color #cb6c18
.box-white
  background-color white
  margin 20px
  padding 0
  transition all 0.5s ease
  position relative
  color #555
  .title-box
    height 50px
    padding 15px
  .box-footer
    position absolute
    bottom 10px
    padding 0 15px
    font-size 18px
    a
      color #555
      font-weight bold
      &:hover
        color #7e0000
  .icon-box-bg
    height 150px
    background-size 180px
    background-repeat no-repeat
    background-position right

.box-default
  margin 10px
  padding 10px
  transition all 0.5s ease
  .description
    h4
      color #767676
  a
    color #5d5d5d
  .box-footer
    text-align center
    border-top 1px solid #f4f4f4
    border-bottom 1px solid #f4f4f4
    color #c7c7c7
    padding 5px 0
  h3
    color #5d5d5d
    padding 10px 0 0
    font-size 22px
  .comment-area
    padding-bottom 10px
    .comment, .date
      color #5d5d5d
  .box-header
    height 250px
    background-size cover
    background-position center center
  .box-container
    text-align left
    a
      text-decoration none
    h1
      color #5d5d5d
      font-weight 300
      font-size 22px
      margin 10px 0
    p
      color #5d5d5d
      text-align justify
  &:hover, &:focus
    background transparent
    box-shadow 0 0 3px rgba(0,0,0,0.4)
    h1,h2
      color #e08f17
    p
      color #555
    .comment-area
      .date, .comment
        color #555
.widgets
  margin-top 0px
.box-sidebar
  margin-top 60px
  .box-header
    background transparent
    padding 10px
    font-size 20px
    text-align left
    padding 10px 0
    color #878787
  .box-body
    .list-group
      boder-radius 0
      a
        color #777
      .list-group-item:first-child
        border-top-left-radius 0px
        border-top-right-radius 0px

#parallax
  background-image url('../img/parallax.jpg')
  background-repeat no-repeat
  background-position center center
  background-size cover
  .content-contact
    line-height 50px
  .description
    margin-top 30px
    h2,h3 > a
      color white
      font-weight 300
      line-height 30px
      -webkit-transition all ease 0.1s
      -moz-transition all ease 0.1s
      -ms-transition all ease 0.1s
      -o-transition all ease 0.1s
      transition all ease 0.1s
      &:hover
        color red
  .contact
    margin-top 30px
    a,p
      color white
      font-size 20px
      line-height 30px
      font-weight 300
      text-shadow 0 2px 3px rgba(0,0,0, 0.2)
  .social-media
    text-align center
    border-top 1px solid white
    a
      font-size 20px
      padding-right 30px
.social
  h2
    font-size 24px
    color #79afa0

/* Projects detail */
.recommendations-detail
  padding-top 60px

.description-post
  padding 20px 0
  p
    color #555
    font-size 16px

.box-detail
  .description
    border-top 1px solid #bababa
    border-bottom 1px solid #bababa
    padding 20px 0
    margin 25px 0
    position relative
    &:before
      content 'Descripción'
      position absolute
      top -15px
      font-size 18px
      background #fff
      padding-right 10px
      font-weight bold
      color #999
#breadcrumb
  border-bottom 1px solid #f5f5f5
  .breadcrumb
    padding 15px 15px
    list-style none
    background-color transparent
    border-radius 0
    border-top 1px solid transparent
    border-bottom 1px solid transparent
    margin-bottom 0px

    li>a
      color #cccccc
.img-size
  a>img
    width 100%

/************** footer area css ******************/
#info
  background-color #5d5d5d
  padding 20px 0
  p, h3
    color white
#footer_area
  background #fff
  padding 30px 0
  color #555
  line-height 30px
  border-top 1px solid #ccc
  .first-foo
    border-bottom 1px solid rgba(255,255,255,0.5)
    padding 15px 0
  .second-foo
    padding 15px 0
  .social-media-footer
    font-size 16px
    color white
    a
      color white
      padding-right 8px
      font-weight 100
      i
        font-size 18px
      &:hover
        color #cb6c18
  .info
    text-align right
    a
      padding-right 15px
  .contact-footer
    a
      color #bf9e4f
      font-weight 300
      &:hover
        color #E08F17
  .text
    color #E08F17

/**************** Buttons ***************/

/* buttons sizes */
.btn-login
  color white
  padding-top 20px
  &:hover, &:focus
    color rgba(255, 255, 255, 0.6)
.btn-sm
  padding: 5px 10px !important
.btn-search
  padding 10px 10px
  background white
  border-right 1px solid #eee
  border-top 1px solid #eee
  border-bottom 1px solid #eee

.btn-red
  background #9c161d
  display inline-block
  padding 10px 15px
  color #fff
  font-weight 700
  border none
  border-radius 0
  &:hover, &:focus
    background #6b0f14
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 0px

.btn-yellow
  background #cbae00
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border none
  border-radius 0
  &:hover, &:focus
    background #AE9400
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 0px
.btn-orange
  background #cb6c18
  display inline-block
  padding 10px 15px
  color #fff
  font-weight 300
  border 1px solid #cb6c18
  -webkit-transition all ease 0.1s
  -moz-transition all ease 0.1s
  -ms-transition all ease 0.1s
  -o-transition all ease 0.1s
  transition all ease 0.1s
  border-radius 3px
  &:hover, &:focus
    border 1px solid #a65516
    background #a65516
    display inline-block
    padding 10px 15px
    color #fff
    font-weight 300
    border-radius 3px

.btn-green
  background #4ECB8C;
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px

  &:hover, &:focus
    background #43926A
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 5px

.btn-white-clear
  background transparent
  display inline-block
  padding 10px 15px !important
  color #fff
  font-weight 300
  border 1px solid #fff
  border-radius 3px
  -webkit-transition all ease 0.1s
  -moz-transition all ease 0.1s
  -ms-transition all ease 0.1s
  -o-transition all ease 0.1s
  transition all ease 0.1s

  &:hover, &:focus
    background #fff
    display: inline-block
    padding 10px 15px
    color #555
    font-weight 300
    border-radius 3px
    border 1px solid #fff
.btn-gray-clear
  background transparent
  display inline-block
  padding 10px 15px !important
  color #555
  font-weight 300
  border 1px solid #555
  border-radius 3px
  -webkit-transition all ease 0.1s
  -moz-transition all ease 0.1s
  -ms-transition all ease 0.1s
  -o-transition all ease 0.1s
  transition all ease 0.1s

  &:hover, &:focus
    background #555
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 300
    border-radius 3px
    border 1px solid #555
.btn-green-clear
  background transparent
  display inline-block
  padding 10px 15px
  color #79afa0
  font-weight 700
  border 3px solid #79afa0
  border-radius 0px

  &:hover, &:focus
    background #4f7467
    display: inline-block
    padding 10px 15px
    color white
    font-weight 700
    border-radius 0px
    border 3px solid #4f7467

.btn-coffee-clear
  background transparent
  display inline-block
  padding 10px 15px
  color #574d47
  font-weight 700
  border 3px solid #574d47
  border-radius 5px

  &:hover, &:focus
    background #574d47
    display: inline-block
    padding 10px 15px
    color #fff
    font-weight 700
    border-radius 5px
    border 3px solid #574d47
/*********** Page contact *************/
.facebook
  color #666666
  i
    color #3B5998
.twitter
  color #666666
  i
    color #28A9E0
.linkedin
  color #666666
  i
    color #0177B5

.social-media
  color #666666
  padding 30px 0
  .social
    a
      color #666666
      font-size 18px
      line-height 40px

.phone
  color #666666
  i
    color #FF801A
.marker
  color #666666
  i
    color #E85A5A
.mail
  color #666666
  i
    color #FFA500
/******** Form section *************/

.form-section
  background transparent
  padding-bottom  100px
  .title, .text-form
    color #565656
.contact-section
  background rgba(255,255,255,0.95)
  padding 25px
  box-shadow 0 0 20px rgba(0, 0, 0, 0.10)
  border-radius 5px
  margin-top 100px
.form-item
  padding-top 20px
.form-control
  margin-bottom 15px
  display block
  width 100%
  height 44px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color #555
  background-color #fff
  background-image none
  border 1px solid #eaeaea !important
  border-radius 0px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  -webkit-transition border-color ease-in-out .15s
  -webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition all ease .1s

  &:focus
    padding 6px 12px
    border 1px solid red !important
    outline 0
    -webkit-box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
    box-shadow 0 0 0 9px rgba(0, 0, 0, 0)

.form-control-select
  display block
  width 100%
  height 44px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color #555
  background-color #fff
  background-image none
  padding 0
  border 1px solid #eaeaea
  border-radius 0px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  -webkit-transition border-color ease-in-out .15s
  -webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition all ease .1s

  &:focus
    padding 8px 5px
    border 1px solid #888
    outline 0
    -webkit-box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
    box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
.checkbox-styl
  padding 25px 0 0
  text-align center
  a
    color #1b449c
.owl-nav
  display none

/*transition tabs*/

.tab-animation
  & > .tab-content
    position relative
    & > .tab-pane
      transition 0.3s linear opacity
      &.active-remove
        position absolute
        top 0
        width 100%
        display block
      &.active-remove-active
        opacity 0
      &.active-add
        opacity 0

.margin10
  margin-bottom 15px
  margin-right 20px

.img-gallery-single
  padding 0
  clear both
  width 560px
  height 340px
  background-size cover
  background-position center center

.height-title
  height 60px

.height-summary
  height 70px

.height-summary-categories
  height 40px
  margin-top 10px

.height-title-home
  height 90px

.height-summary-home
  height 50px

/* spinner sytl*/
.block-ui-overlay
  width 100%
  height 100%
  opacity 1
  background #bdc3c7 /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


.block-ui-message
  background-color transparent
.sk-circle
  margin 20px auto
  width 60px
  height 60px
  position relative
  .sk-child
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    &:before
      content ''
      display block
      margin 0 auto
      width 20%
      height 20%
      background-color #fff
      border-radius 100%
      -webkit-animation sk-circleBounceDelay 1.2s infinite ease-in-out both
      animation sk-circleBounceDelay 1.2s infinite ease-in-out both
  .sk-circle2
    -webkit-transform rotate(30deg)
    -ms-transform rotate(30deg)
    transform rotate(30deg)
    &:before
        -webkit-animation-delay -1.1s
        animation-delay -1.1s
  .sk-circle3
    -webkit-transform rotate(60deg)
    -ms-transform rotate(60deg)
    transform rotate(60deg)
    &:before
        -webkit-animation-delay -1s
        animation-delay -1s
  .sk-circle4
    -webkit-transform rotate(90deg)
    -ms-transform rotate(90deg)
    transform rotate(90deg)
    &:before
        -webkit-animation-delay -0.9s
        animation-delay -0.9s
  .sk-circle5
    -webkit-transform rotate(120deg)
    -ms-transform rotate(120deg)
    transform rotate(120deg)
    &:before
        -webkit-animation-delay -0.8s
        animation-delay -0.8s
  .sk-circle6
    -webkit-transform rotate(150deg)
    -ms-transform rotate(150deg)
    transform rotate(150deg)
    &:before
        -webkit-animation-delay -0.7s
        animation-delay -0.7s
  .sk-circle7
    -webkit-transform rotate(180deg)
    -ms-transform rotate(180deg)
    transform rotate(180deg)
    &:before
        -webkit-animation-delay -0.6s
        animation-delay -0.6s
  .sk-circle8
    -webkit-transform rotate(210deg)
    -ms-transform rotate(210deg)
    transform rotate(210deg)
    &:before
        -webkit-animation-delay -0.5s
        animation-delay -0.5s
  .sk-circle9
    -webkit-transform rotate(240deg)
    -ms-transform rotate(240deg)
    transform rotate(240deg)
    &:before
        -webkit-animation-delay -0.4s
        animation-delay -0.4s
  .sk-circle10
    -webkit-transform rotate(270deg)
    -ms-transform rotate(270deg)
    transform rotate(270deg)
    &:before
        -webkit-animation-delay -0.3s
        animation-delay -0.3s
  .sk-circle11
    -webkit-transform rotate(300deg)
    -ms-transform rotate(300deg)
    transform rotate(300deg)
    &:before
        -webkit-animation-delay -0.2s
        animation-delay -0.2s
  .sk-circle12
    -webkit-transform rotate(330deg)
    -ms-transform rotate(330deg)
    transform rotate(330deg)
    &:before
        -webkit-animation-delay -0.1s
        animation-delay -0.1s


@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-circleBounceDelay
  0%, 80%, 100%
    -webkit-transform: scale(0);
    transform: scale(0);
   40%
    -webkit-transform: scale(1.0);
    transform: scale(1.0);





