/************** deafault css******************/

.no-padding
  padding 0 !important

.floatleft
  float left

.floatright
  float right

.alignleft
  float left
  margin-right 15px

.alignright
  float right
  margin-left 15px

.aligncenter
  display block
  margin 0 auto 15px

.padding
  padding 20px 0

a:focus
  outline 0 solid

a:hover
  text-decoration none

img
  max-width 100%
  height auto

.fix
  overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
  margin 0 0 15px
  font-weight 700
  font-family 'Roboto', sans-serif

.section_padding
  padding: 80px 0

p
  font-family 'Roboto', sans-serif
  font-weight 400
  font-size 14px

body
  font-family 'Roboto', sans-serif !important

.white
  color white !important

/************** main css ******************/
header
  .navbar-default
    background #f5f5f5
    height 100px
    border none
    border-radius 0
    -webkit-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    -moz-box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    box-shadow 0 0 15px rgba(0, 0, 0, 0.43)
    margin-bottom 0
    z-index 9999
    .navbar-nav > li > a
      padding 40px 18px
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus
      background-color #eeedec
      color #e50983
    .main-nav
      border-left 1px solid #ccc
      .dropdown:hover .dropdown-toggle
        background-color #E50983 !important
        color #eeedec !important
      .dropdown
        .user-help
          right -126px
          border-top 5px solid #E50983 !important
          border-top-left-radius 0px
          border-top-right-radius 0px
          .dropdown-header
            font-size 18px
            font-weight bold
        .user-log
          border-top 5px solid #E50983 !important
          border-top-left-radius 0px
          border-top-right-radius 0px
          right -68px
          min-width 200px
          .dropdown-header
            font-size 18px
            font-weight bold
        .user-shopping
          border-top 5px solid #E50983 !important
          border-top-left-radius 0px
          border-top-right-radius 0px
          min-width 250px
          padding-bottom 0
          .dropdown-header
            font-size 16px
            font-weight bold
          .list-payment
            margin 10px 0
            color #555555 !important
          .list-total
            margin 10px 0
            font-weight bold

    .main-nav > li > a
      padding 32px 18px
      color #e50983
    .main-nav > li > a:hover, .main-nav > li > a:focus
      background-color transparent
      color #e50983
    .navbar-nav
      .dropdown:hover .dropdown-toggle
        background-color #eeedec
        color #e50983
      .dropdown
        .dropdown-menu
          background-color #eeedec
          border none
          -webkit-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          -moz-box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
          box-shadow 0px 5px 5px rgba(0, 0, 0, 0.33)
        .dropdown-menu >  li > a
          color #8e8e8e
          font-size 16px
          padding 10px 15px
        .dropdown-menu >  li > a:hover
          background transparent
          color #e50983

  .logo
    width 150px

/********************************/

#slider-area
  background url(../img/bg.jpg)
  padding-top 35px
  padding-bottom: 285px
  background-position: center center

  .scrollme
    color #555555
    font-size 28px
.header-margin
  margin-top 150px

.logo
  margin-top 0

.navbar-nav > li > a
  font-size: 18px
  color: #555
  font-family 'Roboto', sans-serif
  font-weight 700

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus
  background none

.slider-area-text
  text-align center
  p
    color #555
    margin 30px 0

  h2
    font-size 45px
    color #555


/************** content area default ****************/
#content-area
  margin 60px 0px 60px
  .title
    color #737373
  .title-p
    color #737373
    font-size 18px
  .divider
    border: 1px solid #f5f5f5;
  .content-pages
    padding 20px 0

/************** Home area css ******************/

#section-sports
  background #172031
  text-align center
  h3
    color white
    margin-bottom 45px
  h4
    margin-top 15px
    color white
#recommendation
  .title
    padding-bottom 40px
    color #5d5d5d
.box-blog
  padding-bottom 20px
  border-bottom 1px solid #f5f5f5
  a
    color #5d5d5d
    &:hover, &:focus
      color white
   color
.box-default
  padding 20px
  transition background-color 0.5s ease
  h2
    color #5d5d5d
    padding 10px 0
    font-size 24px
  .comment-area
    padding-bottom 10px
    .comment, .date
      color #5d5d5d
  .box-header
    img
      width 100%
  .box-container
    text-align center
    h1
      color #5d5d5d
      font-weight 300
      font-size 22px
      margin 10px 0
  &:hover, &:focus
    background #e50983
    h1,h2
      color white
    .comment-area
      .date, .comment
        color white
.widgets
  margin-top 30px
.box-sidebar
  .box-header
    background #5d5d5d
    padding 10px
    font-size 20px
    text-align center
    color white
  .box-body
    .list-group
      boder-radius 0
      .list-group-item:first-child
        border-top-left-radius 0px
        border-top-right-radius 0px

.parallax
  perspective 1px
  height 400px
  overflow-x hidden
  overflow-y auto
  background #172031

.parallax__layer
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.parallax__layer--base
  transform translateZ(0)
  img
    width 100% !important

.parallax__layer--back
  transform translateZ(-1px)
  z-index 99999
  .title
    h1
      font-size 65px
      color #e6b52a
      text-shadow 0 0 2px rgba(0,0,0, 0.5)
    h3
      font-size 56px
      color #e6b52a
      text-shadow 0 0 2px rgba(0,0,0, 0.5)
  .contact
    a
      color white
      font-size 45px
  .social
    text-align center
    padding 60px 0
    clear both
    a
      font-size 70px
      color white
      padding 0 25px
  .content-contact
    text-align center
    padding 60px 0

/* Projects */
.breadcrumb
  padding 8px 15px
  margin-bottom 20px
  list-style none
  background-color transparent
  border-radius 0
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  margin-bottom 60px

  li>a
    color #cccccc
.img-size
  a>img
    width 100%

/************** footer area css ******************/

#footer_area
  background #172031
  padding 30px 0
  color #fff

  .social-media
    padding 5px

  .footer-links
    color #fff
    &:hover, &:focus
      color #ff801a

  .divider_footer
    border-top 1px solid #1C263A

  .company_logo
    margin 50px

  .company_address
    padding 10px 30px

  .company_address
    h2
      font-size 18px
      text-transform uppercase

    p
      font-size 14px
      font-weight 300

    h3
      font-size 14px
      font-weight 300

/**************** Buttons ***************/

/* buttons sizes */
.btn-sm
  padding: 5px 10px !important

.btn-yellow
  background #cbae00;
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px
  border none
  border-radius 0
  &:hover, &:focus
    background #AE9400
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 0px

.btn-green
  background #4ECB8C;
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border-radius 5px

  &:hover, &:focus
    background #43926A
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #fff
    font-weight 700
    border-radius 5px

.btn-white-clear
  background transparent
  display inline-block
  padding 10px 15px
  text-transform uppercase
  color #fff
  font-weight 700
  border 3px solid #fff
  border-radius 5px

  &:hover, &:focus
    background #fff
    display: inline-block
    padding 10px 15px
    text-transform uppercase
    color #FF801A
    font-weight 700
    border-radius 5px
    border 3px solid #fff
/*********** Page contact *************/
.facebook
  color #666666
  i
    color #3B5998
.twitter
  color #666666
  i
    color #28A9E0
.linkedin
  color #666666
  i
    color #0177B5
.social-media
  color #666666
  padding 60px 0

.phone
  color #666666
  i
    color #FF801A
.marker
  color #666666
  i
    color #E85A5A
.mail
  color #666666
  i
    color #FFA500
/******** Form section *************/

.form-section
  background transparent
  padding 0
  .title, .text-form
    color #565656

.form-control
  display block
  width 100%
  height 44px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color: #555
  background-color #fff
  background-image none
  border 5px solid #f5f5f5
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0)
  -webkit-transition border-color ease-in-out .15s
  -webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s
  box-shadow ease-in-out .15s

  &:focus
    border-color #e50983
    outline 0
    -webkit-box-shadow 0 0 0 9px rgba(0, 0, 0, 0)
    box-shadow 0 0 0 9px rgba(0, 0, 0, 0)


