 {
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.header {
  position: initial;
}
.shopping-cart {
  position: relative;
  margin-top: -5px;
}
.shopping-cart i {
  font-size: 40px;
  color: #777;
}
.shopping-cart .qty-cart {
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  background-color: #ff9039;
  font-size: 13px;
  top: -20px;
  left: 15px;
  width: 20px;
  height: 20px;
}
.three-rows-nav .first-row {
  padding: 15px 0;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}
.three-rows-nav .first-row .dropdown-menu {
  margin-top: -10px;
}
.three-rows-nav .first-row .list-icons-add li i {
  margin-top: 5px;
}
.three-rows-nav .first-row .list-icons-add li:nth-last-child(1) {
  display: none;
}
.three-rows-nav .first-row .input-group {
  margin-bottom: 0;
}
.three-rows-nav .first-row .input-group .input-group-text {
  background-color: #fff;
  border-left-color: #fff;
}
.three-rows-nav .second-row {
  padding: 15px 0 0;
}
.three-rows-nav .second-row .btn-outline-danger {
  margin-top: 10px;
}
.three-rows-nav .second-row .dropdown {
  margin-top: 10px;
}
.three-rows-nav .second-row .md-input-container.md-icon-right {
  width: 100%;
  margin: 10px 0 0;
  padding-right: 0 !important;
}
.three-rows-nav .second-row .logo {
  height: 75px;
}
.three-rows-nav .second-row .nav {
  margin-top: 10px;
}
.three-rows-nav .second-row .nav > li > .shopping-cart {
  padding-right: 45px;
}
.three-rows-nav .nav-theme {
  background-color: #ff5849;
}
.three-rows-nav .nav-theme .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
}
.btn-primary {
  color: #fff;
  background: #03a9f4;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #03a9f4;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-info {
  color: #fff;
  background: #00bcd4;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00bcd4;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #00bcd4;
  border: 1px solid #00bcd4;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-success {
  color: #fff;
  background: #85ce88;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #85ce88;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #85ce88;
  border: 1px solid #85ce88;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-warning {
  color: #fff;
  background: #ff9039;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff9039;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #ff9039;
  border: 1px solid #ff9039;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-danger {
  color: #fff;
  background: #ff5849;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff5849;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #ff5849;
  border: 1px solid #ff5849;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-default {
  color: #777;
  background: #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ddd;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #ddd;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-dark {
  color: #fff;
  background: #777;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #777;
}
.btn-dark:hover,
.btn-dark:focus {
  background-color: #777;
  border: 1px solid #777;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-primary {
  color: #03a9f4;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #03a9f4;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-info {
  color: #00bcd4;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00bcd4;
}
.btn-outline-info:hover,
.btn-outline-info:focus {
  background-color: #00bcd4;
  border: 1px solid #00bcd4;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-success {
  color: #85ce88;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #85ce88;
}
.btn-outline-success:hover,
.btn-outline-success:focus {
  background-color: #85ce88;
  border: 1px solid #85ce88;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-warning {
  color: #ff9039;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff9039;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus {
  background-color: #ff9039;
  border: 1px solid #ff9039;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-danger {
  color: #ff5849;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff5849;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus {
  background-color: #ff5849;
  border: 1px solid #ff5849;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-danger:disabled {
  color: #ff5849;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff5849;
  opacity: 0.5;
  cursor: no-drop;
}
.btn-outline-default {
  color: #777;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #777;
}
.btn-outline-default:hover,
.btn-outline-default:focus {
  background-color: #ddd;
  border: 1px solid #777;
  color: #777;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-outline-dark {
  color: #777;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #777;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background-color: #777;
  border: 1px solid #777;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.bordered {
  border-radius: 30px;
}
.unbordered {
  border-radius: 0;
}
.dropdown-menu {
  top: 38px;
}
.box,
.box-simple,
.box-default {
  padding: 15px;
  box-shadow: none;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}
.box-simple {
  background-color: #fff;
  margin-bottom: 15px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.box-simple a:hover {
  text-decoration: none;
}
.box-simple a .box-title {
  color: #777 !important;
}
.box-simple .box-header .box-bg-img {
  background-position: center;
  background-size: cover;
  height: 200px;
}
.box-simple .box-container {
  text-align: center;
  margin-bottom: 15px;
}
.box-simple .box-container p {
  height: 50px;
  padding: 10px;
}
.box-simple .box-footer {
  text-align: center;
}
.box-simple:hover {
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}
.box-default {
  background-color: #f5f5f5;
}
.box-bordered {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.box-bordered a:hover {
  text-decoration: none;
}
.box-bordered .box-header .img-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.box-bordered .box-article {
  color: #777;
}
.box-contact h3 {
  color: #fff;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.box-contact .list-icons-add .nav-link {
  color: #fff;
}
.box-contact .list-icons-add .nav-link p {
  margin: 0;
}
.title,
.title-primary,
.header-title-large {
  padding: 25px 0;
}
.title-primary {
  text-align: center;
}
.header-title-large {
  background-color: #f5f5f5;
  color: #777;
}
.header-title-large h1 {
  font-size: 28px;
}
.items-dashboard {
  border: 1px solid #ddd;
  padding: 15px;
}
.list-icons-add .nav-link {
  display: inline-flex;
  color: #777;
}
.list-icons-add .nav-link i {
  margin-top: 3px;
  padding-right: 2px;
}
.owl-theme-page .owl-nav [class*='owl-'] {
  background-color: transparent;
  font-size: 36px;
}
.owl-theme-page .owl-nav [class*='owl-']:hover {
  background-color: transparent;
  color: #ff5849;
}
.owl-theme-page .slider-page {
  height: 330px;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.owl-theme-page .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-theme-page .owl-nav .owl-prev {
  left: 25px;
  position: absolute;
  padding: 5px 20px;
}
.owl-theme-page .owl-nav .owl-next {
  right: 25px;
  position: absolute;
  padding: 5px 20px;
}
.owl-theme-page .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.owl-theme-page .owl-dots .owl-dot.active span,
.owl-theme-page .owl-dots .owl-dot:hover span {
  background-color: #fff;
}
.owl-theme-page .owl-dots .owl-dot.active span:hover,
.owl-theme-page .owl-dots .owl-dot:hover span:hover {
  background-color: #fff;
}
.owl-theme-page .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #fff;
}
.owl-theme-page .owl-dots .owl-dot span:hover {
  background-color: #fff;
}
.owl-theme-slider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.owl-theme-slider .owl-dots .owl-dot.active span,
.owl-theme-slider .owl-dots .owl-dot:hover span {
  background-color: #fff;
}
.owl-theme-slider .owl-dots .owl-dot.active span:hover,
.owl-theme-slider .owl-dots .owl-dot:hover span:hover {
  background-color: #fff;
}
.owl-theme-slider .owl-dots .owl-dot span {
  background-color: transparent;
  border: 1px solid #fff;
}
.owl-theme-slider .owl-dots .owl-dot span:hover {
  background-color: #fff;
}
.owl-theme-slider .owl-nav [class*='owl-'] {
  background-color: rgba(0,0,0,0.6);
  font-size: 28px;
  border-radius: 30px;
  color: #fff;
  opacity: 0.5;
}
.owl-theme-slider .owl-nav [class*='owl-']:hover {
  background-color: #000;
}
.owl-theme-slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-theme-slider .owl-nav .owl-prev {
  left: 35px;
  position: absolute;
  padding: 5px 20px;
}
.owl-theme-slider .owl-nav .owl-next {
  right: 35px;
  position: absolute;
  padding: 5px 20px;
}
.slider-box {
  padding-top: 0 !important;
  padding-bottom: 0;
}
.slider-box .slider-img {
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}
.tab-simple {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 21px rgba(0,0,0,0.1);
}
.tab-simple .tab-pane {
  border: none !important;
  padding: 15px;
  background-color: transparent;
}
.tab-simple .nav-item.active {
  color: #ff5849;
  background-color: transparent;
  border-bottom: 1px solid #ff5849;
}
.tab-simple .nav-tabs .nav-link.active {
  color: #ff5849;
}
.tab-simple .nav-tabs .nav-link {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #777;
}
.tab-simple .nav-tabs .nav-link:hover,
.tab-simple .nav-tabs .nav-link:focus,
.tab-simple .nav-tabs .nav-link .active {
  border-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #ff5849;
  background-color: transparent;
}
.box-widget-default {
  background-color: transparent;
  border-radius: 2px;
  padding: 20px;
  border: none;
  box-shadow: none;
}
.box-widget-white {
  background-color: #f9f9f9;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 15px;
}
.box-widget-white .widget-title-first {
  background: transparent;
  padding: 10px 5px;
  color: #555 !important;
  border-bottom: 1px solid #eee;
}
.box-widget-white ul li > a {
  color: #555;
  text-decoration: none;
}
.box-widget-white ul li > a:hover {
  color: #ff7300;
}
.box-widget {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: none;
}
.box-widget .widget-title {
  padding-left: 10px;
  font-weight: bold;
  padding: 20px 10px;
  margin: 0;
}
.box-widget .box-widget-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  background-color: transparent;
  color: #746857;
}
.box-widget .box-widget-container {
  padding: 5px;
}
.box-widget .box-widget-container h3>a,
.box-widget .box-widget-container h2>a {
  font-size: 14px;
  color: catext;
  font-weight: 300;
}
.box-widget .box-widget-container h3>a:hover,
.box-widget .box-widget-container h2>a:hover {
  color: cagreen;
}
.box-widget .box-widget-container h2 {
  font-size: 18px;
  color: #6a5c5d;
}
.shopcart-img {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
}
#breadcrumb {
  background-color: #e9ecef;
}
#breadcrumb a {
  color: #777;
}
.demo-select-header .demo-header-searchbox {
  width: 100%;
}
.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #f5f5f5 /* fallback for old browsers */;
}
.block-ui-message {
  background: transparent;
}
.sk-circle {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #ffa500;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
.spinner {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ff5849;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media print {
  header,
  footer,
  #footer-top,
  .thanks,
  button,
  .btn,
  .btn-blue,
  .wh-widget-send-button-wrapper {
    display: none;
    margin: 0;
  }
  #wh-widget-send-button iframe,
  .btn-inv {
    display: none;
  }
  .content {
    margin: 0;
  }
}
input[type="reset"][disabled],
input[type="submit"][disabled],
html input[type="button"][disabled],
button[disabled],
.btn[disabled] {
  cursor: not-allowed;
}
body {
  background-color: #fff;
  color: #777;
  font: 16px 'Poppins', sans-serif;
}
body .content-area-web {
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p,
span {
  font-weight: 400;
  font: 16px 'Poppins', sans-serif;
}
.sweet-alert p {
  font-weight: 400;
}
md-input-container {
  width: 100%;
}
.content-area {
  padding: 50px 0;
}
.article-content {
  padding: 60px 0;
}
.three-rows-nav .first-row .nav-link {
  padding: 5px 0 0;
}
.three-rows-nav .first-row .input-search md-input-container.md-icon-right {
  width: 100%;
  margin: 0;
  padding: 2px 0 0;
  height: 30px;
}
.three-rows-nav .social {
  text-align: right;
}
.three-rows-nav .social .list-icons-add {
  display: none;
}
.three-rows-nav .social .list-icons-add:nth-child(2),
.three-rows-nav .social .list-icons-add:nth-child(6) {
  display: inline !important;
}
#home .section-one,
#home .section-two,
#home .section-three,
#home .section-four,
#home .section-five,
#home .section-six,
#home .section-seven {
  padding: 80px 0;
}
#home .section-one {
  background-color: #f1f1f1;
}
#home .section-one a {
  color: #ff5849;
}
#home .section-one p {
  font-size: 18px;
  padding-right: 15px;
}
#home .section-one img {
  width: 100%;
}
#home .section-three {
  text-align: center;
  background-color: #f1f1f1;
}
#home .section-three p {
  font-size: 18px;
}
#home .section-four .list-group {
  margin-bottom: 15px;
}
#home .section-five {
  background-color: #f1f1f1;
}
#home .section-five .text-center {
  margin: 0 auto;
  padding-top: 20px;
}
#home .section-six .box-simple {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#home .section-seven {
  background-color: #ff5849;
}
#home .section-seven .title-primary h3 {
  color: #fff;
}
#home .section-seven a {
  color: #fff;
}
.temp-categories .title-primary {
  text-align: left;
}
.temp-product-detail .article-description md-input-container {
  width: 30%;
}
.temp-product-detail .article-description .article-price {
  color: #ff9039;
  margin-bottom: 15px;
}
.temp-product-detail h3 {
  color: #777;
}
.temp-product-detail h4 {
  color: #777;
}
.temp-validate-account {
  padding: 50px 0;
}
.temp-validate-account p {
  font-size: 20px;
}
.temp-dashboard {
  padding: 50px 0;
}
.temp-dashboard .items-dashboard {
  border: 1px solid #eee;
  padding: 25px 0 15px;
}
.temp-dashboard .items-dashboard .item {
  border-right: 1px solid #eee;
}
.temp-dashboard .items-dashboard .item:last-child {
  border-right: none;
}
.temp-dashboard .list-group .list-group-item {
  color: #777;
}
.temp-dashboard .list-group .list-group-item.active {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.temp-dashboard .list-group .list-group-item.active:focus,
.temp-dashboard .list-group .list-group-item.active:hover {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.temp-shopcart .shopcart-delete-lg {
  margin-top: 15px;
  padding: 0;
}
.temp-shopcart .shopcart-delete-lg a {
  font-size: 36px;
  cursor: pointer;
}
.temp-shopcart .shopcart-qty {
  margin-top: 25px;
}
.temp-shopcart .shopcart-description {
  text-align: center;
  margin-top: 25px;
}
.text-left {
  text-align: left !important;
}
#login {
  background-color: #f5f5f5;
}
#temp-checkout .items-dashboard {
  margin-top: 20px;
}
#temp-checkout .box-default {
  margin-bottom: 40px;
  padding-bottom: 0;
}
#temp-checkout .table,
#temp-checkout .table th,
#temp-checkout .table td {
  border-top: 0 solid #ddd;
  border-bottom: 0 solid #ddd;
}
#temp-blog .box-article {
  color: #777;
}
#footer-top {
  padding: 80px 0;
  background-color: #444;
  background-size: cover;
  background-position: center;
}
.bottom-footer {
  background-color: #5a5a5a;
  padding: 30px 0;
}
footer .white {
  color: #fff;
}
footer .payment-type.contact-sty i {
  color: #fff;
  padding-left: 4px;
  font-size: 22px;
}
footer .contact-sty h3 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 18;
  border-bottom: 1px solid #fff;
}
footer .contact-sty .list-social-media {
  padding: 0;
}
footer .contact-sty .list-social-media li > a {
  color: #fff;
}
footer .contact-sty .list a {
  color: #fff;
}
footer .contact-sty .list a:hover {
  color: #fff;
  -moz-transition: all;
  -o-transition: all;
  -webkit-transition: all;
  transition: all;
}
footer .contact-sty .download-app > i {
  font-size: 48px;
  padding-right: 20px;
}
footer .contact-sty .download-app > i:hover {
  color: #d96263;
}
.deckgrid[deckgrid]::before {
  content: '3 .column.size-1-3';
  font-size: 0;
  visibility: hidden;
}
.deckgrid {
  margin: 0 auto;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column.size-1-5 {
  width: 20%;
}
.deckgrid .column.size-1-4 {
  width: 25% /* 325px */;
}
.deckgrid .column.size-1-3 {
  width: 33.33333%;
}
.deckgrid .column.size-1-2 {
  width: 50%;
}
.deckgrid .column.size-1-1 {
  width: 100%;
}
.deckgrid[deckgrid]::before {
/* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column-1-4 {
  width: 25%;
}
.a-card {
  margin: 10px;
}
@media screen and (max-width: 840px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}
@media only screen and (max-device-width: 320px), only screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}
.sweet-alert button {
  background-color: #ff7300 !important;
}
.sweet-alert button:hover {
  background-color: #bc5508 !important;
}
.sweet-alert .cancel {
  background-color: #707070 !important;
}
.sweet-alert .cancel:hover {
  background-color: #4b4b4b !important;
}
.btn-paypal {
  border-radius: 0 !important;
  color: #fff;
  border-color: #4682b4;
  background: #4682b4;
}
.btn-paypal.btn-paypal:hover,
.btn-paypal.btn-paypal:focus {
  border-color: #4682b4;
  background: #4682b4 !important;
  color: #fff;
}
.img-gallery-single {
  padding: 0;
  clear: both;
  width: 560px;
  height: 340px;
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_area_text {
    padding-right: 160px;
  }
  .single_feature i {
    left: 38%;
  }
  .story_image {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 50px;
  }
  .company_address {
    padding: 10px 26px;
  }
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .shopcart-qty > input {
    margin: 0 auto;
  }
  .btn-sm {
    padding: 5px 5px !important;
    font-size: 14px !important;
  }
  .nav-user > li {
    float: left !important;
  }
  .nav-user {
    background: transparent !important;
    margin-top: 0 !important;
    box-shadow: none !important;
    border-top: 0 !important;
  }
  .nav-user .btn {
    font-size: 14px;
    padding: 5px 5px !important;
  }
  .hide-tablet {
    display: inline;
  }
  .mobile,
  .ca-phone {
    display: none;
  }
  .header .navbar-default {
    height: 80px;
  }
  .excerpt-shopping {
    padding-top: 50px;
  }
  .detail-qty {
    margin-left: 42%;
  }
  .detail-price {
    text-align: center !important;
  }
  .product-info {
    height: 142px;
  }
  .header-title {
    height: auto;
  }
  .header-title .title {
    padding: 20px 0;
  }
  .content {
    margin-top: 175px;
  }
  .services .box-service h3 {
    padding: 12px 20px 0;
    text-align: center;
  }
  .services .box-service {
    padding: 0;
    text-align: center;
  }
  .container-tab {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-header {
    margin-top: -30px;
  }
  header .navbar-default {
    top: 0;
    height: 80px;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #3a2103;
    padding: 25px 15px;
  }
  .breadcrumb > li {
    font-size: 12px;
  }
  #footer_area .first-foo {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 25px 0 45px 0;
  }
  .contact-section {
    margin-top: 45px;
  }
  .carousel-caption {
    padding: 25px;
  }
  .carousel-caption h2 {
    font-size: 24px;
  }
  .carousel-caption h4 {
    font-size: 18px;
  }
  header .navbar-default .nav-log li > a {
    padding: 15px 0;
    border: none;
  }
  header .navbar-default .navbar-nav > li > a {
    font-size: 16px;
  }
  .header .logo {
    width: 100px;
    padding: 25px 14px 0 25px;
    margin-top: 10px !important;
  }
  .box-widget {
    border-left: 0 solid transparent;
    border-top: 1px solid #ccc;
    padding: 0;
    border: none;
  }
  .fluid-res {
    padding: 0;
  }
  #wrap {
    display: none;
  }
  .recent-work-wrap {
    height: 200px;
  }
  .work-description {
    margin-top: 50px;
  }
  .box-default h3 {
    font-size: 16px;
    height: 40px;
  }
  .slider-img {
    height: 350px;
    background-size: 100%;
    background-position: left;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #555;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #555;
    width: 40px;
    height: 5px;
  }
  .navbar-logo {
    display: none;
  }
  .navbar-logo .logo-img {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    margin-top: 7%;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    border-top: 0px solid #fff;
    border-color: transparent;
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-toggle .icon-bar {
    background: #555;
  }
  .navbar-collapse .mobile {
    display: none;
  }
  .navbar-nav {
    background: rgba(255,255,255,0.9);
    margin-top: 30px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-top: 0px solid #f5f5f5;
  }
  .carousel-inner > .item > img {
    height: 620px;
  }
  .recent-work-wrap {
    margin: 5px;
  }
  .recent-work-wrap > .titles {
    padding: 35px 20px 10px;
  }
  #product-detail .title-detail .content-title .title {
    text-align: center;
  }
  .recent-work-wrap .titles h3 {
    font-size: 18px;
  }
  .box-sidebar .box-body .list-group a {
    color: #777;
    word-break: break-all;
  }
  #contact-section {
    background-size: cover;
    padding: 30px 0;
  }
  .menu-dash .menu-item {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .three-rows-nav .navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }
  .three-rows-nav .second-row {
    padding: 15px 0 0;
  }
  .three-rows-nav .second-row .text-left {
    text-align: center !important;
  }
  .three-rows-nav .second-row .logo {
    padding: 15px;
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .three-rows-nav .second-row .nav {
    position: absolute;
    top: -10px;
    z-index: 999;
  }
  .three-rows-nav .second-row .nav > li > .shopping-cart i {
    color: #fff;
    font-size: 38px;
    padding: 5px;
  }
  .three-rows-nav .second-row .nav > li > .shopping-cart span {
    background-color: #777;
    color: #fff;
  }
  .three-rows-nav .second-row .nav .btn-dark {
    background-color: transparent;
    border-color: transparent;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
  t,
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
