.no-padding {
  padding: 0 !important;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
.padding {
  padding: 20px 0;
}
.alert-warning {
  text-shadow: 0 0 0 transparent;
}
a:focus {
  outline: 0 solid;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
text-right {
  text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 500;
  font-family: 'Roboto Slab', sans-serif;
}
.section_padding {
  padding: 80px 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}
.white {
  color: #fff !important;
}
.content {
  margin-top: 100px;
}
.content-post {
  margin: 20px 0;
}
.content-post article h3 {
  color: #bf9e4f;
}
.content-post p {
  color: #555;
}
.a-card {
  margin: 10px;
}
.deckgrid[deckgrid]::before {
  content: '3 .column.size-1-3';
  font-size: 0;
  visibility: hidden;
}
.container-pages {
  margin-top: 0;
}
.deckgrid {
  margin: 0 auto;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column.size-1-5 {
  width: 20%;
}
.deckgrid .column.size-1-4 {
  width: 25% /* 325px */;
}
.deckgrid .column.size-1-3 {
  width: 33.33333%;
}
.deckgrid .column.size-1-2 {
  width: 50%;
}
.deckgrid .column.size-1-1 {
  width: 100%;
}
@media screen and (max-width: 840px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}
@media only screen and (max-device-width: 320px), only screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}
.caret-up {
  width: 1000px;
  height: 0;
  border-left: 4px solid rgba(0,0,0,0);
  border-right: 4px solid rgba(0,0,0,0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.dropdown-menu {
  width: 100vw;
  min-width: 90vw;
  top: 100px;
}
.log-section-mobile {
  display: none;
}
.header.smaller {
  height: 160px;
  position: fixed;
}
.header.smaller .navbar-default {
  background: #fff /* fallback for old browsers */;
}
.header.smaller .navbar-default .navbar-nav > li > a {
  color: #565656;
  padding: 33px 15px;
}
.header.smaller .navbar-default .navbar-nav > li > a:hover {
  color: #aa261d;
}
.header.smaller .navbar-default .logo-white {
  display: inline;
  width: 150px;
  margin: 5px 0;
}
.header.smaller .navbar-default .logo {
  display: none;
}
.header.smaller .sub-main {
  display: none;
}
.navbar-info .shopping-cart a {
  font-size: 24px;
  font-weight: 100;
}
.navbar-info .shopping-cart a:hover {
  text-decoration: none;
}
.navbar-info .shopping-cart i {
  font-size: 30px;
}
.shopping-cart a > i {
  font-size: 32px !important;
}
​,
.shopping-cart a {
  font-size: 28px !important;
}
.qty-cart {
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  background-color: #aa261d;
  top: 0px;
  right: 95px;
  width: 20px;
  height: 20px;
}
header {
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.header {
  text-align: center;
}
.header .navbar-default {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  height: 100px;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 9999;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3);
  border-top: 1px solid #eee;
}
.header .navbar-default .navbar-brand {
  padding: 5px 15px;
}
.header .navbar-default .navbar-nav > li > a {
  color: #565656;
  padding: 37px 15px;
  font-size: 18px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.35s;
  -o-transition: all ease-in-out 0.35s;
  transition: all ease-in-out 0.35s;
}
.header .navbar-default .navbar-nav > li > a:hover,
.header .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #aa261d;
}
.header .navbar-default .container-fluid {
  display: table;
  margin: 0 auto;
}
.header .navbar-default .nav-log {
  margin-top: 30px;
  border-left: 1px solid #fff;
  text-indent: 20px;
}
.header .navbar-default .nav-log li > a {
  padding: 15px 15px;
  border: none;
}
.header .navbar-default .nav-log li > a:hover {
  border: none;
}
.header .navbar-default .navbar-nav .dropdown:hover .dropdown-toggle {
  background-color: transparent;
  color: #aa261d;
}
.header .navbar-default .navbar-nav .dropdown .dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: none;
  border-top: 2px solid #aa261d !important;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
}
.header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 15px;
}
.header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover {
  background: transparent;
  color: #aa261d;
}
.header .logo {
  width: 180px;
  margin-top: 5px;
}
.header .logo-white {
  display: none;
}
.navbar-header {
  color: #d2b770 !important;
  text-align: left;
}
#security {
  text-align: center;
  background: #f5f5f5;
  padding: 15px 0px 5px;
}
#security p {
  font-size: 22px;
  font-weight: bold;
  color: #aaa;
}
#us {
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
#us .who-us h1 {
  color: #fff;
}
#us .who-us p {
  color: #fff;
  font-size: 24px;
  text-align: justify;
  padding: 15px 0;
  font-weight: 300;
}
#us .who-us .clr-link {
  color: #fff;
}
.box-gas {
  padding: 0 30px 20px;
  border-left: 1px solid #eee;
  margin-bottom: 5px;
}
.box-gas .box-gas-header {
  border-bottom: 1px solid #eee;
}
.box-gas .box-gas-header .logo-p {
  width: 300px;
  padding-bottom: 20px;
}
.box-gas .box-body {
  padding-top: 20px;
}
.box-gas .box-body .gas-premium {
  color: #f00;
}
.box-gas .box-body .gas-magna {
  color: #145c32;
}
.btn-white {
  background: #fff;
}
#maps {
  height: 350px;
}
.angular-google-map-container {
  height: 350px;
}
#contact-sec {
  padding: 20px 0;
  background: #f5f5f5;
}
#contact-sec .section-cont {
  text-align: center;
  padding: 20px 30px;
}
#contact-sec .section-cont span,
#contact-sec .section-cont p,
#contact-sec .section-cont i {
  color: #746857;
  font-size: 16px;
}
#contact-sec .section-cont i {
  font-size: 60px;
}
#newsletter {
  padding: 30px 0;
  text-align: center;
  background-color: #d96263;
  color: #fff;
}
#newsletter input {
  width: 100%;
}
#newsletter .btn {
  text-align: left !important;
}
#search_submit {
  margin-top: 20px;
  color: #555;
}
.main-bg-pages {
  background: #bdc3c7 /* fallback for old browsers */;
  background: -webkit-linear-gradient(to left, #bdc3c7, #2c3e50) /* Chrome 10-25, Safari 5.1-6 */;
  background: linear-gradient(to left, #bdc3c7, #2c3e50);
  height: 110px;
}
.slider-img {
  background-position: top center;
  background-size: 100%;
  height: 500px;
  background-repeat: no-repeat;
}
.bg-inner {
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  height: 100%;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
.carousel-inner {
  background-color: transparent;
}
.carousel-caption {
  top: 20%;
  padding: 30px 60px;
  text-align: right;
  float: right;
  width: 100%;
  left: 0;
}
.carousel-caption .box-slide {
  width: 50%;
  float: right;
  text-align: left;
  padding: 10px;
}
.carousel-caption .box-slide h1 {
  color: #746857;
  padding: 5px 0;
  text-shadow: none;
}
.carousel-caption .box-slide h4 {
  color: #989083;
  padding: 5px 0;
  text-shadow: none;
}
.carousel-caption .box-slide p {
  color: #7c7c7c;
  text-shadow: none;
}
.header-margin {
  margin-top: 150px;
}
.slider-area-text {
  text-align: center;
}
.slider-area-text p {
  color: #555;
  margin: 30px 0;
}
.slider-area-text h2 {
  font-size: 45px;
  color: #555;
}
.navbar-info {
  padding: 1.3em 0;
  background-color: #fff;
}
.navbar-info a {
  color: #565656;
  font-size: 18px;
  font-family: "Roboto Slab, sans-serif";
}
.navbar-info i {
  font-size: 22px;
}
.dividerw {
  border: 1px solid #ccc;
  margin-top: 0;
}
.header-title {
  background: #aa261d;
  height: 80px;
}
.header-title .title {
  color: #fff;
  font-size: 2.5em;
  padding: 20px 0;
}
#content-area {
  margin: 0;
  padding: 70px 25px;
  background-color: #fff;
}
#content-area .title-category {
  text-align: left;
  color: #746857;
  clear: both;
}
#content-area .title-category .title {
  color: #555;
}
#content-area .title-single {
  color: #787777;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 26px;
}
#content-area h4 {
  color: #555;
}
#content-area h4 .divider {
  border-color: #ccc;
  margin-top: 15px;
}
#content-area .title-p {
  color: #737373;
  font-size: 18px;
}
#content-area .divider {
  border-color: #ccc;
}
#content-area .content-pages {
  padding: 20px 0;
}
.gallery {
  padding: 20px 0;
  clear: both;
}
.no-content {
  background: #fdf5e6;
  opacity: 0.3;
  padding: 20px 0;
  color: #ffa500;
}
.detail-img {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-prod {
  height: 215px;
  background-position: center center;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.services {
  background: #aa261d;
}
.services .box-service {
  padding: 0 50px;
}
.services .box-service i {
  color: #fff;
  font-size: 7em;
}
.services .box-service h3 {
  padding: 35px 20px;
  text-align: left;
  color: #fff;
}
.products {
  padding: 70px 0;
}
.products .box-products .prod-title h3 {
  font-weight: 600;
  color: #565656;
}
.products .box-products .prod-entry {
  padding: 15px 19% 10px;
  margin-bottom: 50px;
}
.products .box-products .prod-entry p {
  color: #676767;
  font-size: 20px;
}
.box-prod {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #fefefe 51%, #dfdfdf 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(51%, #fefefe), color-stop(100%, #dfdfdf));
  background: -webkit-linear-gradient(top, #fefefe 0%, #fefefe 51%, #dfdfdf 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #fefefe 51%, #dfdfdf 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #fefefe 51%, #dfdfdf 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #fefefe 51%, #dfdfdf 100%);
  padding: 20px 0;
  border-bottom: 1px solid #c1c1c0;
}
.box-prod .img-prod {
  padding-bottom: 15px;
}
.box-prod .prod-descrip {
  color: #717171;
  height: 65px;
  font-family: Roboto;
  padding: 15px 10% 0;
  margin-bottom: 20px;
  font-weight: 100;
}
.box-prod .prod-price {
  color: #323232;
}
.register {
  background-image: url("../img/bg-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 373px;
}
.register .reg-content {
  padding: 70px 0 50px;
}
.register .reg-content .reg-descrip {
  color: #717171;
  font-weight: 100;
  font-family: Roboto;
}
.register .reg-content .reg-q {
  color: #aa261d;
  margin: 1.5em 0;
}
.register .reg-content .reg-q a {
  color: #aa261d;
}
#contact {
  background: #e9e8e7;
  text-align: center;
  padding: 100px 0;
}
#contact .list-contact a {
  color: #5d5d5d;
}
#contact .list-contact a:hover {
  color: #cb6c18;
}
#contact h2 {
  color: #5d5d5d;
}
#contact p {
  color: #5d5d5d;
  padding-bottom: 40px;
}
#contact a {
  color: #5d5d5d;
  font-size: 18px;
}
#contact .contact-us {
  padding: 15px 0;
}
#contact .contact-us h4 > a,
#contact .contact-us h4 {
  color: #f2dec7;
  line-height: 35px;
  font-weight: 300;
}
#contract {
  background-image: url("../img/parallax.jpg");
  background-position: center center;
  background-size: cover;
  padding: 130px 0;
}
#contract .description {
  text-align: center;
}
#contract .description h2,
#contract .description h3 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#contract .description p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.product-detail .carousel-indicators {
  padding-top: 20px;
}
.product-detail .carousel-indicators li {
  border-color: #565656;
}
.product-detail .carousel-indicators .active {
  background-color: #000 !important;
}
.product-detail .detail-title {
  color: #565656;
}
.product-detail .detail-title .detail-slide {
  margin-bottom: 25px;
}
.product-detail .detail-price {
  text-align: right;
}
.product-detail .prod-detail-descrip p {
  font-size: 18px;
  padding-top: 20px;
  color: #717171;
}
.product-info {
  background: #aa261d;
  height: 105px;
}
.product-info .info-descrip {
  color: #f5f5f5;
  padding: 10px 6% 0;
}
.product-info .info-descrip a {
  color: #f5f5f5;
}
#product-detail {
  margin: 100px 0;
}
#product-detail .title-detail {
  padding: 0;
  clear: both;
  height: 230px;
  background-size: cover;
  background-position: center center;
}
#product-detail .title-detail .content-title .title {
  margin-top: 100px;
  text-align: left;
  padding-left: 60px;
}
#product-detail .product-description {
  margin: 40px 0;
}
#product-detail .title-detail>.content-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  font-size: 24px;
  padding: 80px 20px 10px;
  color: #fff;
  background: rgba(224,143,23,0.6);
  text-shadow: 0 0 10px #000;
}
#content-contact {
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#news .title {
  color: #555;
  padding-bottom: 15px;
}
.work-description {
  margin-top: 100px;
}
.work-description h3 {
  color: #555;
}
.recent-work-wrap > .titles h3 {
  margin-top: 170px;
}
.recent-work-wrap > .titles {
  border: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  font-size: 24px;
  color: #f2dec7;
  background: rgba(41,29,20,0.75);
  text-shadow: 0 0 10px #000;
}
#recent-works {
  padding: 60px 0;
}
#recent-works .title {
  padding-bottom: 40px;
}
#recent-works .title h1 {
  color: #555;
}
.recent-work-wrap {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.recent-work-wrap img {
  width: 100%;
  height: 250px;
}
.recent-work-wrap .recent-work-inner {
  top: 0;
  background: transparent;
  opacity: 0.8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}
.recent-work-wrap .recent-work-inner h3 {
  margin: 50px 0 0;
  text-shadow: 0px 3px 4px rgba(0,0,0,0.5);
}
.recent-work-wrap .recent-work-inner a {
  margin: 15px 0;
}
.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #e08f17;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 30px;
  text-align: center;
}
.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}
.recent-work-wrap:hover .overlay {
  opacity: 1;
}
#contact-section {
  background-image: url("../img/banner-bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#contact-section h3 {
  text-align: left;
  font-weight: 300;
}
#contact-section span {
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
}
#contact-section .contact a {
  color: #fff;
  font-size: 28px;
  line-height: 75px;
}
#recommendation .title {
  padding-bottom: 40px;
  color: #5d5d5d;
}
.box-blog {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
color
}
.box-blog a {
  color: #5d5d5d;
}
.box-blog a:hover,
.box-blog a:focus {
  color: #fff;
}
.tab-pane {
  margin-bottom: 50px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.nav-tabs {
  width: 29%;
  border-top: 1px solid #ddd;
  border-bottom: none !important;
  float: left;
  clear: both;
}
.tab-pane {
  width: 70%;
  float: right;
  margin-top: -50px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover {
  color: #cb6133;
  background-color: transparent;
  font-size: 20px;
  border: 0 solid transparent;
  padding: 10px 0;
}
.nav-tabs > li > a {
  padding: 10px 0;
  border-radius: 0;
  font-size: 20px;
  color: #38270f;
  margin-left: 0;
  border: none !important;
}
.nav-tabs {
  border-bottom: 1px solid #ccc;
}
.see-more {
  padding: 25px;
}
.box-widget {
  padding: 5px 0;
  border: 1px solid #ccc;
}
.box-widget .widget-title {
  padding-left: 10px;
  font-weight: bold;
  padding: 20px 10px;
  margin: 0;
}
.box-widget .box-widget-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  background-color: transparent;
  color: #746857;
}
.box-widget .box-widget-container {
  padding: 5px;
}
.box-widget .box-widget-container h3>a,
.box-widget .box-widget-container h2>a {
  font-size: 14px;
  color: #565656;
  font-weight: 300;
}
.box-widget .box-widget-container h3>a:hover,
.box-widget .box-widget-container h2>a:hover {
  color: #aa261d;
}
.box-widget .box-widget-container h2 {
  font-size: 18px;
  color: #6a5c5d;
}
.box-doc {
  margin: 5px 60px !important;
  padding: 0;
}
.box-doc .box-container {
  text-align: center !important;
  padding: 20px 0px;
}
.box-doc .box-container h3 {
  padding-bottom: 20px;
  margin: 0;
}
.box-doc:hover {
  boder: none;
  box-shadow: 0 0 0 transparent !important;
}
.box-doc:hover h3 {
  color: #cb6c18;
}
.list-sidebar {
  margin-left: -35px;
}
.list-sidebar li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
}
.list-sidebar li > a {
  color: #565656;
  font-size: 17px;
}
.list-sidebar li > a:hover {
  color: #aa261d;
}
.list-sidebar li > a p {
  font-weight: 500;
}
.box-blog {
  padding-bottom: 30px !important;
}
.box-blog .btn-red {
  color: #fff !important;
}
.box-blog .blog-container {
  text-align: left;
  height: auto;
  text-transform: normal;
}
.box-blog .blog-container p {
  color: #7c7c7c;
  font-size: 16px;
}
.box-blog .blog-container h3 {
  font-size: 24px;
  padding: 5px 0;
  color: #746857;
  font-weight: bold;
  margin-bottom: 10px;
}
.box-blog .blog-container h3:hover {
  color: #7e0000;
}
.box-white {
  background-color: #fff;
  padding: 20px 0;
  transition: all 0.5s ease;
  color: #555;
  border-bottom: 1px solid #eee;
}
.box-white h4 {
  padding: 10px 0;
  font-size: 16px;
  height: 40px;
}
.box-white .simple-header .img-box {
  background-size: contain;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}
.box-white .title-box {
  height: 50px;
  padding: 15px;
}
.box-white .simple-container {
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
  height: 80px;
  text-transform: uppercase;
}
.box-white .simple-container p {
  color: #f00;
}
.box-white .simple-container h3 {
  font-size: 16px;
  padding: 5px 0;
  color: #555;
  font-weight: bold;
  margin: 0;
}
.box-white .simple-container h3:hover {
  color: #7e0000;
}
.box-white .icon-box-bg {
  height: 150px;
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: right;
}
.data-contact {
  padding: 10px 0;
}
.data-contact a {
  color: #555;
}
.data-contact a > i {
  font-size: 14px;
}
.box-simple {
  margin: 25px;
}
.box-simple .box-header .img-box {
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
}
.box-simple .box-container {
  background-color: transparent;
  padding: 10px 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}
.box-simple .box-container a {
  text-decoration: none;
  color: #38270f;
}
.box-simple .box-container h1 {
  color: #38270f;
  font-weight: 300;
  font-size: 22px;
  margin: 0;
}
.box-default {
  background-color: #008000;
  -webkit-transition: all ease 0.05s;
  -moz-transition: all ease 0.05s;
  -ms-transition: all ease 0.05s;
  -o-transition: all ease 0.05s;
  transition: all ease 0.05s;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.box-default a {
  -webkit-transition: all ease 0.05s;
  -moz-transition: all ease 0.05s;
  -ms-transition: all ease 0.05s;
  -o-transition: all ease 0.05s;
  transition: all ease 0.05s;
  text-align: center;
  color: #fff;
}
.box-default a>img,
.box-default h3 {
  -webkit-transition: all 1.9s ease;
  -moz-transition: all 1.9s ease;
  -o-transition: all 1.9s ease;
  -ms-transition: all 1.9s ease;
}
.box-default a {
  color: #fff;
}
.box-default .img-box {
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}
.box-default:hover,
.box-default:focus {
  background: #ac0000;
}
.box-default:hover a>img,
.box-default:focus a>img,
.box-default:hover h3,
.box-default:focus h3 {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}
.box-default:hover .img-box,
.box-default:focus .img-box {
  opacity: 1;
}
.widgets {
  margin-top: 0px;
}
.box-sidebar {
  margin-top: 60px;
}
.box-sidebar .box-header {
  background: transparent;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
  color: #878787;
}
.box-sidebar .box-body .list-group {
  boder-radius: 0;
}
.box-sidebar .box-body .list-group a {
  color: #777;
}
.box-sidebar .box-body .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list {
  margin-left: -35px;
}
.list li {
  list-style-type: none;
  color: #fff;
}
.list li .contact-foo-side {
  display: flex;
}
.list li .contact-foo-side i {
  padding-right: 5px;
}
.bg-main {
  height: 1px;
  background-color: #ccc;
}
#parallax {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#parallax .content-contact {
  line-height: 50px;
}
#parallax .description {
  margin-top: 30px;
}
#parallax .description h2,
#parallax .description h3 > a {
  color: #fff;
  font-weight: 300;
  line-height: 30px;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -ms-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
#parallax .description h2:hover,
#parallax .description h3 > a:hover {
  color: #f00;
}
#parallax .contact {
  margin-top: 30px;
}
#parallax .contact a,
#parallax .contact p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
#parallax .social-media {
  text-align: center;
  border-top: 1px solid #fff;
}
#parallax .social-media a {
  font-size: 20px;
  padding-right: 30px;
}
.forgot-pass a {
  color: #676767;
}
.forgot-pass a:hover,
.forgot-pass a:focus {
  color: #aa261d;
}
.form-horizontal label {
  color: #746857;
}
.title-post .title {
  color: #717171 !important;
}
.social {
  clear: both;
}
.social .social-icons,
.social .page-contact > i {
  font-size: 20px;
  color: #746857;
}
.social .list > li > a,
.social .list > li > a > span > p {
  color: #746857;
  font-size: 28px;
}
.recommendations-detail {
  padding-top: 60px;
}
.description-post {
  padding: 20px 0;
}
.description-post p {
  color: #555;
  font-size: 16px;
}
.box-detail .description {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  padding: 20px 0;
  margin: 25px 0;
  position: relative;
}
.box-detail .description:before {
  content: 'Descripción';
  position: absolute;
  top: -15px;
  font-size: 18px;
  background: #fff;
  padding-right: 10px;
  font-weight: bold;
  color: #999;
}
#breadcrumb {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
#breadcrumb .breadcrumb {
  padding: 15px 15px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-bottom: 0;
}
#breadcrumb .breadcrumb .breadcrumb > .active {
  color: #ccc;
  font-weight: bold;
}
#breadcrumb .breadcrumb li>a {
  color: #999;
}
.img-size a>img {
  width: 100%;
}
footer {
  background-color: #323232;
  padding: 30px 0;
}
footer .contact-sty h3 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 18;
  border-bottom: 2px solid #ccc;
}
footer .contact-sty .list a {
  color: #ccc;
}
footer .contact-sty .list a:hover {
  color: #aa261d;
  transition: all 0.25s ease-in-out;
}
footer .contact-sty .download-app > i {
  font-size: 48px;
  padding-right: 20px;
}
footer .contact-sty .download-app > i:hover {
  color: #d96263;
}
.btn-login-ca {
  padding: 10px 0;
  border-radius: 0 !important;
  background: #aa261d;
  font-family: "Roboto Slab";
  font-weight: 600 !important;
  color: #fff;
  font-size: 24px !important;
}
.btn-login-ca.btn-login-ca:hover,
.btn-cart.btn-login-ca:focus {
  background: #7e1a1d !important;
  color: #fff;
}
.btn-cart {
  border-radius: 0 !important;
  color: #fff;
  border-color: #aa261d;
  background: #aa261d;
}
.btn-cart.btn-cart:hover,
.btn-cart.btn-cart:focus {
  border-color: #aa261d;
  background: #7e1a1d !important;
  color: #fff;
}
.btn-reg {
  background: #fff;
  color: #aa261d;
  border: 2px solid #aa261d;
  border-radius: 0;
}
.btn-reg.btn-reg:hover,
.btn-reg.btn-reg:focus {
  border-color: #aa261d;
  background-color: transparent;
  color: #aa261d;
}
.btn {
  font-size: 18px;
}
.btn-big {
  padding: 25px 30px;
  font-size: 20px;
}
.btn-login {
  color: #fff;
  padding-top: 20px;
}
.btn-login:hover,
.btn-login:focus {
  color: rgba(255,255,255,0.6);
}
.btn-sm {
  padding: 5px 10px !important;
}
.btn-search {
  padding: 10px 10px;
  background: #fff;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.btn-gray {
  background: #f5f5f5;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px 15px;
  color: #999;
  font-weight: 300;
  border-radius: 30px;
}
.btn-gray:hover,
.btn-gray:focus {
  background: #eee;
  display: inline-block;
  padding: 10px 15px;
  color: #555;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.btn-red {
  background: #d96263;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
  border: none;
  border-radius: 30px;
}
.btn-red:hover,
.btn-red:focus {
  background: #c24139;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 30px;
}
.btn-yellow {
  background: #cbae00;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background: #ae9400;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
}
.btn-orange {
  background: #cb6133;
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  font-weight: 300;
  border: 1px solid #cb6133;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -ms-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  border-radius: 30px;
}
.btn-orange:hover,
.btn-orange:focus {
  border: 1px solid #9b4a27;
  background: #9b4a27;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
}
.btn-green {
  background: #4ecb8c;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-green:hover,
.btn-green:focus {
  background: #43926a;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-white-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px !important;
  color: #fff;
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 30px;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -ms-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.btn-white-clear:hover,
.btn-white-clear:focus {
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  color: #555;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid #fff;
}
.btn-gray-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px !important;
  color: #555;
  font-weight: 300;
  border: 1px solid #555;
  border-radius: 3px;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -ms-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.btn-gray-clear:hover,
.btn-gray-clear:focus {
  background: #555;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  border: 1px solid #555;
}
.btn-green-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px;
  color: #79afa0;
  font-weight: 700;
  border: 3px solid #79afa0;
  border-radius: 0px;
}
.btn-green-clear:hover,
.btn-green-clear:focus {
  background: #4f7467;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
  border: 3px solid #4f7467;
}
.btn-coffee-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px;
  color: #574d47;
  font-weight: 700;
  border: 3px solid #574d47;
  border-radius: 5px;
}
.btn-coffee-clear:hover,
.btn-coffee-clear:focus {
  background: #574d47;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: 3px solid #574d47;
}
.facebook {
  color: #666;
}
.facebook i {
  color: #3b5998;
}
.twitter {
  color: #666;
}
.twitter i {
  color: #28a9e0;
}
.linkedin {
  color: #666;
}
.linkedin i {
  color: #0177b5;
}
#slider-area {
  background-color: #444;
  height: auto;
  position: relative;
}
#slider-area .text-on-video {
  background: rgba(156,22,29,0.45);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#slider-area .text-on-video .text {
  margin-top: 18%;
  text-align: center;
}
#slider-area .text-on-video .text .btn {
  border: 3px solid #fff;
  font-size: 18px;
  font-weight: bold;
}
#slider-area .text-on-video .text a {
  margin-right: 15px;
  font-size: 42px;
  color: #fff;
}
#slider-area .text-on-video .text h1 {
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 42px;
  color: #fff;
}
#slider-area .text-on-video .text h3 {
  color: #fff;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 30px;
}
.phone {
  color: #666;
}
.phone i {
  color: #ff801a;
}
.marker {
  color: #666;
}
.marker i {
  color: #e85a5a;
}
.mail {
  color: #666;
}
.mail i {
  color: #ffa500;
}
.form-section {
  background: transparent;
  padding-bottom: 100px;
  padding-top: 40px;
}
.form-section .title,
.form-section .text-form {
  color: #3a2103;
}
.contact-section {
  background: transparent;
}
.form-item {
  padding-top: 20px;
}
.cart-qty {
  width: 90px !important;
  height: auto !important;
  border: 1px solid #aaa !important;
  font-size: 18px;
}
.form-control {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  -webkit-transition: border-color ease-in-out 0.15s;
  -webkit-box-shadow: ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: all ease 0.1s;
}
.form-control:focus {
  padding: 6px 12px;
  border: 1px solid #aa261d !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 9px rgba(0,0,0,0);
  box-shadow: 0 0 0 9px rgba(0,0,0,0);
}
.form-control-select {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  padding: 0;
  border: 1px solid #eaeaea;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  -webkit-transition: border-color ease-in-out 0.15s;
  -webkit-box-shadow: ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: all ease 0.1s;
}
.form-control-select:focus {
  padding: 8px 5px;
  border: 1px solid #888;
  outline: 0;
  -webkit-box-shadow: 0 0 0 9px rgba(0,0,0,0);
  box-shadow: 0 0 0 9px rgba(0,0,0,0);
}
.checkbox-styl {
  padding: 25px 0 0;
  text-align: center;
}
.checkbox-styl a {
  color: #1b449c;
}
.owl-nav {
  display: none;
}
#products {
  padding: 0;
  text-aling: center;
}
#products h2 {
  color: #38270f;
}
.tabs-left {
  border-bottom: none;
  border-top: 1px solid #ccc;
}
.tabs-left > li {
  float: none;
  text-align: left;
}
.tab-animation > .tab-content {
  position: relative;
}
.tab-animation > .tab-content > .tab-pane {
  transition: 0.3s linear opacity;
}
.tab-animation > .tab-content > .tab-pane.active-remove {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}
.tab-animation > .tab-content > .tab-pane.active-remove-active {
  opacity: 0;
}
.tab-animation > .tab-content > .tab-pane.active-add {
  opacity: 0;
}
.margin10 {
  margin-bottom: 15px;
  margin-right: 20px;
}
.img-gallery-single {
  padding: 0;
  clear: both;
  width: 560px;
  height: 340px;
  background-size: cover;
  background-position: center center;
}
.height-title {
  height: auto;
}
.height-summary {
  height: 70px;
}
.height-summary-categories {
  height: 40px;
  margin-top: 10px;
}
.height-title-home {
  height: 90px;
}
.height-summary-home {
  height: 50px;
}
.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(255,255,255,0.8) /* fallback for old browsers */;
  background: -webkit-linear-gradient(to left, rgba(255,255,255,0.8), rgba(255,255,255,0.8)) /* Chrome 10-25, Safari 5.1-6 */;
  background: linear-gradient(to left, rgba(255,255,255,0.8), rgba(255,255,255,0.8)) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}
.block-ui-message {
  background: transparent;
}
.sk-circle {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
.margin-flags {
  margin-right: 10px;
}
.box-header-blog {
  height: 250px;
  background-size: cover;
  background-position: center center;
}
@-moz-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_area_text {
    padding-right: 160px;
  }
  .single_feature i {
    left: 38%;
  }
  .story_image {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 50px;
  }
  .company_address {
    padding: 10px 26px;
  }
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .detail-qty {
    margin-left: 42%;
  }
  .detail-price {
    text-align: center !important;
  }
  .product-info {
    height: 142px;
  }
  .header-title {
    height: auto;
  }
  .header-title .title {
    padding: 20px 0;
  }
  .content {
    margin-top: 100px;
  }
  .navbar-default {
    margin-top: 90px;
  }
  .services .box-service h3 {
    padding: 12px 20px 0;
    text-align: center;
  }
  .services .box-service {
    padding: 0;
    text-align: center;
  }
  .container-tab {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-header {
    margin-top: -30px;
  }
  header .navbar-default {
    top: 0;
    height: 80px;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #3a2103;
    padding: 25px 15px;
  }
  .breadcrumb > li {
    font-size: 12px;
  }
  #footer_area .first-foo {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 25px 0 45px 0;
  }
  .contact-section {
    margin-top: 45px;
  }
  .carousel-caption {
    padding: 25px;
  }
  .carousel-caption h2 {
    font-size: 24px;
  }
  .carousel-caption h4 {
    font-size: 18px;
  }
  header .navbar-default .nav-log li > a {
    padding: 15px 0;
    border: none;
  }
  header .navbar-default .navbar-nav > li > a {
    font-size: 16px;
  }
  header .logo {
    width: 180px;
    padding: 25px 14px 0 25px;
    margin-top: 10px !important;
  }
  .box-widget {
    border-left: 0 solid transparent;
    border-top: 1px solid #ccc;
    padding: 0;
    border: none;
  }
  .fluid-res {
    padding: 0;
  }
  #wrap {
    display: none;
  }
  .recent-work-wrap {
    height: 200px;
  }
  .work-description {
    margin-top: 50px;
  }
  .box-default h3 {
    font-size: 16px;
    height: 40px;
  }
  .slider-img {
    height: 350px;
    background-size: 100%;
    background-position: left;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #555;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #555;
    width: 40px;
    height: 5px;
  }
  .navbar-logo {
    display: none;
  }
  .navbar-logo .logo-img {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    margin-top: 7%;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    border-top: 0px solid #fff;
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-toggle .icon-bar {
    background: #555;
  }
  .navbar-collapse .mobile {
    display: none;
  }
  .navbar-nav {
    background: rgba(255,255,255,0.9);
    margin-top: 30px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-top: 0px solid #f5f5f5;
  }
  .carousel-inner > .item > img {
    height: 620px;
  }
  .recent-work-wrap {
    margin: 5px;
  }
  .recent-work-wrap > .titles {
    padding: 35px 20px 10px;
  }
  #product-detail .title-detail .content-title .title {
    text-align: center;
  }
  .recent-work-wrap .titles h3 {
    font-size: 18px;
  }
  .box-sidebar .box-body .list-group a {
    color: #777;
    word-break: break-all;
  }
  #contact-section {
    background-size: cover;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .detail-qty {
    margin-left: 31%;
  }
  .detail-price {
    text-align: center !important;
  }
  .product-info {
    height: 235px;
  }
  .content {
    margin-top: 0;
  }
  .header-title {
    height: 80px;
  }
  .header-title .title {
    color: #fff;
    font-size: 2em;
    padding: 20px 4px 2px;
  }
  .services .box-service h3 {
    text-align: center;
  }
  .register .reg-content .reg-descrip {
    font-size: 18px;
  }
  .shopping-cart {
    margin-top: 15px;
  }
  .navbar-info a,
  .navbar-info a > i {
    font-size: 16px;
  }
  .qty-cart {
    right: 170px;
  }
  .navbar-info .col-sm-4 {
    text-align: center;
  }
  .header .navbar-default {
    height: auto;
  }
  .navbar-header {
    padding: 0 0 25px;
  }
  #slider-area {
    background-color: #444;
    height: auto;
    position: relative;
  }
  #slider-area .text-on-video {
    background: rgba(156,22,29,0.45);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #slider-area .text-on-video .text {
    margin-top: 18%;
    text-align: center;
  }
  #slider-area .text-on-video .text .btn {
    border: 3px solid #fff;
    font-size: 18px;
    font-weight: bold;
  }
  #slider-area .text-on-video .text a {
    margin-right: 15px;
    font-size: 20px;
    color: #fff;
  }
  #slider-area .text-on-video .text h1 {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20px;
    color: #fff;
  }
  #slider-area .text-on-video .text h3 {
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 18px;
  }
  .navbar-collapse .mobile {
    display: none;
  }
  #products {
    text-align: center;
  }
  .nav-tabs > li {
    float: none;
  }
  .navbar-default .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-tabs {
    width: 100%;
  }
  .tab-pane {
    width: 100%;
    margin-top: 0;
  }
  .nav-top .data-contact {
    padding: 5px 0;
  }
  .nav-top .pull-left {
    float: none !important;
  }
  .nav-top .pull-right {
    display: none;
  }
  .mail-top {
    margin-left: -15px;
    margin-top: 5px;
  }
  header .nav-top i {
    font-size: 12px;
    padding-left: 10px;
  }
  header .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    font-weight: 300;
  }
  .more-info .info-links a {
    line-height: 35px;
  }
  .carousel {
    margin-top: 0;
  }
  #footer_area .info {
    text-align: center;
  }
  #footer_area .info a {
    line-height: 55px;
  }
  .first-foo {
    text-align: center !important;
  }
  .download-app a > img {
    width: 40%;
  }
  .slider-img {
    height: 150px;
    background-size: 100%;
    background-position: left;
  }
  .box-gas {
    border-left: none;
  }
  header {
    width: 100%;
    z-index: 9999;
  }
  .nav-main {
    border: none !important;
  }
  .nav-log {
    border: none !important;
  }
  .nav-log .btn-white-clear {
    border: none;
    font-size: 18px;
  }
  .main-bg-pages {
    display: none;
  }
  .box-widget {
    padding: 0;
    border-left: none;
    border: none;
  }
  .carousel-caption {
    top: 0;
    padding-top: 40px !important;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
  }
  .carousel-caption .box-slide {
    width: 100%;
  }
  .carousel-caption .box-slide h1 {
    font-size: 28px;
  }
  .carousel-caption .box-slide p {
    font-size: 20px;
  }
  .carousel-caption h1 {
    font-size: 22px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
  .boxes-project {
    margin-bottom: 15px;
    text-align: center;
  }
  .boxes-project .work-description {
    margin-top: 10px;
  }
  .boxes-project:nth-child(3) .col-md-4,
  .boxes-project:nth-child(3) .col-sm-4 {
    float: none;
  }
  .boxes-project:nth-child(3) .col-md-8,
  .boxes-project:nth-child(3) .col-sm-8 {
    text-align: right;
  }
  .boxes-project:nth-child(5) .col-md-4,
  .boxes-project:nth-child(5) .col-sm-4 {
    float: none;
  }
  .boxes-project:nth-child(5) .col-md-8,
  .boxes-project:nth-child(5) .col-sm-8 {
    text-align: right;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu {
    background: #389c80;
    box-shadow: none;
    border-radius: 0;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li > a:hover {
    font-size: 16px;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .parallax .contact {
    padding: 20px;
  }
  .nav-tabs > li > a {
    font-size: 16px;
  }
  #product-detail {
    margin: 0;
  }
  #product-detail .title-detail .content-title .title {
    padding-left: 0;
    text-align: center;
    margin-top: 25%;
  }
  .form-section {
    background: transparent;
    padding: 0;
    margin: 30px 0 25px;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  #contact-section {
    background-size: cover;
    padding: 30px 0;
  }
  #contact-section h3 {
    text-align: center;
    font-size: 18px;
  }
  .widgets {
    margin-top: -35px;
    clear: both;
    padding: 0;
  }
  .box-sidebar {
    padding-top: 20px;
    clear: both;
  }
  .box-sidebar .box-header {
    clear: both;
  }
  .content-post {
    margin: 20px 0 80px 0;
  }
  .header .navbar-default .navbar-nav > li > a {
    padding: 15px 25px;
  }
  .navbar-form {
    padding: 0 15px !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
    background: rgba(255,255,255,0.9);
  }
  .navbar-nav {
    background: transparent;
    margin-top: 25px;
    border-top: 1px solid #f5f5f5;
  }
  .fluid-res {
    padding: 0;
  }
  #wrap {
    display: none;
  }
  header .logo {
    margin-top: 10px;
    width: 200px;
  }
  h2.title-outstanding {
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
  .post-out {
    display: none;
  }
  #contact-section .contact {
    border-left: 1px solid transparent;
  }
  header .navbar-default .container-fluid {
    display: block;
    margin: 0;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 15px 15px;
  }
  .social-media .social a {
    word-wrap: break-word;
  }
  #content-area {
    margin: 15px 0 25px;
  }
  .content-blog {
    margin: 0 0 60px !important;
  }
  .social .list > li > a,
  .social .list > li > a > span > p {
    font-size: 18px;
  }
  .carousel-caption {
    top: 0;
    padding: 0 15px;
  }
  .carousel-caption .btn {
    margin-bottom: 20px;
  }
  .height-summary {
    height: auto;
  }
  .header .navbar-default {
    position: inherit;
  }
  .header .navbar-default .navbar-nav li > a {
    color: #746857;
  }
  .main-nav {
    background: #ddd;
  }
  .container-main {
    width: 100%;
    padding: 0;
  }
  .logo {
    margin-top: 0;
    width: 180px;
  }
  #header_area {
    padding-top: 5px;
    background-size: cover;
  }
  .navbar-toggle {
    margin-top: 25px;
    background-color: transparent;
  }
  .header_area_text h2 {
    font-size: 30px;
  }
  .header_area_text {
    padding-right: 0;
  }
  .navbar-toggle .icon-bar {
    background-color: #3a2103 !important;
  }
  .header_area_text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header_area_text a,
  .story_text a,
  .experience a,
  .call_project a {
    padding: 8px 10px;
    margin-top: 0;
  }
  .single_feature {
    margin-bottom: 60px;
  }
  .single_feature i {
    left: 40%;
  }
  .margin10 {
    margin-bottom: 20px;
  }
  .img-gallery-single {
    padding: 0;
    clear: both;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
  }
  .content-post .pull-left {
    float: none !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
  t,
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
