.no-padding {
  padding: 0 !important;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
.padding {
  padding: 20px 0;
}
a:focus {
  outline: 0 solid;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.section_padding {
  padding: 80px 0;
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
body {
  font-family: 'Poppins', sans-serif !important;
}
.white {
  color: #fff !important;
}
.content-post {
  margin: 80px 0;
}
.a-card {
  margin: 10px;
}
.deckgrid[deckgrid]::before {
  content: '3 .column.size-1-3';
  font-size: 0;
  visibility: hidden;
}
.deckgrid {
  margin: 0 auto;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column.size-1-5 {
  width: 20%;
}
.deckgrid .column.size-1-4 {
  width: 25% /* 325px */;
}
.deckgrid .column.size-1-3 {
  width: 33.33333%;
}
.deckgrid .column.size-1-2 {
  width: 50%;
}
.deckgrid .column.size-1-1 {
  width: 100%;
}
@media screen and (max-width: 840px) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.size-1-3';
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.size-1-2';
  }
}
@media only screen and (max-device-width: 320px), only screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.size-1-1';
  }
}
header .navbar-default {
  background: #fff;
  height: 100px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.43);
  box-shadow: 0 0 15px rgba(0,0,0,0.43);
  margin-bottom: 0;
  z-index: 9999;
}
header .navbar-default .navbar-brand {
  padding: 5px 15px;
}
header .navbar-default .navbar-nav > li > a {
  color: #5d5d5d;
  padding: 40px 18px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #389c80;
}
header .navbar-default .navbar-nav .dropdown:hover .dropdown-toggle {
  background-color: transparent;
  color: #389c80;
}
header .navbar-default .navbar-nav .dropdown .dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: none;
  border-top: 2px solid #389c80 !important;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
  box-shadow: 0px 5px 5px rgba(0,0,0,0.33);
}
header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 15px;
}
header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover {
  background: rgba(56,156,128,0.4);
  color: #fff;
}
header .logo {
  width: auto;
  margin-top: 10px;
}
.slider-img {
  background-position: center center;
  background-size: cover;
  height: 650px;
  background-repeat: no-repeat;
  margin-top: 100px;
}
.carousel-caption {
  top: 42%;
  width: 60%;
}
.carousel-caption h3 {
  text-shadow: 0 0 10px #000;
  font-size: 26px;
}
.carousel-caption .text {
  margin-top: 40px;
}
.carousel-caption .box-mail {
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.22);
  padding: 15px;
}
.carousel-caption .box-mail h4 {
  color: #5d5d5d;
  text-shadow: none;
}
#slider-area {
  background: url("../img/bg.jpg");
  padding-top: 35px;
  padding-bottom: 285px;
  background-position: center center;
}
#slider-area .scrollme {
  color: #555;
  font-size: 28px;
}
.header-margin {
  margin-top: 150px;
}
.logo {
  margin-top: 0;
}
.slider-area-text {
  text-align: center;
}
.slider-area-text p {
  color: #555;
  margin: 30px 0;
}
.slider-area-text h2 {
  font-size: 45px;
  color: #555;
}
#content-area {
  margin: 160px 0px 60px;
}
#content-area .title-post {
  border-bottom: 1px solid #fdf5e6;
  clear: both;
}
#content-area .title-post .title {
  color: #e08f17;
  line-height: 40px;
  margin-bottom: 0;
  font-size: 26px;
}
#content-area .title-p {
  color: #737373;
  font-size: 18px;
}
#content-area .divider {
  border: 1px solid #f5f5f5;
}
#content-area .content-pages {
  padding: 20px 0;
}
.gallery {
  padding: 20px 0;
  clear: both;
}
.no-content {
  background: #fdf5e6;
  opacity: 0.3;
  padding: 20px 0;
  color: #ffa500;
}
#product-detail {
  margin: 100px 0;
}
#product-detail .title-detail {
  padding: 0;
  clear: both;
  height: 230px;
  background-size: cover;
  background-position: center center;
}
#product-detail .title-detail .content-title .title {
  margin-top: 100px;
  text-align: left;
  padding-left: 60px;
}
#product-detail .product-description {
  margin: 40px 0;
}
#product-detail .title-detail>.content-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  font-size: 24px;
  padding: 80px 20px 10px;
  color: #fff;
  background: rgba(224,143,23,0.6);
  text-shadow: 0 0 10px #000;
}
#content-contact {
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-size: cover;
}
#news .title {
  color: #555;
  padding-bottom: 15px;
}
.boxes-project:nth-child(3) .col-md-4,
.boxes-project:nth-child(3) .col-sm-4 {
  float: right;
}
.boxes-project:nth-child(3) .col-md-8,
.boxes-project:nth-child(3) .col-sm-8 {
  text-align: right;
}
.boxes-project:nth-child(5) .col-md-4,
.boxes-project:nth-child(5) .col-sm-4 {
  float: right;
}
.boxes-project:nth-child(5) .col-md-8,
.boxes-project:nth-child(5) .col-sm-8 {
  text-align: right;
}
.work-description {
  margin-top: 100px;
}
.work-description h3 {
  color: #555;
}
.recent-work-wrap > .titles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  padding: 80px 20px 10px;
  color: #fff;
  background: rgba(0,0,0,0.1);
  text-shadow: 0 0 10px #000;
}
#recent-works {
  padding: 60px 0;
}
#recent-works .title {
  padding-bottom: 40px;
}
#recent-works .title h1 {
  color: #555;
}
.recent-work-wrap {
  position: relative;
  margin: 15px;
  height: 300px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
.recent-work-wrap img {
  width: 100%;
  height: 250px;
}
.recent-work-wrap .recent-work-inner {
  top: 0;
  background: transparent;
  opacity: 0.8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}
.recent-work-wrap .recent-work-inner h3 {
  margin: 50px 0 0;
  text-shadow: 0px 3px 4px rgba(0,0,0,0.5);
}
.recent-work-wrap .recent-work-inner a {
  margin: 15px 0;
}
.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  background: #e08f17;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 30px;
  text-align: center;
}
.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}
.recent-work-wrap:hover .overlay {
  opacity: 1;
}
#contact-section {
  background-image: url("../img/banner-bottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#contact-section h3 {
  text-align: left;
  font-weight: 300;
}
#contact-section span {
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
}
#contact-section .contact a {
  color: #fff;
  font-size: 28px;
  line-height: 75px;
}
#recommendation .title {
  padding-bottom: 40px;
  color: #5d5d5d;
}
.box-blog {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
color
}
.box-blog a {
  color: #5d5d5d;
}
.box-blog a:hover,
.box-blog a:focus {
  color: #fff;
}
.box-default {
  margin: 10px;
  padding: 20px;
  transition: all 0.5s ease;
}
.box-default a {
  color: #5d5d5d;
}
.box-default .box-footer {
  text-align: center;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  color: #c7c7c7;
  padding: 5px 0;
}
.box-default h3 {
  color: #5d5d5d;
  padding: 10px 0 0;
  font-size: 22px;
}
.box-default .comment-area {
  padding-bottom: 10px;
}
.box-default .comment-area .comment,
.box-default .comment-area .date {
  color: #5d5d5d;
}
.box-default .box-header {
  height: 250px;
  background-size: cover;
  background-position: center center;
}
.box-default .box-container {
  text-align: left;
}
.box-default .box-container h1 {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 0;
}
.box-default:hover,
.box-default:focus {
  background: transparent;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.box-default:hover h1,
.box-default:focus h1,
.box-default:hover h2,
.box-default:focus h2 {
  color: #e08f17;
}
.box-default:hover p,
.box-default:focus p {
  color: #555;
}
.box-default:hover .comment-area .date,
.box-default:focus .comment-area .date,
.box-default:hover .comment-area .comment,
.box-default:focus .comment-area .comment {
  color: #555;
}
.widgets {
  margin-top: -35px;
}
.box-sidebar {
  margin-top: 60px;
}
.box-sidebar .box-header {
  background: transparent;
  padding: 10px;
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
  color: #878787;
}
.box-sidebar .box-body .list-group {
  boder-radius: 0;
}
.box-sidebar .box-body .list-group a {
  color: #777;
}
.box-sidebar .box-body .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.parallax {
  background-image: url("../img/parallax.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.parallax .content-contact {
  line-height: 50px;
}
.parallax .title h2,
.parallax .title h4 {
  color: #fff;
  text-shadow: 0 4px 3px rgba(0,0,0,0.5);
}
.parallax .contact {
  margin-top: 30px;
}
.parallax .contact a,
.parallax .contact p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.parallax .social-media {
  text-align: center;
  border-top: 1px solid #fff;
}
.parallax .social-media a {
  font-size: 20px;
  padding-right: 30px;
}
.recommendations-detail {
  padding-top: 60px;
}
.description-post {
  padding: 20px 0;
}
.description-post p {
  color: #555;
  font-size: 16px;
}
.box-detail .description {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  padding: 20px 0;
  margin: 25px 0;
  position: relative;
}
.box-detail .description:before {
  content: 'Descripción';
  position: absolute;
  top: -15px;
  font-size: 18px;
  background: #fff;
  padding-right: 10px;
  font-weight: bold;
  color: #999;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 60px;
}
.breadcrumb li>a {
  color: #ccc;
}
.img-size a>img {
  width: 100%;
}
#footer_area {
  background: #f5f5f5;
  box-shadow: 0 -3px 2px rgba(0,0,0,0.2);
  padding: 30px 0;
  color: #999;
  line-height: 30px;
}
#footer_area .contact-footer a {
  color: #999;
}
#footer_area .contact-footer a:hover {
  color: #e08f17;
}
#footer_area .text {
  color: #ccc;
}
.btn-sm {
  padding: 5px 10px !important;
}
.btn-search {
  padding: 10px 10px;
  background: #fff;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.btn-red {
  background: #9c161d;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  border-radius: 0;
}
.btn-red:hover,
.btn-red:focus {
  background: #6b0f14;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
}
.btn-yellow {
  background: #cbae00;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  border-radius: 0;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background: #ae9400;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
}
.btn-orange {
  background: #e08f17;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  border-radius: 0;
}
.btn-orange:hover,
.btn-orange:focus {
  background: #945c21;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 0px;
}
.btn-green {
  background: #4ecb8c;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-green:hover,
.btn-green:focus {
  background: #43926a;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}
.btn-white-clear {
  background: transparent;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border: 3px solid #fff;
  border-radius: 5px;
}
.btn-white-clear:hover,
.btn-white-clear:focus {
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  color: #ff801a;
  font-weight: 700;
  border-radius: 5px;
  border: 3px solid #fff;
}
.facebook {
  color: #666;
}
.facebook i {
  color: #3b5998;
}
.twitter {
  color: #666;
}
.twitter i {
  color: #28a9e0;
}
.linkedin {
  color: #666;
}
.linkedin i {
  color: #0177b5;
}
.social-media {
  color: #666;
  padding: 30px 0;
}
.social-media .social a {
  color: #666;
  font-size: 18px;
  line-height: 40px;
}
.phone {
  color: #666;
}
.phone i {
  color: #ff801a;
}
.marker {
  color: #666;
}
.marker i {
  color: #e85a5a;
}
.mail {
  color: #666;
}
.mail i {
  color: #ffa500;
}
.form-section {
  background: transparent;
  padding: 0;
  margin: 160px 0px 25px;
}
.form-section .title,
.form-section .text-form {
  color: #565656;
}
.contact-section {
  background: rgba(255,255,255,0.95);
  padding: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  -webkit-transition: border-color ease-in-out 0.15s;
  -webkit-box-shadow: ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  box-shadow: ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #389c80;
  outline: 0;
  -webkit-box-shadow: 0 0 0 9px rgba(0,0,0,0);
  box-shadow: 0 0 0 9px rgba(0,0,0,0);
}
.owl-nav {
  display: none;
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_area_text {
    padding-right: 160px;
  }
  .single_feature i {
    left: 38%;
  }
  .story_image {
    margin-bottom: 20px;
  }
  .skills {
    margin-top: 50px;
  }
  .company_address {
    padding: 10px 26px;
  }
  .single_blog .comment-area {
    margin-top: -5px;
  }
  .outstanding-cmmnt {
    margin-top: -1px !important;
  }
  .single_blog .title-outstanding {
    font-size: 32px !important;
    padding: 15px 10px !important;
  }
  .single_blog h2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .recent-work-wrap {
    height: 200px;
  }
  .work-description {
    margin-top: 50px;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu {
    background: #389c80;
    box-shadow: none;
    border-radius: 0;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-logo {
    display: none;
  }
  .navbar-logo .logo-img {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
    margin-top: 3%;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    border-top: 0px solid #fff;
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  .navbar-nav {
    background: #fff;
    margin-top: 30px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-top: 1px solid #f5f5f5;
  }
  .carousel-inner > .item > img {
    height: 600px;
  }
  .recent-work-wrap {
    margin: 5px;
  }
  .carousel-caption {
    top: 15%;
  }
  .recent-work-wrap > .titles {
    padding: 35px 20px 10px;
  }
  #product-detail .title-detail .content-title .title {
    text-align: center;
  }
  .recent-work-wrap .titles h3 {
    font-size: 18px;
  }
  .box-sidebar .box-body .list-group a {
    color: #777;
    word-break: break-all;
  }
  #contact-section {
    background-size: cover;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .boxes-project {
    margin-bottom: 15px;
    text-align: center;
  }
  .boxes-project .work-description {
    margin-top: 10px;
  }
  .boxes-project:nth-child(3) .col-md-4,
  .boxes-project:nth-child(3) .col-sm-4 {
    float: none;
  }
  .boxes-project:nth-child(3) .col-md-8,
  .boxes-project:nth-child(3) .col-sm-8 {
    text-align: right;
  }
  .boxes-project:nth-child(5) .col-md-4,
  .boxes-project:nth-child(5) .col-sm-4 {
    float: none;
  }
  .boxes-project:nth-child(5) .col-md-8,
  .boxes-project:nth-child(5) .col-sm-8 {
    text-align: right;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  header .navbar-default .navbar-nav .dropdown .dropdown-menu {
    background: #389c80;
    box-shadow: none;
    border-radius: 0;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .parallax .contact {
    padding: 20px;
  }
  #product-detail {
    margin: 0;
  }
  #product-detail .title-detail .content-title .title {
    padding-left: 0;
    text-align: center;
    margin-top: 25%;
  }
  .form-section {
    background: transparent;
    padding: 0;
    margin: 160px 0px 25px;
  }
  .carousel-caption {
    top: 13%;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  #contact-section {
    background-size: cover;
    padding: 30px 0;
  }
  #contact-section h3 {
    text-align: center;
    font-size: 18px;
  }
  .widgets {
    margin-top: -35px;
    clear: both;
  }
  .box-sidebar {
    padding-top: 20px;
    clear: both;
  }
  .box-sidebar .box-header {
    clear: both;
  }
  .content-post {
    margin: 25px 0;
  }
  .navbar-form {
    padding: 0 15px !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  .navbar-nav {
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
    border-top: 1px solid #f5f5f5;
  }
  header .navbar-default {
    background: #fff;
  }
  header .logo {
    margin-top: 15px;
    width: 230px;
  }
  h2.title-outstanding {
    font-size: 16px !important;
    padding: 20px 10px !important;
  }
  .post-out {
    display: none;
  }
  #contact-section .contact {
    border-left: 1px solid transparent;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #555;
    padding: 15px 15px;
  }
  .social-media .social a {
    word-wrap: break-word;
  }
  #content-area {
    margin: 150px 0px 60px;
  }
  .content-blog {
    margin: 130px 0px 60px !important;
  }
  #slider-area {
    padding-bottom: 300px;
  }
  .portfolio_content {
    position: relative;
    margin-bottom: 0;
  }
  .portfolio_content p {
    border: 2px solid #e3e3e3;
    padding: 20px 40px;
  }
  .portfolio_content h3 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 125px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 160px;
    background: transparent;
    text-shadow: 0 1px 4px rgba(0,0,0,0.51);
  }
  .main-nav {
    background: #ddd;
  }
  .container-main {
    width: 100%;
    padding: 0;
  }
  .logo {
    margin-top: 0;
    width: 180px;
  }
  #header_area {
    padding-top: 5px;
    background-size: cover;
  }
  .navbar-toggle {
    margin-top: 25px;
    background-color: transparent;
  }
  .header_area_text h2 {
    font-size: 30px;
  }
  .header_area_text {
    padding-right: 0;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .header_area_text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header_area_text a,
  .story_text a,
  .experience a,
  .call_project a {
    padding: 8px 10px;
    margin-top: 0;
  }
  .single_feature {
    margin-bottom: 60px;
  }
  .single_feature i {
    left: 40%;
  }
  .story_text h2,
  .experience h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .clients_say p::before {
    display: none;
  }
  .say {
    width: 85%;
  }
  .c_img {
    width: 15%;
  }
  .clients_say p {
    padding: 10px;
  }
  .clients_say {
    margin-bottom: 60px;
  }
  .skills h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .single_blog {
    margin-bottom: 30px;
    padding: 0px;
  }
  .single_blog h2 {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
  .single_blog img {
    width: 100%;
    height: 100%;
  }
  .single_blog p {
    font-size: 12px;
    margin-top: 5px;
  }
  .call_to_action_text h2 {
    font-size: 22px;
  }
  .call_to_action_text p {
    font-size: 12px;
    margin-top: 5px;
  }
  .text-right {
    text-align: left;
  }
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 22px;
  }
  .company_address p {
    font-size: 12px;
  }
  .company_address h2 {
    font-size: 16px;
  }
  .company_address {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .single_feature i {
    left: 46%;
    top: -22%;
  }
  .single_blog img {
    width: 100%;
  }
}
