/* Medium Layout: 1280px. */

/*@media only screen and (min-width: 992px) and (max-width: 1280px) */


/* Tablet Layout: 768px. */
@media only screen and (min-width: 991px) and (max-width: 1024px)
  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important
  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%

@media only screen and (min-width: 768px) and (max-width: 991px)
  .header_area_text
    padding-right 160px


  .single_feature i
    left 38%


  .story_image
    margin-bottom 20px


  .skills
    margin-top 50px

  .company_address
    padding 10px 26px

  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important

  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%


@media only screen and (min-width: 768px) and (max-width: 1024px)
  .recent-work-wrap
    height 200px
  .work-description
    margin-top 50px

  header .navbar-default .navbar-nav .dropdown .dropdown-menu
    background #389c80
    box-shadow none
    border-radius 0

  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a
    color white

  .navbar-logo
    display none
    .logo-img
      display none

  .navbar-header
    float none

  .navbar-toggle
    display block
    margin-top 3%

  .navbar-collapse
    border-top 1px solid transparent
    box-shadow inset 0 1px 0 rgba(255,255,255,0.1)

  .navbar-collapse.collapse
    display none !important

  .navbar-collapse.collapse.in
    display block !important
    border-top 0px solid white
    border-color transparent

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
    background transparent

  .navbar-default .navbar-toggle
    border-color transparent

  .navbar-nav
    float none!important
    margin 7.5px -15px

  .navbar-nav>li
    float none

  .navbar-nav>li>a
    padding-top 10px
    padding-bottom 10px

  .navbar-toggle .icon-bar
    background white

  .navbar-nav
    background white
    margin-top 30px
    box-shadow 0 4px 5px rgba(0,0,0,0.3)
    border-top 1px solid #f5f5f5

  .carousel-inner > .item > img
    height 620px

  .recent-work-wrap
    margin 5px

  .carousel-caption
    top 15%

  .recent-work-wrap > .titles
    padding 35px 20px 10px

  #product-detail .title-detail .content-title .title
    text-align center

  .recent-work-wrap
    .titles
      h3
        font-size 18px

  .box-sidebar .box-body .list-group a
    color #777
    word-break break-all

  #contact-section
    background-size cover
    padding 30px 0
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px)
  .boxes-project
    margin-bottom 15px
    text-align center
    .work-description
      margin-top 10px
    &:nth-child(3)
      .col-md-4,.col-sm-4
        float none
      .col-md-8,.col-sm-8
        text-align right
    &:nth-child(5)
      .col-md-4,.col-sm-4
        float none
      .col-md-8,.col-sm-8
        text-align right

  header .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a
    color white

  header .navbar-default .navbar-nav .dropdown .dropdown-menu
    background #389c80
    box-shadow none
    border-radius 0

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
    background transparent
  .parallax .contact
    padding 20px

  #product-detail
    margin 0
    .title-detail .content-title .title
      padding-left 0
      text-align center
      margin-top 25%
  .form-section
    background transparent
    padding 0
    margin 160px 0px 25px
  .carousel-caption
    top 13%
  .navbar-default .navbar-toggle
    border-color transparent
  #contact-section
    background-size cover
    padding 30px 0
    h3
      text-align center
      font-size 18px
  .widgets
    margin-top -35px
    clear both
  .box-sidebar
    padding-top 20px
    clear both
    .box-header
      clear both
  .content-post
    margin 25px 0
  .navbar-form
    padding 0 15px !important
  .navbar-default .navbar-collapse, .navbar-default .navbar-form
    border none
  .navbar-nav
    background #fff
    margin-top 50px
    box-shadow 0 4px 5px rgba(0,0,0,0.3)
    border-top 1px solid #f5f5f5
  header .logo
    margin-top 5px
    width auto
  h2.title-outstanding
    font-size 16px !important
    padding 20px 10px !important
  .post-out
    display none
  #contact-section .contact
    border-left 1px solid transparent

  header .navbar-default .navbar-nav > li > a
    color #555
    padding 15px 15px
  .social-media .social a
    word-wrap break-word
  #content-area
    margin 150px 0px 60px
  .content-blog
    margin 130px 0px 60px !important
  #slider-area
    padding-bottom 300px


  .portfolio_content
    position relative
    margin-bottom: 0
    p
      border 2px solid #E3E3E3
      padding 20px 40px
    h3
      position absolute
      width 100%
      height auto
      top 125px
      text-align center
      font-size 24px
      color #fff
      line-height 160px
      background transparent
      text-shadow 0 1px 4px rgba(0, 0, 0, 0.51)

  .main-nav
    background #ddd

  .container-main
    width 100%
    padding 0

  .logo
    margin-top 0
    width 180px

  #header_area
    padding-top 5px

    background-size cover


  .navbar-toggle
    margin-top 25px
    background-color transparent


  .header_area_text h2
    font-size 30px


  .header_area_text
    padding-right 0


  .navbar-toggle .icon-bar
    background-color #fff


  .header_area_text
    padding-top 50px
    padding-bottom 50px


  .header_area_text a,
  .story_text a,
  .experience a,
  .call_project a
    padding 8px 10px
    margin-top 0


  .single_feature
    margin-bottom 60px


  .single_feature i
    left 40%


  .story_text h2,
  .experience h2
    margin-bottom 10px
    margin-top 10px


  .clients_say p::before
    display none


  .say
    width 85%


  .c_img
    width 15%


  .clients_say p
    padding 10px


  .clients_say
    margin-bottom 60px


  .skills h2
    margin-top 20px
    margin-bottom 10px


  .single_blog
    margin-bottom 30px
    padding 0px
    h2
      width 100%
      font-size 16px
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
    img
      width 100%
      height 100%

     p
      font-size 12px
      margin-top 5px




  .call_to_action_text h2
    font-size 22px


  .call_to_action_text p
    font-size 12px
    margin-top 5px


  .text-right
    text-align left


  p
    font-size 12px


  h2
    font-size 22px


  .company_address p
    font-size 12px


  .company_address h2
    font-size 16px


  .company_address
    padding 10px 15px



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px)
  .single_feature i
    left 46%
    top -22%

  .single_blog img
    width 100%
