/*------------------------
-------- VARIABLES -------
-- THEME BY TINGSYSTEMS --
--------- V1.0 -----------
-------------------------*/

/* color variables */
primary = #03A9F4
info = #00bcd4
success = #00a650
danger = #ff4b4b
warning = #ff9039
default = #ddd
dark = #777
optional = #fa6b6b

/* variables */
breadcrumbClr = white
shoppingCart = fontClr
qtyCartClr = warning
wSlider = 100% //width slidet home
hSlider = 500px //slider for home height
hSmallSlider = 600px //slider for products or small slider height
wSmallSlider = 100% //slider for products or small slider width
hShopCart = 100px //shopcart image size height
wShopCart = 100% //shopcart image size width

/* font style */
font-size = 15px
fontClr = #222
fontTitles = 'poppins', sans-serif
/* color sections */
mainColor = white //color of nav
footerTopClr = #ccc
footerClr = #999
linkClr = #999
/*tabs*/
tabClr = #ff4b4b