<!doctype html>
<html lang="es" ng-app="annalise">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title ng-bind="pageTitle">{{ initConfig.branchOffice }}</title>
    <meta name="description" content="{{ post.excerpt }}">
    <meta name="keywords" content="">
    <meta name="theme-color" content="{{ initConfig.meta_color }}">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <base href="/">
    <!--Favicon-->
    <link href="img/ico/favicon.ico" rel="shortcut icon" type="favicon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ post.title }}" ng-if="post">
    <meta itemprop="description" content="{{ post.excerpt }}" ng-if="post">
    <meta itemprop="image" content="{{ post.urlImages.original }}" ng-if=" post">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ post.title }}" ng-if="post">
    <meta name="twitter:description" content="{{ post.excerpt }}" ng-if="post">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ post.urlImages.original }}" ng-if="post">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ post.title }}" ng-if="post"/>
    <meta property="og:description" content="{{ post.excerpt }}" ng-if="post"/>
    <meta property="og:image" content="{{ post.urlImages.original }}" ng-if="post"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.monnavintage.com.mx{{ $state.href($state.current.name) }}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <!-- build:css css/style.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="lib/animate.css/animate.css" />
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.css" />
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="lib/lightbox2/dist/css/lightbox.css" />
    <link rel="stylesheet" href="lib/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="lib/ng-table/dist/ng-table.css" />
    <link rel="stylesheet" href="lib/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->
    <!-- endbuild -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10&appId=808603182547379";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</head>
<body ng-cloak>
<!--[if	lt	IE	8]>
<p class="browsehappy">
    Estás usando un navegador <strong>desactualizado</strong>.
    Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a>
    Para mejorar la experiencia..
</p>
<![endif]-->
<header class="header one-rows-nav">
    <div class="first-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 col-sm-2 data-social-media">
                    <ul class="navbar-nav navbar-expand-lg mobile-hidde">
                        <li class="nav-item" ng-repeat="social in socialMedia">
                            <a class="nav-link" href="{{ social.excerpt }}"><span
                                ng-bind-html="social.content | trustHtml"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 mobile-hidde" ng-controller="GetQuerySearchCtrl as Search">
                    <form name="search" role="search" class="input-search"
                          ng-submit="Search.globalSearch('product')">
                        <md-input-container md-no-float>
                            <input id="validationServerUsername" placeholder="Buscar"
                                   aria-describedby="inputGroupPrepend3" ng-model="Search.searchTerm" required>
                            <md-icon class="fa fa-search"></md-icon>
                        </md-input-container>
                    </form>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" ng-controller="AccessCtrl as Access">
                    <ul class="navbar-nav navbar-expand-lg justify-content-end ">
                        <li class="nav-item mobile-hidde" ng-repeat="item in mainNavMenuHelp">
                            <a class="nav-link" href="{{ item.link }}">{{item.name}}</a>
                        </li>
                        <li class="nav-item desk-hidde">
                            <a ui-sref="register({user:true, wholesale:false})" class="nav-link"
                               ng-if="!Access.isAuthenticated()">
                                <i class="fa fa-user-circle"></i> Iniciar sesión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a ui-sref="register({user:false, wholesale:true})" class="nav-link text-danger"
                               ng-if="!Access.isAuthenticated()"> Mayoristas
                            </a>
                        </li>
                        <li class="dropdown">
                            <button ng-if="Access.isAuthenticated()" class="dropdown-toggle btn btn-link" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="ion-ios-person"></i> {{user.username}}
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a ui-sref="dashboard" class="dropdown-item">Mi cuenta </a>
                                <a href="" ng-click="Access.logout()" class="dropdown-item"> Cerrar sesión</a>
                            </div>
                        </li>
                        <li class="nav-item desk-hidde">
                            <a ui-sref="shopcart" class="shopping-cart nav-link" ng-if="ecommerce"
                                ng-controller="AccessCtrl as Access">
                                <span class="qty-cart">{{ items.length }}</span>
                                <i class="icon ion-ios-cart"></i><span class="hidden-xs"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark nav-theme">
        <div class="container">
            <a ui-sref="home" class="navbar-brand">
                <img src="img/logo.png" class="logo" alt="Hanny Pulido Cosméticos">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item" ng-repeat="item in mainNavMenu">
                        <a class="nav-link" href="{{ item.link }}" ng-click="nav.close()">{{ item.name }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-expand-lg mobile-hidde" ng-controller="AccessCtrl as Access">
                    <li class="nav-item">
                        <a ui-sref="register({user:true, wholesale:false})" class="nav-link"
                           ng-if="!Access.isAuthenticated()">
                            <i class="fa fa-user-circle"></i> Iniciar sesión
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a ng-if="Access.isAuthenticated()" class="dropdown-toggle nav-link" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user-circle"></i> {{user.username}}
                            <span class="caret"></span>
                    </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a ui-sref="dashboard" class="dropdown-item">Mi cuenta </a>
                            <a href="" ng-click="Access.logout()" class="dropdown-item"> Cerrar sesión</a>
                        </div>
                    </li>
                    <li>
                        <a ui-sref="shopcart" class="shopping-cart" ng-if="ecommerce"
                           ng-controller="AccessCtrl as Access">
                            <span class="qty-cart">{{ items.length }}</span>
                            <i class="icon ion-ios-cart"></i><span class="hidden-xs"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="content-area-web">
    <div ui-view="content" autoscroll="true"></div>
</div>

<footer id="footer_area">
    <ng-include src="'/templates/partials/footer.html'"></ng-include>
</footer>
<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-truncate/src/truncate.js"></script>
<script src="lib/angular-touch/angular-touch.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="lib/owl.carousel/dist/owl.carousel.js"></script>
<script src="lib/angular-deckgrid/angular-deckgrid.js"></script>
<script src="lib/lightbox2/dist/js/lightbox.js"></script>
<script src="lib/ng-repeat-owl-carousel/dist/ngRepeatOwlCarousel.min.js"></script>
<script src="lib/angular-block-ui/dist/angular-block-ui.js"></script>
<script src="lib/angular-scroll/angular-scroll.js"></script>
<script src="lib/ngstorage/ngStorage.js"></script>
<script src="lib/satellizer/dist/satellizer.js"></script>
<script src="lib/SHA-1/sha1.js"></script>
<script src="lib/angulartics/src/angulartics.js"></script>
<script src="lib/angulartics-google-analytics/lib/angulartics-ga.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.js"></script>
<script src="lib/angular-ui-select/dist/select.js"></script>
<script src="lib/ng-table/dist/ng-table.js"></script>
<script src="lib/sweetalert/dist/sweetalert.min.js"></script>
<script src="lib/ngSweetAlert/SweetAlert.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/annalise.min.js -->
<!-- inject:js -->
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/services.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/translate.js"></script>
<script src="/js/auth/auth.app.js"></script>
<script src="/js/auth/controllers.js"></script>
<script src="/js/auth/directives.js"></script>
<script src="/js/auth/services.js"></script>
<script src="/js/shop/controllers.js"></script>
<script src="/js/shop/services.js"></script>
<script src="/js/shop/shop.app.js"></script>
<!-- endinject -->
<!-- endbuild -->
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-53551138-8', {'cookieDomain': 'none'});
</script>
</body>
</html>