<!doctype html>
<html lang="es" ng-app="annalise">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title ng-bind="pageTitle">Blue Mia - Especialistas en ropa deportiva para Dama</title>
    <meta name="keywords"
          content="Especialistas en ropa deportiva para Dama">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <base href="/">
    <!--Favicon-->
    <link href="img/favicon.ico" rel="shortcut icon" type="favicon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <!-- build:css css/style.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/animate.css/animate.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.css" />
    <link rel="stylesheet" href="lib/lightbox2/dist/css/lightbox.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
<!--[if	lt	IE	8]>
<p class="browsehappy">
    Estás usando un navegador <strong>desactualizado</strong>.
    Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a>
    Para mejorar la experiencia..
</p>
<![endif]-->
<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-mainmenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home"><img src="img/logo.png"
                                                            class="logo" alt="Tingsystems"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-mainmenu">
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-question-circle fa-2x"></i></a>
                        <ul class="dropdown-menu user-help">
                            <li class="dropdown-header">¿Necesitas Ayuda?</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Contacta con nosotros </a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user fa-2x"></i></a>
                        <ul class="dropdown-menu user-log">
                            <li class="dropdown-header">Bienvenido Ángel</li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Mi perfil </a></li>
                            <li><a href="#">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-shopping-cart fa-2x"></i></a>
                        <ul class="dropdown-menu user-shopping">
                            <li class="dropdown-header">Carrito de compras</li>
                            <li class="col-md-12 list-payment no-padding">
                                <div class="col-md-8">
                                    1 Chamarra Postale
                                </div>
                                <div class="col-md-2">
                                    $250.00
                                </div>
                            </li>
                            <li class="col-md-12 list-payment no-padding">
                                <div class="col-md-8">
                                    1 Chamarra Postale
                                </div>
                                <div class="col-md-2">
                                    $250.00
                                </div>
                            </li>
                            <li class="col-md-12 list-total no-padding">
                                <div class="col-md-8">
                                    Total
                                </div>
                                <div class="col-md-2">
                                    $500.00
                                </div>
                            </li>
                            <li class="col-md-12 no-padding">
                                <button class="btn-block btn-yellow">Ir a pagar</button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class=" nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Ropa <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in ropa"><a ui-sref="category({slug: item.slug})">{{ item.name }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Accesorios <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in accesorios"><a
                                    ui-sref="category({slug: item.slug})">{{ item.name }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="sports">Deporte</a>
                    </li>
                    <li>
                        <a ui-sref="blog({kind: 'post'})">Blog</a>
                    </li>
                    <li>
                        <a ui-sref="contact({kind: 'contact'})">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- end header top area -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div ui-view="content">
                <section id="content-area">
                    <div class="container">
                        <div class="row"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<footer id="footer_area">
    <ng-include src="'/templates/partials/footer.html'"></ng-include>
</footer>
<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/wow/dist/wow.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/angular-loading-bar/build/loading-bar.js"></script>
<script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="lib/owl.carousel/dist/owl.carousel.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/angular-deckgrid/angular-deckgrid.js"></script>
<script src="lib/lightbox2/dist/js/lightbox.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/annalise.min.js -->
<!-- inject:js -->
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/services.js"></script>
<script src="/js/templates.js"></script>
<!-- endinject -->
<!-- endbuild -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
</script>
</body>
</html>