<div class="box-simple" itemscope itemtype="http://schema.org/Product">
    <div class="box-header">
        <a ui-sref="product-detail({slug:product.slug})" title="Ver más">
            <img class="img-box" src="{{product.featuredImage.url ? product.featuredImage.url : initConfig.img_default}}" alt="{{ product.name }}">
            <!--<div class="box-bg-img"
            style="background-image: url('{{product.featuredImage.url ? product.featuredImage.url : initConfig.img_default}}')"></div>
            -->
        </a>
    </div>
    <div class="box-container">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <p class="box-title">{{ product.name | limitTo:40}}</p>
            </div>
            <div class="col-md-12" ng-class="product.offerPrice > 0 ? 'hide': 'col-sm-4'">
                <p class="price">{{ product.price | currency }}</p>
            </div>
            <div class="col-sm-12 no-padding" ng-if="product.offerPrice > 0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 no-pd-r">
                            <!--Offert price-->
                            <p class="offer-price" ng-if="product.offerPrice > 0">{{ product.offerPrice | currency }}</p>
                        </div>
                        <div class="col-sm-6 text-right">
                                <!--old price-->
                            <p class="old-price" ng-if="product.offerPrice > 0">{{ product.price | currency }}</p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>