<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="company_address">
                <h2>Información de la empresa</h2>

                <h3>
                    <a class="footer-links" ui-sref="page({slug: 'acerca-de-blue-mia'})">Acerca de Blue
                        Mía</a><br/><br/>
                    <a class="footer-links" ui-sref="page({slug: 'terminos-y-condiciones'})">Términos y
                        condiciones</a><br/><br/>
                    <a ui-sref="page({slug: 'aviso-de-privacidad'})" class="footer-links">Aviso de privacidad</a>
                </h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="company_address">
                <h2>Información de la empresa</h2>

                <h3>
                    <a class="footer-links" ui-sref="page({slug: 'envio'})">Envío</a><br/><br/>
                    <a class="footer-links" ui-sref="page({slug: 'como-comprar'})">¿Cómo comprar?</a><br/><br/>
                    <a class="footer-links" ui-sref="page({slug: 'pagos'})">Pagos</a>
                </h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="company_address">
                <h2>Información de la empresa</h2>

                <h3>
                    <a class="footer-links" href="#">¿Qué usar para el gym?</a><br/><br/>
                    <a class="footer-links" href="#">Comodidad ante todo</a><br/><br/>
                    <a ui-sref="contact" class="footer-links">¿Por qué Blue Mía?</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<hr class="divider_footer"/>
<div class="container">
    <div class="text-center">
        Diseño y desarrollo 2016 por <a class="footer-links" href="http://www.tingsystems.com/">Tingsystems</a>
    </div>
</div>