<div class="container">
    <div class="col-sm-4 contact-sty">
        <h3>Contáctanos</h3>
        <ul class="list">
            <li ng-repeat="post in contactMenuData">
                 <a class="contact-foo-side" href="{{ post.excerpt }}" ><i class="{{ post.title }}"></i> <span ng-bind-html="post.content | trustHtml"></span></a>
            </li>
        </ul>

    </div>
    <div class="col-sm-4 contact-sty">
        <h3>
            Acerca de iHelp
        </h3>
        <ul class="list">
            <li ng-repeat="option in footerNavMenuConact"><a href="{{option.link}}" >{{option.name}}</a></li>
        </ul>
    </div>
    <div class="col-sm-4 contact-sty">
        <h3>
            Descargar app
        </h3>
        <!--<a href="#" class="download-app"><i class="fa fa-apple"></i></a>-->
        <a href="https://goo.gl/bnxVLE" target="_blank" class="download-app"><i class="fa fa-android"></i></a>
    </div>
</div>