<div ng-repeat="option in Shop.detail.metadata.groups | orderBy: 'level'">
    <md-input-container style="width: 100%">
        <label ng-if="option.kind === 'size'">Medida</label>
        <label ng-if="option.kind === 'color'">Color</label>
        <label ng-if="option.kind === 'style'">Estilo</label>
        <md-select ng-model="Shop.optionSelected[$index]" required name="size" ng-change="Shop.getProductFromGroup()">
            <md-option ng-repeat="size in Shop.detail.taxonomies | filter:option.kind" ng-value="size">
                {{size.name}}
            </md-option>
        </md-select>
        <div class="errors" ng-messages="FormQty.size.$error">
            <div ng-message="required">Requerido</div>
        </div>
    </md-input-container>
</div>