<div class="col-sm-6" ng-repeat="option in Product.detail.metadata.groups | orderBy: 'level'">
    <md-input-container style="width: 100%"> 
        <label ng-if="option.kind === 'size'">Talla</label>
        <label ng-if="option.kind === 'color'">Color</label>
        <label ng-if="option.kind === 'style'">Estilo</label>
        <md-select ng-model="Product.optionSelected[$index]" required name="size" ng-change="Product.getProductFromGroup()">
            <md-option ng-repeat="size in Product.detail.taxonomies | filter:option.kind" ng-value="size">
                {{size.name}}
            </md-option>
        </md-select>
        <div class="errors" ng-messages="FormQty.size.$error">
            <div ng-message="required">Requerido</div>
        </div>
    </md-input-container>
</div>
