<hr>
<div class="">
    <div class="container no-padding" ng-repeat="option in Product.detail.metadata.groups | orderBy: 'level'" style="margin-bottom: 15px;">
        <div class="">
            <label ng-if="option.kind === 'size'"><strong>Elige la talla</strong></label>
            <label ng-if="option.kind === 'color'"><strong>Elige el color</strong></label>
            <label ng-if="option.kind === 'style'"><strong>Elige el estilo</strong></label>
            <md-radio-group class="row" ng-style="{'margin':'0'}" ng-model="Product.optionSelected[$index]" required name="size_{{$index}}" 
                    ng-change="Product.getProductFromGroup()" layout="row">
                <md-radio-button class="col-sm-1" ng-repeat="size in Product.detail.taxonomies | filter:option.kind"
                                ng-value="size"
                                aria-label="{{size.name}}" ng-class="{'color':'md-primary', 'size':'md-warn'}[option.kind]" flex="{{option.kind === 'size' ? 20 : 50}}">{{size.name}}
                </md-radio-button>
            </md-radio-group>
            <div class="errors" ng-messages="FormQty['size_' + $index].$error">
                <div ng-message="required"> <small class="text-danger">Selecciona el color o talla.</small></div>
            </div>
        </div>
    </div>
    <div ng-class="{'text-danger': Product.detail.inventory === 0, 'text-warning' : (Product.detail.inventory > 0 && Product.detail.inventory < 6 ), 'text-success': Product.detail.inventory > 5}">
        <ng-pluralize ng-if="Product.detail.kind === 'product'" count="Product.detail.inventory" when="{ 
            '0':'Producto agotado', 
            '1':'Último disponible',
            '2':'Últimos {{Product.detail.inventory}} disponibles',
            '3':'Últimos {{Product.detail.inventory}} disponibles',
            '4':'Últimos {{Product.detail.inventory}} disponibles',
            '5':'Últimos {{Product.detail.inventory}} disponibles',
            'other':'{{Product.detail.inventory}} disponibles', 
            }"> 
        </ng-pluralize> 
    </div>
    <div class="col-md-8 no-padding" style="margin-top: 10%;">
        <md-input-container md-no-float class="md-block">
            <label>Cantidad</label>
            <input type="number" placeholder="0" ng-model="Product.detail.qty" min="1"
                    ng-pattern="/^-?[0-9][^\.]*$/" name="qty" 
                    compare-greater="Product.detail.inventory" required/>
            <div class="errors" ng-messages="FormQty.qty.$error">
                <div ng-message="required">Requiredo</div>
                <div ng-message="pattern">Cantidad no valida</div>
                <div ng-message="compareGreater">Cantidad de producto no disponible</div>
            </div>
        </md-input-container>
    </div>
</div>
