<div class="box-widget">
    <div class="box-widget-header">
        Contáctanos
    </div>
    <div class="box-widget-container">
        <h2>Soporte telefónico</h2>

        <h3><a href="tel:3318959338"><i class="fa fa-phone"></i> 353 123 8860 </a></h3>

        <h3><a href="tel:3535363150"><i class="fa fa-phone"></i> 353 536 3150</a></h3>
        <h2>Correo</h2>
        <h3><a href="mailto:ainoxher@gmail.com"><i class="fa fa-envelope"></i>
            ainoxher@gmail.com</a>
        </h3>
        <h3><a href="mailto:contacto@ainoxher.com"><i class="fa fa-envelope"></i>
            contacto@ainoxher.com</a>
        </h3>

        <h2>Síguenos en</h2>

        <h3>
            <a target="_blank" href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a target="_blank" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a target="_blank" href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </h3>
    </div>
</div>
