<div class="box-widget">
    <div class="box-widget-header">
        Contacto
    </div>
    <div class="box-widget-container">
        <h2>Correo electrónico</h2>

        <h3><a href="tel:013531062495"><i class="fa fa-phone"></i> 01 353 106 2495</a></h3>
        <h3><a href="mailto:{{ initConfig.email }}"><i class="fa fa-envelope"></i>
            {{ initConfig.email }}</a>
        </h3>
        <h3><a href="https://www.google.com.mx/maps/place/San+Daniel+Comboni+284,+Centro+Tres,+Sahuayo+de+Morelos,+Mich./@20.0642639,-102.7300404,17z/data=!3m1!4b1!4m5!3m4!1s0x842ee34e7d91b5b1:0x5d3896efd8723777!8m2!3d20.0642589!4d-102.7278464"><i
                        class="fa fa-map-marker"></i> San Daniel comboni #284, 59000 Sahuayo.</a></h3>
        <h3><a href="https://www.facebook.com/joseluisgtzf"><i class="fa fa-facebook-square"></i> Facebook</a></h3>

        <br/>

        <h2>Envíanos un mensaje</h2>

        <div class="box-widget-container ng-scope" ng-controller="ContactCtrl as Contact">
            <form ng-submit="Contact.createNotification('CONTACT_FORM')"
                  class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                <div class="form-group">
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                           id="InputName" placeholder="Nombre" required="" ng-model="Contact.notification.name"
                           style="">
                </div>
                <div class="form-group">
                    <input type="email"
                           class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                           id="InputEmail1" placeholder="Email" required="" ng-model="Contact.notification.email">
                </div>
                <div class="form-group">
                    <textarea name="text" id="" cols="100%" rows="4"
                              class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required=""
                              ng-model="Contact.notification.message"></textarea>
                </div>
                <button type="submit" class="btn btn-block btn-orange" ng-disabled="Contact.busy">Enviar
                    <!-- ngIf: Contact.busy --></button>
            </form>
        </div>
    </div>
</div>
