/*------------------------
-------- LAYOUT -------
-- THEME BY TINGSYSTEMS --
-------------------------*/

body
  color fontClr
  font font-size 'Poppins', sans-serif
  .content-area-web
    background #f5f5f5
.no-pd-r
  padding-right 0 !important
.no-pd-l
  padding-left 0 !important
h1,h2,h3,h4,h5, h6
  font-family fontTitles
  margin 0
  font-weight 700

strong
  font-weight 700

p, span
  font-weight 400
  font font-size 'Poppins', sans-serif

.xs-hidde
  display inline
input, button, a
  outline 0 !important

input[type="reset"][disabled], input[type="submit"][disabled],
html input[type="button"][disabled], button[disabled], .btn[disabled]
  cursor not-allowed

.optional
  color optional !important

.no-padding
  padding 0 !important

.space-between
  margin-top 15px
  margin-bottom 15px

.sweet-alert p
  font-weight 400
.font-type
  font-family fontTitles
md-input-container
  width 100%

.content-area
  padding 50px 0

.article-content
  padding 60px 0

.desk-hidde
  display none
/* - HEADER STYLES LAYOUT - */
.data-social-media
  .navbar-nav li a 
    font-size 18px
    p 
      margin 0
.three-rows-nav
  .first-row
    .nav-link
      padding 5px 0 0
    .input-search
      md-input-container.md-icon-right
        width 100%
        margin 0
        padding 2px 0 0
        height 30px
  .social
    text-align right
    .list-icons-add
      display none
      &:nth-child(2), &:nth-child(6)
        display inline !important

.unavailable
  margin 15px 0
  span
    font-size 13px
    background-color #e13838
    padding 5px
    opacity 0.8
    color white
    font-weight bold

/* ------ HOME STYLE ----- */
#home
  .slider-box 
    .card 
      border-radius 0
      border none
      margin-bottom 18px
      .card-img-top 
        object-fit cover
        height 200px
        width 100%
  /* sections in home page */
  .section-one, .section-two, .section-four,
  .section-five, .section-six,
  .section-seven
    padding 80px 0

  /* SECTION 0NE */
  .section-one
    padding 30px 0 80px !important
    background-color white
    a
      color danger
    p
      font-size 18px
      padding-right 15px
    img
      width 100%

  /* SECTION TWO */
  .section-two
    padding 60px 0 20px !important

    .title-middle-line
      margin-bottom 40px


  // silence is gold ..

  /* SECTION THREE */
  .section-three
    text-align center
    background-color #f5f5f5
    padding 80px 0
    img 
      width 80px
    h5 
      text-transform uppercase
      color fontClr
      margin-top 25px
    p
      font-size 15px
      text-transform uppercase

  /* SECTION FOUR */
  .section-four
    padding: 80px 0 !important
    .list-group
      margin-bottom 8px
    .card
      margin-bottom 8px  

  /* SECTION FIVE */
  .section-five
    background-color #f1f1f1
    .text-center
      margin 0 auto
      padding-top 20px

  /* SECTION SIX */
  .section-six
    .box-simple
      background-color transparent
      box-shadow none
      border none

  /* SECTION SEVEN */
  .section-seven
    background-color danger
    .title-primary
      h3
        color white
    a
      color white

/* ------ TEMP CATEGORIES STYLE ----- */
.temp-categories
  .title-primary
    text-align left

/* ------ TEMP PRODUCT DETAIL STYLE ----- */
.temp-product-detail, .md-dialog-content
  background-color #f6f6f6
  md-radio-button .md-container:before 
    border-radius: 0;
  md-radio-button.md-default-theme:not([disabled]).md-warn .md-on, md-radio-button:not([disabled]).md-warn .md-on, md-radio-button.md-default-theme:not([disabled]) .md-warn .md-on, md-radio-button:not([disabled]) .md-warn .md-on, md-radio-group.md-default-theme:not([disabled]).md-warn .md-on, md-radio-group:not([disabled]).md-warn .md-on, md-radio-group.md-default-theme:not([disabled]) .md-warn .md-on, md-radio-group:not([disabled]) .md-warn .md-on
    background-color transparent  
    border-color transparent
  md-radio-button .md-on
    background-color transparent
  md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary.md-checked .md-off
    background-color transparent
  md-radio-group.row.ng-pristine.ng-untouched._md.ng-empty.ng-invalid.ng-invalid-required.layout-row
    text-align center
    margin-left 0
  .layout-row > .flex-50
    max-width 40%
    text-align center
    margin 5px 5px 5px 0px !important
  .layout-row > .flex-20
    max-width 10%
    text-align center
    margin 5px 5px 5px 0px !important
  md-radio-button 
    .md-container
      width 100%
      height 100%
    .md-off 
      width 100%
      height 100%
      border-radius 0
    .md-on 
      background-color: rgb(255, 255, 255);
      border: 2px solid white;
    .md-label
      margin-left -8px
      margin-right 0  
  .md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off  
    border-color black 
  .md-default-theme .md-off, md-radio-button .md-off       
    border-color rgba(0, 0, 0, 0.09)

  .nav-link.disabled
    padding 0 10px 0 0
  .interest-you
    padding-bottom 60px
    .box-simple 
      .box-container 
        position relative
        i.fa.fa-truck.text-success.ng-scope
          bottom 37%
    .title-middle-line
      padding 15px 15px 30px
      h4 
        font-size 20px
    .owl-carousel .owl-item 
      text-align center
      img
        margin 0 auto
  #product-detail 
    background-color white
    .wrapper 
      padding 30px 0
    .wip-image-zoom .main-image
      height 400px
      width auto
      margin 0 auto
    .article-description  
      padding 40px 0
      border-left 1px solid #ddd
  .title-prd
    font-size 22px
    font-weight 400
    text-transform uppercase
    padding 10px 0
  .article-price 
    font-size 28px  
  md-input-container .md-input
    background-color white
    border 1px solid #ddd
    color fontClr
    padding 0 10px
  .md-select-value      
    padding 2px 8px 1px !important
    background-color white
    md-input-container > md-select
      border 1px solid #ddd
      color fontClr
    md-input-container .md-input
      border 1px solid #ddd
      padding 0 10px  
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input
      border 1px solid #ddd  
  .bg-image-single
    background-size cover
    background-position bottom
    height 600px
  .box-description-detail-product
    padding 20px 0
    border-top 1px solid #ddd
    h4
      text-transform uppercase  
      padding-bottom: 20px;  
    .article-price
      padding 5px
      color fontClr
      margin-bottom 15px
  h3
    color fontClr
  h4
    color fontClr
.temp-pages 
  background-color #f5f5f5
  .wrapp 
    background-color white  
    padding-left 25px
    padding-right 25px 
    border 1px solid #eee 
#temp-blog 
  background-color #f5f5f5
/* ------ TEMP ACTIVATE ACCOUNT STYLE ----- */
.temp-validate-account
  padding 50px 0
  p
    font-size 20px

/* ------ TEMP DASHBOARD STYLE ----- */
.temp-dashboard
  .nav-link 
    text-align right
    padding 0 10px
    color fontClr
  .jumbotron 
    background-color white  
    padding 5px
    .text-right 
      color danger
  .search-bar
    margin-bottom 20px
  .items-dashboard
    border 1px solid #eee
    padding 25px 0 15px
    .item
      border-right 1px solid #eee
      &:last-child
        border-right none
  .list-group
    border-right 1px solid rgba(0, 0, 0, 0.125)
    height 100%
    .list-group-item
      border none
      color fontClr
      font-size 18px
    .list-group-item.active
      color white
      background-color dark
      border-color dark
      &:focus, &:hover
        color white
        background-color dark
        border-color dark

/* ------ TEMP SHOPPING CART STYLE ----- */
.temp-shopcart
  .list-item-shoppingcart
    margin-bottom 30px
  .shopcart-delete-lg
    margin-top 15px
    padding 0
    a
      font-size 36px
      cursor pointer
  .shopcart-qty
    margin-top 25px
  .shopcart-description
    text-align center
    margin-top 25px
    margin-top 25px
.text-left
  text-align left !important

.temp-contact
  background-image url('../img/pattern-white.png')
  background-repeat repeat
  background-color white
  h1
    margin-bottom 20px

/* ------ TEMP login CART STYLE ----- */
#login
  padding 80px 0
  
  .bg-login
    background-color white
    background-image url('../img/pattern-white.png')
    background-repeat repeat
    padding 50px 0 160px

#temp-checkout
  .items-dashboard
    margin-top 20px
  .box-default
    margin-bottom 40px
    padding-bottom 0
  .table, .table th, .table td
    border-top 0 solid #ddd
    border-bottom 0 solid #ddd
#temp-blog
  .box-article
    color fontClr
.top-footer
  padding 20px 0
  background-color optional
  border-bottom 1px solid rgba(255, 255, 255, 0.5)
  color white
  h3
    border-right 1px solid white
  i
    height 30px
    padding-right 30px
  p
    margin-bottom 0
  .nav-link
    padding 0
    color white
    font-size 18px
    p
      font-size 18px
#footer-top
  padding 40px 0
  background-color #999
  background-size cover
  background-position center
.bottom-footer
  border-top 1px solid #ccc
  background-color #999
  padding 30px 0
footer
  .white
    color white
  .payment-type.contact-sty i
    color white
    padding-left 4px
    font-size 22px
  .contact-sty
    h3
      color white
      padding-bottom 5px
      font-size 18
      border-bottom 1px solid white
    .list-social-media
      padding 0
      li > a
        color white
    .list
      a
        color white
        &:hover
          color white
          transition all .25s ease-in-out

    .download-app > i
      font-size 48px
      padding-right 20px
      &:hover
        color #d96263

/**************** Gallery ***************/
.deckgrid[deckgrid]::before
  content '3 .column.size-1-3'
  font-size 0
  visibility hidden

.deckgrid
  margin 0 auto
  .column
    float left
    &.size-1-5
      width 20%
    &.size-1-4
      width 25% /* 325px */
    &.size-1-3
      width 33.33333%
    &.size-1-2
      width 50%
    &.size-1-1
      width 100%

.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-4 {
  width: 25%;
}

.a-card
  margin 10px

@media screen and (max-width: 840px)
  .deckgrid[deckgrid]::before
    content '3 .column.size-1-3'

@media screen and (min-width: 481px) and (max-width: 768px)
  .deckgrid[deckgrid]::before
    content '2 .column.size-1-2'

@media only screen and (max-device-width : 320px),  only screen and (max-width : 480px)
  .deckgrid[deckgrid]::before
    content '1 .column.size-1-1'


/**************** SWEET ALERT ***************/
.sweet-alert button
  background-color #ff7300 !important
  &:hover
    background-color #bc5508 !important
.sweet-alert .cancel
  background-color #707070 !important
  &:hover
    background-color #4b4b4b !important
.btn-paypal
  border-radius 0 !important
  color #fff
  border-color steelblue
  background steelblue
  .btn-paypal&:hover, .btn-paypal&:focus
    border-color steelblue
    background steelblue !important
    color #fff

.img-gallery-single
  padding 0
  clear both
  width 560px
  height 340px
  background-size cover
  background-position center center

.selectdemoSelectHeader
  .demo-header-searchbox
    border none
    outline none
    height 100%
    width 100%
    padding 0
  .demo-select-header
    box-shadow 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12)
    padding-left 10.667px
    height 48px
    cursor pointer
    position relative
    display flex
    align-items center
    width auto
  md-content
    &._md
      max-height 240px
md-input-container > md-select
  border 1px solid #ddd
