/* Medium Layout: 1280px. */

/*@media only screen and (min-width: 992px) and (max-width: 1280px) */


/* Tablet Layout: 768px. */
@media only screen and (min-width: 991px) and (max-width: 1024px)
  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important
  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%

@media only screen and (min-width: 768px) and (max-width: 991px)

  .header_area_text
    padding-right 160px


  .single_feature i
    left 38%


  .story_image
    margin-bottom 20px


  .skills
    margin-top 50px

  .company_address
    padding 10px 26px

  .single_blog .comment-area
    margin-top -5px
  .outstanding-cmmnt
    margin-top -1px !important

  .single_blog
    .title-outstanding
      font-size 32px !important
      padding 15px 10px !important
    h2
      display inline-block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      -o-text-overflow ellipsis
      width 100%
    img
      width 100%
      height 100%


@media only screen and (min-width: 768px) and (max-width: 1024px)
  .navbar-toggler span 
    color fontClr
  .slider-box .slider-img
    background-size cover
  .one-rows-nav .first-row .nav-link
    font-size 13px 
  .one-rows-nav
    .first-row
      background-color white
      .navbar-nav
        flex-direction row
  .shopcart-qty > input
    margin 0 auto
  .btn-sm
    padding 5px 5px !important
    font-size 14px !important
  .nav-user > li
    float left !important
  .nav-user 
    background transparent !important
    margin-top 0 !important
    box-shadow none !important
    border-top 0 !important
    .btn
      font-size 14px
      padding 5px 5px !important

  .hide-tablet
    display inline
  .mobile, .ca-phone
    display none
  .header .navbar-default
    height 80px
  .excerpt-shopping
    padding-top 50px
  .detail-qty
    margin-left 42%
  .detail-price
    text-align center !important
  .product-info
    height 142px
  .header-title
    height auto
  .header-title .title
    padding 20px 0
  .content
    margin-top 175px
  .services .box-service h3 
    padding 12px 20px 0
    text-align center

  #contact-section
    background-size cover
    padding 30px 0

  .menu-dash
    .menu-item
      margin-bottom 10px
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px)
  #home .section-one, #home .section-two, #home .section-four, 
  #home .section-five, #home .section-six, #home .section-seven
    padding 30px 0
  .section-three 
    padding 0 !important  
  .section-one 
    p 
      text-align center
    .snip1190  
      margin 10px auto 
  figure.snip1190
    margin 10px auto 
  .navbar-toggler span
    color fontClr
  .one-rows-nav
    .first-row
      background-color #f5f5f5
      .navbar-nav
        flex-direction row
        justify-content center !important
  .owl-carousel-products
    .owl-nav
      button.owl-prev
        left 0
        &:hover
          color optional
          background-color transparent
      button.owl-next
        right 0
  .first-row
    .nav
      -ms-flex-pack center !important
      justify-content center !important

  .shopping-cart
    padding 0 5px !important
    margin-left 0
    top 5px
    .qty-cart
      background-color #f5f5f5
      top 0
      left 10px
    i
      color black
  .xs-hidde
    display none

  /* NAVBAR TRHEE ROWS */
  .three-rows-nav
    .navbar
      padding 10px 0
      .container
        padding 0
        .navbar-collapse
          border-top 1px solid #f5f5f5
          padding 15px
          margin-top 10px
    .navbar-light .navbar-toggler
      color white
      border-color white
    .second-row
      padding 15px 0 0
      .text-left
        text-align center !important
      .logo
        padding 15px
        width 60%
        height auto
        margin 0 auto
      .nav
        position absolute
        top -10px
        z-index 999
        > li > .shopping-cart
          top 5px
          i
            color white
            font-size 38px
            padding 5px
          span
            background-color dark
            color white
        .btn-dark
          background-color transparent
          border-color transparent

  .mobile-hidde
    display none!important
  .desk-hidde
    display inline!important
  /* SLIDER */
  .slider-box
    .slider-img
      height 300px
      background-size cover
    .owl-nav
      display none
  .slider-small
    .col-sm-3
      border 1px solid black
      margin 35px
      padding-top 10px
      padding-bottom 10px
  /* SECTION ONE */
  .section-three
    h3 
      font-size 18px
    p 
      font-size 14px  
    .box-post-blog .box-container-post
      padding 15px 0
  .section-two
    .title-middle-line .text-content .font-type 
      text-transform uppercase
      font-size 24px
      margin-top 6px
  .section-one
    .rounded-cicle
      margin-top 15px
    p
      text-align justify
      padding-right 0
  .temp-shopcart
    .shopcart-description
      font-size 14px
    .shopcart-img
      height 100px
      background-size 50%
      background-position center
    h4
      margin-bottom 15px

  #temp-cart-details
    .details-prodpay
      margin-bottom 15px
  .temp-dashboard
    padding 0
    .list-group
      margin-bottom 25px
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px)
  .single_feature i
    left 46%
    top -22%

  .single_blog img
    width 100%

@media only screen and (min-width: 360px) and (max-width: 640px)
  t
  .single_feature i
    left 46%
    top -22%

  .single_blog img
    width 100%
