<section id="content-area" class="content-blog">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-left"></i> Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 content-pages">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-default box-blog">
                            <a title="Leer más" post-link="{ link: {url: post.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" post-image="{{ post.urlImages.original }}"
                                     alt="{{ post.title }}">

                                <h2>hello</h2>

                                <p>Lorem impsu detal log to me</p>

                                <div class="comment-area">
                                    <div class="date floatleft">
                                        <p><span><i class="fa fa-calendar-o"></i></span> 12/08/2016 </p>
                                    </div>
                                    <div class="comment floatright">
                                        <p><span><i class="fa fa-user"></i></span> María Eugenia R.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="post.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>

                    <div class="col-sm-12" ng-show="!post.busy">
                        <h2 class="text-center" ng-show="!post.list.length">Lo sentimos no contamos con contenido
                            disponible</h2>
                    </div>
                </div>
                <!--post list -->
            </div>
            <div class="col-md-3 widgets">
                <div class="box-sidebar">
                    <div class="box-header">
                        Prendas destacadas
                    </div>
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box-sidebar">
                    <div class="box-header">
                        Contáctanos
                    </div>
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>