<section id="content-area" class="content-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="col-md-12 title">
                    <h2 class="title-single">{{ 'Noticias'|translate }}</h2>
                    <hr class="divider"/>
                </div>

                <div class="content-pages" infinite-scroll='Post.getMorePosts()'
                     infinite-scroll-disabled='Post.busy || !Post.next || Post.loadPosts'>
                    <div class="row">
                        <div class="col-sm-4" ng-repeat="entry in Post.list">

                            <a post-link="{ link: {url: entry.link, target: '_blank'} }"
                               ui-sref="post_detail({slug: entry.slug})" title="{{ entry.title }}">
                                <div class="box-default">
                                    <div class="box-header-blog" style="background-image: url('{{ entry.urlImages.thumbnails ? entry.urlImages.thumbnails : 'http://www.novavetlabs.com/img/img-default.jpg' }}')">
                                    </div>

                                    <div class="box-container">
                                        <div class="height-title"><h3>{{ entry.title }}</h3></div>
                                        <div class="height-summary"><p>{{ entry.excerpt| characters:50 }}</p></div>
                                    </div>
                                    <div class="box-footer">
                                        <p><span><i class="fa fa-calendar-"></i></span>
                                            {{ entry.createdAt | date : shortDate }} </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="col-sm-12" ng-show="Post.busy">
                            <h3 class="text-center">{{ 'Cargando'|translate }} <i class="fa fa-spinner fa-spin"></i></h3>
                        </div>
                        <div class="col-sm-12" ng-show="!Post.busy">
                            <h2 class="text-center no-content" ng-show="!Post.list.length">{{ 'no-contenido'|translate }}
                            </h2>
                        </div>
                    </div>
                    <!--post list -->
                </div>
            </div>
            <div class="col-md-3 col-sm-3 widgets">
                <ng-include src="'/templates/partials/sidebar.html'"></ng-include>
            </div>
        </div>
    </div>
</section>