<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">< Blog ></h2>
                <hr class="divider"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-sm-3" ng-repeat="post in post.list.results">
                        <div class="single_blog wow slideInUp" data-wow-duration="1s">
                            <a title="Ver detalle" ui-sref="post_detail({slug: post.slug})">
                                <img class="img-responsive" ng-src="{{ post.featuredImage }}" alt="{{ post.title }}">
                            </a>
                            <h2>{{ post.title }}</h2>

                            <div class="comment_area fix">
                                <p ng-bind-html="post.excerpt"></p>

                                <div class="date floatleft">
                                    <p><span><i class="fa fa-calendar-o"></i></span> {{ post.createdAt|date:'d/MM/yyyy' }}</p>
                                </div>
                                <div class="comment floatright">
                                    <p><span><i class="fa fa-user"></i></span> {{ post.author.nick }}.</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-green btn-sm btn-block " ui-sref="post_detail({slug: post.slug})">Detalle</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--post list -->
            </div>
        </div>
    </div>
</section>