<section class="main-bg-pages" style="background-image: url('../img/imagee.jpg')"></section>
<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title-post">
                <h2 class="title">{{ Post.categoryName }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-md-4" ng-repeat="entry in Post.list">
                        <div class="box-default">
                            <a ui-sref="post_detail({slug: entry.slug})">
                                <div class="box-header"
                                     style="background-image: url('{{ entry.urlImages.medium }}"></div>

                                <div class="description">
                                    <h3><a ui-sref="product_detail({slug: entry.slug})">{{ entry.title }} </a></h3>
                                    <h4>{{ entry.excerpt }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="Post.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>

                    <div class="col-sm-12" ng-show="!Post.busy">
                        <h2 class="text-center no-content" ng-show="!Post.list.length">Lo sentimos no contamos con
                            contenido
                            disponible</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>