<section class="main-bg-pages"></section>
<section id="content-area" class="content-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2 class="title-single">¿Necesitas ayuda?</h2>
                    <h4>Aquí encontrarás las herramientas necesarias para solucionar todas tus dudas</h4>
                    <hr class="divider"/>
                </div>

                <div class="content-pages">
                    <div class="row">
                        <!--<div class="col-sm-6" >-->
                        <div class="col-sm-6" ng-repeat="item in Post.categories">
                            <a post-link="{ link: {url: item.link, target: '_blank'} }"
                               ui-sref="category_doc({slug: item.slug})" title="{{ item.name }}">
                                <div class="box-default box-doc">
                                    <div class="box-header" style="background-image: url('{{ item.urlImages.original ? item.urlImages.original : 'http://localhost:8080/img/img-default.jpg' }}')"></div>
                                    <div class="box-container">
                                        <div class="height-title"><h3>{{ item.name }}</h3></div>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                    <!--post list -->
                </div>
            </div>
        </div>
    </div>
</section>