<!-- slider section -->
<div class="carousel slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <uib-carousel interval="5300" template-url="/templates/partials/slider-template.html">
            <uib-slide ng-repeat="slide in Home.slider">
                <div class="item">
                    <a post-link="{ link: {url: slide.link, target: 'slide.target'} }"
                       ui-sref="post_detail({slug: slide.slug})">
                        <img post-image="{{ slide.urlImages.original }}" class="img-slide" alt="{{ slide.title }}">
                    </a>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>
</div>

<!-- /slider section -->

<section id="section-sports" class="section_padding">
    <div class="container">
        <h3 class="white">¿Cuál es tu deporte?</h3>

        <div class="col-md-2">
            <a href="#"><img src="img/icons-sport/aerobico.png" alt=""/></a>
            <h4>Aeróbico</h4>
        </div>
        <div class="col-md-2">
            <a href="#"><img src="img/icons-sport/baile.png" alt=""/></a>
            <h4>Danza</h4>
        </div>
        <div class="col-md-2">
            <a href="#"> <img src="img/icons-sport/caminata.png" alt=""/></a>
            <h4>Caminata</h4>
        </div>
        <div class="col-md-2">
            <a href="#"><img src="img/icons-sport/correr.png" alt=""/></a>
            <h4>Correr</h4>
        </div>
        <div class="col-md-2">
            <a href="#"><img src="img/icons-sport/crossfit.png" alt=""/></a>
            <h4>Crossfit</h4>
        </div>
        <div class="col-md-2">
            <a href="#"><img src="img/icons-sport/yoga.png" alt=""/></a>
            <h4>Yoga</h4>
        </div>
    </div>
</section>
<!-- end portfolio say area -->

<section id="story_area" class="section_padding">
    <div class="container">
        <div class="owl-carousel owl-theme">
            <div class="box-default">
                <div class="box-header">
                    <a href="#"> <img src="img/sujetador-deportivo1.jpg" alt=""/></a>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
            <div class="box-default">
                <div class="box-header">
                    <a href="#"><img src="img/sujetador-deportivo1.jpg" alt=""/></a>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
            <div class="box-default">
                <div class="box-header">
                    <img src="img/sujetador-deportivo1.jpg" alt=""/>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
            <div class="box-default">
                <div class="box-header">
                    <img src="img/sujetador-deportivo1.jpg" alt=""/>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
            <div class="box-default">
                <div class="box-header">
                    <img src="img/sujetador-deportivo1.jpg" alt=""/>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
            <div class="box-default">
                <div class="box-header">
                    <img src="img/sujetador-deportivo1.jpg" alt=""/>
                </div>
                <div class="box-container">
                    <h1>Sujetador Blue Mía</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Experience_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="experience wow slideInUp">
                    <h2>Nuestra experiencia</h2>

                    <p>A lo largo de los años nos hemos convertido en expertos en realizar proyectos que satisfagan las
                        necesidades de nuestros clientes, sin embargo siempre tratamos de mantenernos a la vanguardia
                        usando nuevas tecnologías que beneficien nuestros proyectos y a nuestros clientes.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills" ng-repeat="skill in home.skills.results">
                    <h2>{{ skill.name }}</h2>

                    <div class="col-md-12 no-padding">
                        <div class="skill_right">
                            <div class="wow slideInUp col-md-6 pd-skill" ng-repeat="child in skill.children">
                                <h3>{{ child.name }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end experience area -->

<section id="clients_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">Alianzas</h2>
                <h4 class="title">El buen servicio y los buenos resultados conducen a la confianza</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" ng-repeat="partner in home.parterns.results">
                <div class="alliance wow slideInUp" data-wow-duration="1s">
                    <a title="Leer más" post-link="{ link: {url: partner.link, target: '_blank'} }"
                       ui-sref="post_detail({slug: partner.slug})">
                        <img class="img-responsive img-alliance" post-image="{{ partner.urlImages.original }}"
                             alt="{{ partner.title }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end clients area -->

<section id="caal_to_action_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="call_to_action_text" data-wow-duration="2s">
                    <h2>¡Hablanos de tu proyecto!</h2>

                    <p>Envíanos un mensaje, dinos cuales son tus dudas y te atenderemos de ¡inmediato!</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="call_project text-right" data-wow-duration="2s">
                    <a ui-sref="contact" class="btn-white-clear">Comenzar mi proyecto</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end call to action area -->