<div id="home">
    <section class="slider-box">
        <data-owl-carousel class="owl-carousel owl-theme owl-theme-slider" data-options="Home.owlOptionsSlider">
            <div owl-carousel-item="" ng-repeat="slide in Home.mainSlider" class="item">
                <div class="item" style="width: 100%;">
                    <a post-link="{ link: {url: slide.link, target: '_self'} }">
                        <div class="slider-img" style="background-image:url('{{ slide.featuredImage.url }}');"></div>
                    </a>
                </div>
            </div>
        </data-owl-carousel>
    </section>
    <section class="section-one">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" ng-repeat="item in Home.categoryProd">
                    <figure class="snip1190">
                        <div class="img-caption"
                             style="background-image: url('{{item.featuredImage.url ? item.featuredImage.url : initConfig.img_default}}');"></div>
                        <figcaption>
                            <div class="square">
                                <div></div>
                            </div>
                            <h2>{{ item.title }}</h2>
                            <p>{{item.excerpt}}</p>
                        </figcaption>
                        <a post-link="{ link: {url: item.link, target: '_self'} }"></a>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two" ng-controller="ShoppingCtrl as Shop">
        <div class="container">
            <div class="title-middle-line">
                <div class="text-content">
                    <h1 class="font-type">Novedades</h1>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-3" ng-repeat="product in Home.products">
                    <ng-include src="'/templates/partials/box-product.html'"></ng-include>
                </div>
            </div>
            <div class="title-middle-line" style="padding-top: 20px">
                    <div class="text-content">
                        <h1 class="font-type">Lo más buscado</h1>
                    </div>
                    <hr>
                </div>
            <data-owl-carousel class="owl-carousel owl-theme owl-carousel-products" data-options="Home.owlOptionsProducts">
                <div owl-carousel-item ng-cloak class="box-simple" ng-repeat="product in Home.productsItem">
                    <div class="item">
                        <div class="box-header">
                            <a ui-sref="product-detail({slug:product.slug})" title="Ver más">
                                <div class="box-bg-img"
                                     style="background-image: url('{{product.featuredImage.url ? product.featuredImage.url : initConfig.img_default}}')"></div>
                            </a>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="row align-items-center">
                            <div ng-class="product.offerPrice > 0 ? 'col-sm-12': 'col-sm-8'">
                                <p class="box-title">{{ product.name | limitTo:40}}</p>
                            </div>
                            <div ng-class="product.offerPrice > 0 ? 'hide': 'col-sm-4'">
                                <p>{{ product.price | currency }}</p>
                            </div>
                            <div class="col-sm-12 no-padding" ng-if="product.offerPrice > 0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 no-pd-r">
                                            <!--Offert price-->
                                            <p class="offer-price" ng-if="product.offerPrice > 0">{{ product.offerPrice | currency }}</p>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <!--old price-->
                                            <p class="old-price" ng-if="product.offerPrice > 0">{{ product.price | currency }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <a ui-sref="product-detail({slug:product.slug})" class="btn btn-block btn-white">Comprar</a>
                            </div>
                        </div>
                    <!--<p class="label-danger" ng-if="product.inventory <= 0"> Producto agotado</p>-->
                    </div>
                </div>
            </data-owl-carousel>
        </div>
    </section>

    <section class="section-three">
        <div class="container">
            <div class="row box-post-blog align-items-center" ng-repeat="post in Home.blogHome">
                <div class="col-sm-6 col-6">
                    <article class="box-container-post">
                        <h3 class="text-uppercase">{{post.title}}</h3>
                        <p>{{post.excerpt}}</p>
                        <a ui-sref="post_detail({slug:post.slug})" class="btn btn-dark">Visita nuestro blog <i class="fa fa-angle-right"></i></a>
                    </article>
                </div>
                <div class="col-sm-6 col-6 no-padding">
                    <div class="img-post" style="background-image: url('{{post.featuredImage.url}}')"></div>
                </div>
            </div>
        </div>
    </section>
</div>