<div class="header-title-page">
    <div class="img-title" style="background-image: url('../img/bg-header.jpg')">
        <h2 class="title">{{ Page.detail.title }}</h2>
    </div>
</div>
<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <img ng-src="{{ Page.detail.urlImages.medium }}" alt="{{ Page.detail.title }}"/>

                <div ng-bind-html="Page.detail.content"></div>
                <!--gallery here-->
                <div deckgrid class="deckgrid gallery" source="Page.detail.galleryImages">
                    <div class="a-card portfolio_content box-portfolio" data-wow-duration="2s">
                        <a post-link="{ link: {url: card.link, target: '_blank'} }"
                           href="{{ card.urlImages.original }}"
                           data-lightbox="gallery-images">
                            <img class="thumbnail img-responsive" post-image="{{ card.urlImages.large }}"
                                 alt="{{ card.title }}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widgets">
                <ng-include src="'/templates/partials/sidebar.html'"></ng-include>
            </div>
        </div>
    </div>
</section>