<section id="content-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-left"></i> Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <div class="row">
            <div class="col-md-9">
                <h2 class="title">{{ Page.detail.title }}</h2>

                <img ng-src="{{ Page.detail.urlImages.medium }}" alt="{{ Page.detail.title }}"/>

                <div ng-bind-html="Page.detail.content"></div>
                <!--gallery here-->
                <div deckgrid class="deckgrid gallery" source="Page.detail.galleryImages">
                    <div class="a-card portfolio_content box-portfolio" data-wow-duration="2s">
                        <a post-link="{ link: {url: card.link, target: '_blank'} }"
                           href="{{ card.urlImages.original }}"
                           data-lightbox="gallery-images">
                            <img class="thumbnail img-responsive" post-image="{{ card.urlImages.large }}"
                                 alt="{{ card.title }}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widgets">
                <div class="box-sidebar">
                    <div class="box-header">
                        Prendas destacadas
                    </div>
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box-sidebar">
                    <div class="box-header">
                        Contáctanos
                    </div>
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                            <li class="list-group-item"><a href="#">Cras justo odio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>