<div class="header-title">
    <h2 class="title text-center">Proceso de pago</h2>
</div>
<section id="content-area">
    <div class="container">
        <div class="cart-form">
            <form action="">
                <div class="row">
                    <div class="col-sm-9 col-md-9 detail-payment-shop" style="background: #eee;">
                        <div class="col-xs-12"><p>Elige una dirección de envío a domicilio</p></div>
                        <div class="col-xs-12 col-sm-6 col-md-11">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre(*)</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="">Apellidos(*)</label>
                                    <input type="text" class="form-control" id="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Teléfono celular(*)</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                                <div class="form-group">
                                    <label for="">Teléfono fijo (opcional)</label>
                                    <input type="text" class="form-control" id="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Dirección</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="name">N° Exterior</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="name">N° Interior (opcional)</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Código postal</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Estado</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Ciudad</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Colonia</label>
                                    <input type="text" class="form-control" id="name">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12"><p>Método de pago</p></div>

                        <div class="col-xs-12 col-sm-6 col-md-11" style="background: #eee;">

                            <div class="col-md-12">
                                <label class="radio-inline"><input type="radio" name="payment" value="">Depósito
                                    bancario</label>
                                <label class="radio-inline"><input type="radio" name="payment" value="">Tarjeta de
                                    débito /
                                    crédito</label>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre titular</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">N° de tarjeta</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Tipo de tarjeta</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="name">Vencimiento (Mes / Año)</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="padding-top: 5px;">
                                    <label for=""></label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="details-prod">
                            <h4>Resumen de pedido</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Subtotal(1)</td>
                                        <td>$490.00</td>
                                    </tr>
                                    <tr>
                                        <td>Envío</td>
                                        <td>$99.00</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>$589</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-cart btn-block">Procesar compra</button>
                            </div>
                            <div class="type-payment" style="padding-top: 25px;">
                                <p>Tipo de pago:</p>
                                <p>Pago con tarjeta de débito / crédito</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<div class="row">

</div>