<div class="temp-product-detail">
    <section class="article-content" ng-controller="ShoppingCtrl as Shop">
        <div class="container">
            <article class="row">
                <div class="col-sm-7">
                    <div class="owl-carousel owl-theme owl-theme-page">
                        <div class="slider" ng-repeat="slide in Product.detail.galleryImages" ng-repeat-owl-carousel
                             carousel-init="Product.carouselDetailProduct">
                            <div class="item" style="width: 100%;">
                                <a post-link="{ link: {url: slide.link, target: '_self'} }">
                                    <div class="slider-page"
                                         style="background-image:url('{{ slide.attached_file ? slide.attached_file : initConfig.img_default }}');"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-image-single" ng-if="Product.detail.galleryImages.length < 1"
                         style="background-image:url('{{ Product.detail.featuredImage.url }}');"></div>
                </div>
                <div class="col-sm-5">
                    <div class="article-description">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="text-uppercase">{{Product.detail.name}}</h1>
                                    <br>
                                    <h2 class="article-price">{{ Product.detail.price | currency}}</h2>
                                    <span ng-if="Product.detail.inventory <= 0 && Product.detail.kind === 'product'" style="font-size: 13px;"> Producto agotado</span>
                                    <br>

                                </div>
                                <div class="col-sm-12">
                                    <form name="FormQty">
                                        <div class="row">
                                            <ng-include style="width:100%" src="'/templates/partials/options-group.html'"></ng-include>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="md-block">
                                                    <label>Cantidad</label>
                                                    <input type="number" placeholder="0" ng-model="Product.detail.qty" min="1"
                                                            ng-pattern="/^-?[0-9][^\.]*$/" name="qty" 
                                                            compare-greater="Product.detail.inventory" required/>
                                                    <div class="errors" ng-messages="FormQty.qty.$error">
                                                        <div ng-message="required">Requiredo</div>
                                                        <div ng-message="pattern">Cantidad no valida</div>
                                                        <div ng-message="compareGreater">Cantidad de producto no disponible</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </form>
                                    <button ng-click="Shop.setItem({id: Product.detail.id, name: Product.detail.name,
                                        price: Product.detail.price, image: Product.detail.featuredImage.url,
                                        qty: Product.detail.qty, taxonomies : Product.detail.taxonomies, shipmentPrice: Product.detail.shipmentPrice, typeTax: Product.detail.typeTax, stock: Product.detail.inventory}, Product.detail.qty)"
                                            ng-disabled="Shop.itemInCart(Product.detail.id)|| FormQty.$invalid || Product.detail.inventory <= 0"
                                            class="btn btn-optional"> <i class="fa fa-shopping-cart"></i>Agregar a carrito
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <article class="box-description-detail-product">
                        <h4>Descripción</h4>
                        <hr>
                        <p class="prod-detail-descrip" ng-bind-html="Product.detail.description | trustHtml">
                            {{Product.detail.description}}</p>
                    </article>
                </div>
            </article>
        </div>
    </section>
</div>