<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-angle-left"></i> Regresar a inicio</a></li>
            <li ng-if="Product.detail.taxonomies.length"><a
                    ui-sref="category({slug: Product.detail.taxonomies[0].slug })">{{ Product.detail.taxonomies[0].name }}</a>
            </li>
            <li class="active">{{ Product.detail.name }}</li>
        </ol>
    </div>
</div>
<hr class="no-margin">
<section id="content-area" class="content-blog product-detail container" ng-controller="ShoppingCtrl as Shop">
    <div class="col-sm-4">
         <div id="carouse-principal" class="carousel slide" style="margin-bottom: 25px">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <uib-carousel interval="5000" template-url="/templates/partials/carousel.html">
                    <uib-slide ng-repeat="slide in Product.detail.attachments">
                        <a post-link="{ link: {url: slide.link, target: '_self'} }">
                            <div class="detail-img" style="background-image:url('{{slide.url ? slide.url : initConfig.img_default}} ');"></div>
                        </a>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <h3 class="detail-title">{{Product.detail.name}}</h3>
        <hr>
        <div class="col-sm-4 text-left">
            <h3 class="detail-price">{{ Product.detail.price | currency}}</h3>
            <div class="detail-qty">
                <small>Cantidad</small>
                <input type="number" placeholder="0" ng-model="Product.detail.qty" class="form-control cart-qty" min="1" required>
            </div>
             <button ng-click="Shop.setItem({id: Product.detail.id, name: Product.detail.name,
                                        price: Product.detail.price, image: Product.detail.featuredImage.url, qty: Product.detail.qty}, Product.detail.qty)"
                ng-disabled="Shop.itemInCart(Product.detail.id)"
                class="btn btn-orange">Agregar a carrito</button>
        </div>
        <h4 class="prod-detail-descrip" ng-bind-html="Product.detail.description | trustHtml">
            {{Product.detail.description}}</h4>
    </div>
</section>
