<section id="content-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-left"></i> Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">{{ Post.categoryName }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-md-4" ng-repeat="entry in Post.list">
                        <div class="box-default">
                            <div class="box-header">
                                <a ui-sref="project_detail({slug: entry.slug})"><img
                                        post-image="{{ entry.urlImages.medium }}" alt="{{ entry.title }}"/></a>
                            </div>
                            <div class="box-container">
                                <h1>{{ entry.title }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="Post.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>

                    <div class="col-sm-12" ng-show="!Post.busy">
                        <h2 class="text-center" ng-show="!Post.list.length">Lo sentimos no contamos con contenido
                            disponible</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>