<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">Proyectos</h2>
                <hr class="divider"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-sm-4" ng-repeat="project in project.list.results">
                        <div class="portfolio_page wow slideInUp" data-wow-duration="2s">
                            <a title="Leer más" post-link="{ link: {url: project.link, target: '_blank'} }" ui-sref="project_detail({slug: project.slug})">
                                <img class="portfolio_img" post-image="{url:project.urlImg}">
                                <h3>{{ project.title }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>