<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">{{ Item.detail.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="content-pages">
                <div class="container">
                    <div class="col-sm-4 no-padding">
                        <a href="{{ Item.detail.urlImages.original }}"
                           data-lightbox="gallery-images">
                            <div class="box-default">
                                <div class="box-header">
                                    <img ng-src="{{ Item.detail.urlImages.medium }}" alt=""/>
                                </div>
                                <div class="box-container">
                                    <h1>{{ Item.detail.title }}</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="box-detail">
                            <div class="title">
                                <h1>{{ Item.detail.title }}</h1>
                            </div>
                            <div class="description" ng-bind-html="Item.detail.content"></div>
                            <!-- se muestra si es distribuidor (log)-->
                            <div class="no-distribuidor">
                                <p>
                                    ¿No eres distribuidor y deseas obtener esta o varias
                                    prendas?, comunicate con nosotros y con gusto
                                    te atenderemos.
                                </p>
                            </div>
                            <!-- Se muestra cuando eres distribuidor -->
                            <div class="distribuidor">
                                <label for="selectItems">Selecciona la cantidad</label>
                                <select name="" id="selectItems">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>
                            </div>
                            <button class="btn-orange btn-block"><i class="fa fa-shopping-cart"></i> Agregar a carrito
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12" ng-show="Item.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>