<section id="content-area">
    <div class="container" infinite-scroll='Search.getMorePosts()'
         infinite-scroll-disabled='Search.busy || !Search.next || Search.loadPosts'>
        <div class="row">
            <div class="col-md-12 title-post">
                <h2 class="title">Resultados de la busqueda: {{ Search.searchTerm }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-pages">
                <div class="container">
                    <div class="col-md-4" ng-repeat="entry in Search.listSearch">
                        <div class="box-default">
                            <div class="box-header">
                                <a ui-sref="project_detail({slug: entry.slug})"><img
                                        post-image="{{ entry.urlImages.medium }}" alt="{{ entry.title }}"/></a>
                            </div>
                            <div class="box-container">
                                <h1>{{ entry.title }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 caption-style" ng-show="!Search.busy && Search.loadPostError">
                        <h4 class="text-center text-danger">Error al cargar el contenido, presione
                            <a href="#" ng-click="Search.errorRecovery()">aquí</a> para intentar de nuevo</h4>
                    </div>
                    <div class="col-sm-12 caption-style" ng-show="!Search.busy && Search.loadPosts">
                        <div class="pagination center-block">
                            <a class="more-articles-button" ng-click="Search.getMorePosts()">Cargar mas contenido</a>
                        </div>
                    </div>
                    <div class="col-sm-12 caption-style" ng-show="Search.busy">
                        <h3 class="text-center">Cargando <i class="fa fa-spinner fa-spin"></i></h3>
                    </div>
                    <div class="col-sm-12 caption-style" ng-show="!Search.busy">
                        <h4 class="text-center" ng-show="!Search.listSearch.length">Lo sentimos no contamos con
                            contenido para esta categoría</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>