<section id="content-area" class="content-blog">
    <div class="content-pages" infinite-scroll='Search.getMorePosts()'
         infinite-scroll-disabled='Search.busy || !Search.next || Search.loadPosts'>
        <div class="container">
            <h2 class="title">Resultados de la busqueda: {{ Search.searchTerm }}</h2>
            <hr>
            <div class="col-sm-3" ng-repeat="item in Search.listSearch">
                <div class="box-prod" ng-if="!Search.isPost">
                    <a ui-sref="item-detail({slug:item.slug})" title="Ver detalles del producto">
                        <div class="bg-prod" style="background-image: url('{{item.featuredImage.url ? item.featuredImage.url : initConfig.img_default}}')"></div>
                    </a>
                    <div class="box-container no-padding container-fluid">
                        <div class="col-sm-12 no-pd-l text-center">
                            <p>{{item.name}}</p>
                            <h4>{{ item.price | currency }}</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid no-padding">
                        <div class="col-12">
                            <a class="btn btn-gray-clear btn-block"  ui-sref="product-detail({slug:item.slug})">Ver más</a>
                        </div>
                    </div>
                </div>

                <div class="box-prod" ng-if="Search.isPost">
                    <a ui-sref="post_detail({slug:item.slug})">
                        <div class="bg-prod"
                             style="background-image: url('{{item.featuredImage.url ? item.featuredImage.url : initConfig.img_default }}')"></div>
                        <h3 class="prod-descrip">{{item.title}}</h3>
                    </a>
                    <a ui-sref="post_detail({slug: item.slug})" class="btn btn-success btn-cart">Ver más</a>
                </div>
            </div>
            <div class="col-sm-12" ng-show="Search.busy">
                <h3 class="text-center">Cargando<i class="fa fa-spinner fa-spin"></i></h3>
            </div>
            <div class="col-sm-12" ng-show="!Search.busy">
                <h2 class="text-center no-content" ng-show="!Search.listSearch.length">Lo sentimos no contamos con
                    contenido disponible</h2>
            </div>
        </div>
        <!--post list -->
    </div>
</section>