<section class="main-bg-pages" style="background-image: url('../img/imagee.jpg')"></section>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-angle-left"></i> Regresar a inicio</a></li>
            <li><a href="#">Excursiones</a></li>
            <li class="active">Entry detail</li>
        </ol>
    </div>
</div>
<section id="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12 title-post">
                    <h2 class="title">{{ Post.detail.title }}</h2>
                </div>
                <div class="content-post" ng-if="Post.isBlog">
                    <img post-image="{{ Post.detail.urlImages.medium }}"
                         class="pull-left img-responsive img-thumbnail margin10"/>
                    <article ng-bind-html="Post.detail.content | trustHtml"></article>
                    <!--gallery here-->
                    <div deckgrid class="deckgrid gallery" source="Post.detail.galleryImages">
                        <div class="a-card portfolio_content box-portfolio" data-wow-duration="2s">
                            <a post-link="{ link: {url: card.link, target: '_blank'} }"
                               href="{{ card.urlImages.original }}"
                               data-lightbox="gallery-images">
                                <img class="thumbnail img-responsive" post-image="{{ card.urlImages.large }}"
                                     alt="{{ card.title }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-post" ng-if="!Post.isBlog">
                    <div class="pull-left margin10">
                        <uib-carousel interval="5000" template-url="/templates/partials/carousel-single.html">
                            <uib-slide ng-repeat="slide in Post.detail.galleryImages">
                                <div class="img-gallery-single"
                                     style="background-image:url('{{ slide.urlImages.original }}');"></div>
                            </uib-slide>
                        </uib-carousel>
                    </div>

                    <article ng-bind-html="Post.detail.content | trustHtml"></article>
                </div>
            </div>
            <div class="col-md-3 widgets">
                <ng-include src="'/templates/partials/sidebar.html'"></ng-include>
            </div>
            <!-- Viajes coral te recomienda -->
            <div class="col-md-12">
                <div class="col-md-12 title">
                    <h2 class="title-single">Viajes Coral te recomienda</h2>
                    <hr class="divider"/>
                </div>
                <div class="col-md-3">
                    <a post-link="{ link: {url: entry.link, target: '_blank'} }"
                       ui-sref="post_detail({slug: entry.slug})" title="{{ entry.title }}">
                        <div class="box-default">
                            <div class="box-header"
                                 style="background-image: url('{{ entry.urlImages.thumbnails }}')">
                            </div>

                            <div class="box-container">
                                <h3>¿Qué articulos no deben faltar en mi viaje?</h3>

                                <p>Quieres viajar y no sabes que articulos llevar? es muy sencillo pensar que es lo más
                                    importante que tienes que tener a la mano cuando viajes ..</p>
                            </div>
                            <div class="box-footer">
                                <p><span><i class="fa fa-calendar-"></i></span>
                                    17/06/2016 </p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>