<section class="main-bg-pages"></section>
<div id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a ui-sref="home"><i class="fa fa-angle-left"></i> Regresar a inicio</a></li>
            <li ng-if="Post.detail.categories.length"><a ui-sref="category({slug: Post.detail.categories[0].slug })">{{ Post.detail.categories[0].name }}</a></li>
            <li class="active">{{ Post.detail.title }}</li>
        </ol>
    </div>
</div>
<section id="content-area" class="content-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12 title-post" style="text-align:left;">
                    <h2 class="title">{{ Post.detail.title }}</h2>
                </div>
                <div class="content-post" ng-if="Post.isBlog">
                    <img post-image="{{ Post.detail.urlImages.medium }}"
                         class="pull-left img-responsive img-thumbnail margin10"/>
                    <article ng-bind-html="Post.detail.content | trustHtml"></article>
                    <!--gallery here-->
                    <div deckgrid class="deckgrid gallery" source="Post.detail.galleryImages">
                        <div class="a-card portfolio_content box-portfolio" data-wow-duration="2s">
                            <a post-link="{ link: {url: card.link, target: '_blank'} }"
                               href="{{ card.urlImages.original }}"
                               data-lightbox="gallery-images">
                                <img class="thumbnail img-responsive" post-image="{{ card.urlImages.large }}"
                                     alt="{{ card.title }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-post" ng-if="!Post.isBlog">
                    <div class="pull-left">
                        <uib-carousel interval="5000" template-url="/templates/partials/carousel-single.html">
                            <uib-slide ng-repeat="slide in Post.detail.galleryImages">
                                <div class="img-gallery-single"
                                     style="background-image:url('{{ slide.urlImages.original }}');"></div>
                            </uib-slide>
                        </uib-carousel>
                    </div>

                    <article ng-bind-html="Post.detail.content | trustHtml"></article>
                </div>
            </div>
            <div class="col-md-3 widgets">
                <ng-include src="'/templates/partials/sidebar.html'"></ng-include>
            </div>
        </div>
    </div>
</section>