<section class="content-contact-login">
    <div class="">
        <div class="form-section-login">
            <div class="container">
                <div class="col-md-6 col-md-offset-3 contact-section-login">
                    <div class="col-md-12">
                        <h3>Bienvenido a Corriente Alterna</h3>
                        <hr/>
                        <i class="fa fa-check"></i>
                        <p>Registro Correcto</p>
                        <p>Hemos enviado a tu correo un código de verificación.
                            Ingresa a tu correo para activar tu cuenta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>